Repository mia-platform/documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: fast-data, microfrontend-composer, cli, crud-service, data-catalog, release-note

feat: add projection storer 1.3.1 to RN
  docs/release-notes/v13.2.0.md
Labels: release-note

fix(control-plane): fix compatibility matrix
  docs/fast_data/runtime_management/compatibility_matrix.md
Labels: fast-data

docs(data-catalog): fix compatibility matrix
  docs/data_catalog/compatibility_matrix.md
Labels: none

chore(docs): update Data Catalog documentation
  docs/runtime_suite_templates/data-catalog/changelog.md
Labels: none

chore(docs): update Data Catalog documentation
  docs/runtime_suite_applications/data-catalog/10_overview.md
  docs/runtime_suite_applications/data-catalog/_category_.json
  docs/runtime_suite_applications/data-catalog/changelog.md
Labels: none

chore(docs): update Fast Data Control Plane Operator documentation
  docs/runtime_suite/fast-data-control-plane-operator/10_overview.md
  docs/runtime_suite/fast-data-control-plane-operator/_category_.json
  docs/runtime_suite/fast-data-control-plane-operator/changelog.md
Labels: none

chore(docs): update Data Catalog Agent documentation
  docs/runtime_suite_templates/data-catalog-agent/10_overview.md
  docs/runtime_suite_templates/data-catalog-agent/20_configuration.md
  docs/runtime_suite_templates/data-catalog-agent/_category_.json
  docs/runtime_suite_templates/data-catalog-agent/changelog.md
  docs/runtime_suite_templates/data-catalog-agent/img/architecture.png
  static/docs_files_to_download/data-catalog-agent/agent.model.schema.json
  static/docs_files_to_download/data-catalog-agent/catalog.model.schema.json
  static/docs_files_to_download/data-catalog-agent/configuration.schema.json
Labels: none

remove files related to the template
  docs/runtime_suite_templates/data-catalog/10_overview.md
  docs/runtime_suite_templates/data-catalog/20_configuration.md
  docs/runtime_suite_templates/data-catalog/_category_.json
  docs/runtime_suite_templates/data-catalog/changelog.md
  docs/runtime_suite_templates/data-catalog/img/architecture.png
  static/docs_files_to_download/data-catalog/agent.model.schema.json
  static/docs_files_to_download/data-catalog/catalog.model.schema.json
  static/docs_files_to_download/data-catalog/configuration.schema.json
Labels: none

chore(docs): update Data Catalog documentation
  docs/runtime_suite_templates/data-catalog/10_overview.md
  docs/runtime_suite_templates/data-catalog/20_configuration.md
  docs/runtime_suite_templates/data-catalog/_category_.json
  docs/runtime_suite_templates/data-catalog/changelog.md
  docs/runtime_suite_templates/data-catalog/img/architecture.png
  static/docs_files_to_download/data-catalog/agent.model.schema.json
  static/docs_files_to_download/data-catalog/catalog.model.schema.json
  static/docs_files_to_download/data-catalog/configuration.schema.json
Labels: none

chore(docs): update Fast Data Control Plane documentation (#1657)
  docs/runtime_suite_applications/fast-data-control-plane/10_overview.md
Labels: none

chore(docs): update Data Catalog documentation (#1662)
  docs/runtime_suite_applications/data-catalog/10_overview.md
  docs/runtime_suite_applications/data-catalog/_category_.json
  docs/runtime_suite_applications/data-catalog/changelog.md
  docs/runtime_suite_templates/data-catalog/20_configuration.md
  docs/runtime_suite_templates/data-catalog/changelog.md
  static/docs_files_to_download/data-catalog/agent.model.schema.json
  static/docs_files_to_download/data-catalog/catalog.model.schema.json
Labels: none

chore(docs): update Data Catalog Agent documentation (#1672)
  docs/runtime_suite_templates/data-catalog-agent/10_overview.md
  docs/runtime_suite_templates/data-catalog-agent/20_configuration.md
  docs/runtime_suite_templates/data-catalog-agent/_category_.json
  docs/runtime_suite_templates/data-catalog-agent/changelog.md
  docs/runtime_suite_templates/data-catalog-agent/img/architecture.png
  static/docs_files_to_download/data-catalog-agent/agent.model.schema.json
  static/docs_files_to_download/data-catalog-agent/catalog.model.schema.json
  static/docs_files_to_download/data-catalog-agent/configuration.schema.json
Labels: none

added some images on UI page
  docs/data_catalog/data_catalog_frontend.mdx
  docs/data_catalog/img/column_details_page.png
  docs/data_catalog/img/custom_properties_card.png
  docs/data_catalog/img/custom_properties_management_page.png
  docs/data_catalog/img/custom_property_creation.png
  docs/data_catalog/img/custom_property_delete.png
  docs/data_catalog/img/custom_property_edit.png
  docs/data_catalog/img/remove_unknown_custom_property.png
  docs/data_catalog/img/restore_unknown_custom_property.png
  docs/data_catalog/img/sor_details_page.png
  docs/data_catalog/img/table_details_page.png
  docs/data_catalog/img/unknown_custom_properties_card.png
  docs/data_catalog/overview.mdx
Labels: none

correct some links
  docs/data_catalog/data_catalog_agent_setup.mdx
  docs/data_catalog/data_catalog_fabric_bff.mdx
  docs/data_catalog/data_catalog_open_lineage.mdx
  docs/data_catalog/overview.mdx
  docs/data_catalog/secure_access.mdx
  docs/release-notes/mia-platform-v13.mdx
  docs/release-notes/v13.0.0.md
  docs/release-notes/v13.0.5.md
Labels: release-note

added bulk actions description
  docs/data_catalog/data_catalog_frontend.mdx
Labels: none

.github/labeler.yml:

fast-data:
  - changed-files:
    - any-glob-to-any-file:
      - docs/fast_data/**

microfrontend-composer:
  - changed-files:
    - any-glob-to-any-file:
      - docs/microfrontend-composer/**

cli:
  - changed-files:
    - any-glob-to-any-file:
      - docs/cli/**

marketplace:
  - changed-files:
    - any-glob-to-any-file:
      - docs/runtime_suite/**
  - head-branch:
    - doc-aggregator/*

crud-service:
  - changed-files:
    - any-glob-to-any-file:
      - docs/runtime_suite/crud-service/**

data-catalog:
  - changed-files:
      - any-glob-to-any-file:
          - docs/data-catalog/**

release-note:
  - changed-files:
    - any-glob-to-any-file:
      - docs/release-notes/**
