Repository mia-platform/documentation, changes with the labels that .github/labeler.yml gives for each.
All labels: fast-data, microfrontend-composer, cli, crud-service, data-catalog, release-note

.github/labeler.yml:

fast-data:
  - changed-files:
    - any-glob-to-any-file:
      - docs/fast_data/**

microfrontend-composer:
  - changed-files:
    - any-glob-to-any-file:
      - docs/microfrontend-composer/**

cli:
  - changed-files:
    - any-glob-to-any-file:
      - docs/cli/**

marketplace:
  - changed-files:
    - any-glob-to-any-file:
      - docs/runtime_suite/**
  - head-branch:
    - doc-aggregator/*

crud-service:
  - changed-files:
    - any-glob-to-any-file:
      - docs/runtime_suite/crud-service/**

data-catalog:
  - changed-files:
      - any-glob-to-any-file:
          - docs/data-catalog/**

release-note:
  - changed-files:
    - any-glob-to-any-file:
      - docs/release-notes/**

feat: add updates in add_plugin
  docs/marketplace/add_to_marketplace/add_item_by_type/add_plugin.md
Labels: none

fix typos
  docs/console/design-your-projects/custom-resources.md
  docs/development_suite/api-console/api-design/services.md
Labels: none

feat: add references to N/A in design
  docs/console/design-your-projects/custom-resources.md
  docs/development_suite/api-console/api-design/services.md
  docs/marketplace/add_to_marketplace/add_item_by_type/add_plugin.md
  docs/marketplace/add_to_marketplace/create_your_company_marketplace.md
Labels: none

fix: more info on manage_marketplace_items
  docs/marketplace/add_to_marketplace/manage_marketplace_items.md
Labels: none

fix: typos
  docs/marketplace/add_to_marketplace/create_your_company_marketplace.md
Labels: none

fix: links and files
  docs/marketplace/add_to_marketplace/add_item_by_type/add_custom_resource.md
  docs/marketplace/add_to_marketplace/add_item_by_type/add_plugin.md
  docs/marketplace/add_to_marketplace/add_item_by_type/add_template_or_example.md
  docs/marketplace/add_to_marketplace/img/cms-upload-image.png
  docs/marketplace/add_to_marketplace/img/cms-upload-supported-by-image.png
  docs/marketplace/add_to_marketplace/img/dev-console-custom-service.png
Labels: none

fix: more typos
  docs/console/design-your-projects/custom-resources.md
  docs/marketplace/add_to_marketplace/add_item_by_type/add_plugin.md
Labels: none

Add Mia Care marketplace updates
  docs/release-notes/v13.2.0.md
Labels: release-note

applied suggestions from code review
  docs/marketplace/add_to_marketplace/add_item_by_type/add_custom_resource.md
Labels: none

feat: update documentation with non-editable fields
  docs/marketplace/add_to_marketplace/create_your_company_marketplace.md
Labels: none

Update sidebars.json
  sidebars.json
Labels: none

Update docs/marketplace/add_to_marketplace/create_your_company_marketplace.md
  docs/marketplace/add_to_marketplace/create_your_company_marketplace.md
Labels: none

Update docs/marketplace/add_to_marketplace/create_your_company_marketplace.md
  docs/marketplace/add_to_marketplace/create_your_company_marketplace.md
Labels: none

feat: new introduction
  docs/marketplace/add_to_marketplace/add_item_by_type/add_custom_resource.md
Labels: none

Apply suggestions from code review
  docs/fast_data/runtime_management/control_plane_fabric_bff.mdx
  docs/fast_data/runtime_management/control_plane_operator.mdx
Labels: fast-data

fix: minor typos
  docs/marketplace/add_to_marketplace/add_item_by_type/add_custom_resource.md
Labels: none

fix: more typos
  docs/marketplace/add_to_marketplace/add_item_by_type/add_custom_resource.md
  docs/marketplace/add_to_marketplace/add_item_by_type/add_plugin.md
  docs/marketplace/add_to_marketplace/create_your_company_marketplace.md
Labels: none

feat: paragraph on detaching from marketplace
  docs/development_suite/api-console/api-design/services.md
Labels: none

fix: typos
  docs/marketplace/add_to_marketplace/add_item_by_type/add_plugin.md
Labels: none

remove preview banner on v13.1.1.md
  docs/release-notes/v13.1.1.md
Labels: release-note

fix: typos and review
  docs/console/design-your-projects/custom-resources.md
  docs/development_suite/api-console/api-design/services.md
  docs/marketplace/add_to_marketplace/add_item_by_type/add_custom_resource.md
  docs/marketplace/add_to_marketplace/add_item_by_type/add_plugin.md
Labels: none

Apply suggestions from code review
  docs/console/design-your-projects/custom-resources.md
Labels: none

edit cp fe image
  docs/fast_data/runtime_management/img/control_plane_in_console.png
Labels: fast-data

apply suggestions from code review
  docs/console/design-your-projects/custom-resources.md
  docs/development_suite/api-console/api-design/services.md
  docs/marketplace/add_to_marketplace/add_item_by_type/add_template_or_example.md
Labels: none

fix: modal info
  docs/development_suite/api-console/api-design/services.md
Labels: none

updated intro in add_custom_resource
  docs/marketplace/add_to_marketplace/add_item_by_type/add_custom_resource.md
Labels: none

Update v13.2.0.md
  docs/release-notes/v13.2.0.md
Labels: release-note

fix: typos
  docs/marketplace/add_to_marketplace/add_item_by_type/add_custom_resource.md
Labels: none

fix: typo
  docs/marketplace/add_to_marketplace/add_item_by_type/add_custom_resource.md
Labels: none

fix: duplicated paragraph
  docs/marketplace/add_to_marketplace/add_item_by_type/add_custom_resource.md
Labels: none

Update v13.2.0.md
  docs/release-notes/v13.2.0.md
Labels: release-note

fix some docs parts
  docs/data_catalog/data_catalog_fabric_bff.mdx
  docs/data_catalog/data_catalog_frontend.mdx
  docs/data_catalog/data_catalog_open_lineage.mdx
  docs/data_catalog/overview.mdx
  docs/data_catalog/secure_access.mdx
Labels: none

feat: add crud service 7.2.0 to RN
  docs/release-notes/v13.2.0.md
Labels: release-note

docs(control-plane): fix newline
  docs/fast_data/runtime_management/control_plane_fabric_bff.mdx
Labels: fast-data

docs(control-plane): add tag to fabric-adim image
  docs/fast_data/runtime_management/database_setup.mdx
Labels: fast-data

docs(data-catalog): add tag to fabric-admin image
  docs/data_catalog/database_setup.mdx
Labels: none

feat(marketplace): review of marketplace contribution rules and introduction to versioning (#1404)
  docs/console/design-your-projects/custom-resources.md
  docs/console/design-your-projects/img/custom-resources/change-custom-resource-version.png
  docs/console/design-your-projects/img/custom-resources/create-from-marketplace-versioned.png
  docs/console/project-configuration/kustomize-your-configurations/kustomize-use-cases.md
  docs/development_suite/api-console/api-design/img/marketplace-version-selection.png
  docs/development_suite/api-console/api-design/img/microservice-containers/containers-table.png
  docs/development_suite/api-console/api-design/img/service-detail-new.png
  docs/development_suite/api-console/api-design/img/service-example.png
  docs/development_suite/api-console/api-design/img/service-template.png
  docs/development_suite/api-console/api-design/img/versioned-service.png
  docs/development_suite/api-console/api-design/services.md
  docs/getting-started/faqs.md
  docs/marketplace/add_to_marketplace/add_item_by_type/add_application.md
  docs/marketplace/add_to_marketplace/add_item_by_type/add_custom_resource.md
  docs/marketplace/add_to_marketplace/add_item_by_type/add_plugin.md
  docs/marketplace/add_to_marketplace/add_item_by_type/add_sidecar.md
  docs/marketplace/add_to_marketplace/add_item_by_type/add_template_or_example.md
  docs/marketplace/add_to_marketplace/change_marketplace_item_visibility.md
  docs/marketplace/add_to_marketplace/contributing_overview.md
  docs/marketplace/add_to_marketplace/create_your_company_marketplace.md
  docs/marketplace/add_to_marketplace/img/cms-upload-image.png
  docs/marketplace/add_to_marketplace/img/cms-upload-supported-by-image.png
  docs/marketplace/add_to_marketplace/img/dev-console-custom-service.png
  docs/marketplace/add_to_marketplace/manage_marketplace_items.md
  docs/marketplace/add_to_marketplace/marketplace_items_accessibility.md
  docs/marketplace/examples/mia_examples.md
  docs/marketplace/overview_marketplace.md
  docs/marketplace/templates/mia_templates.md
  sidebars.json
Labels: none

chore(docs): update Projection Storer documentation (#1670)
  docs/runtime_suite/projection-storer/changelog.md
Labels: none

docs(control-plane): update compatibility matrix
  docs/fast_data/runtime_management/compatibility_matrix.md
Labels: fast-data

docs(data-catalog): update compatibility matrix
  docs/data_catalog/compatibility_matrix.md
Labels: none
