Repository mia-platform/documentation, pull requests merged in 2023-09, with the labels that each got.

#535 chore(docs): update Timer Service documentation
  docs/runtime_suite/timer-service/20_configuration.md
Labels: Marketplace

#468 edit(fast-data): update Fast Data architecture description
  docs/fast_data/architecture.md
  docs/fast_data/configuration/single_views.md
  docs/fast_data/img/bucket_storage_support.svg
  docs/fast_data/img/fastdata-architecture-alternative-event-driven.svg
  docs/fast_data/img/fastdata-architecture-bucketstoragesupport.svg
  docs/fast_data/img/fastdata-architecture-event-driven.svg
  docs/fast_data/img/fastdata-architecture-new.png
  docs/fast_data/img/fastdata-architecture-standard-svpatch.svg
  docs/fast_data/img/fastdata-architecture-standard.svg
  docs/fast_data/img/single-view-patch-infrastructure.png
Labels: fast-data

#504 chore(docs): update Backoffice Configurator documentation
  docs/business_suite/backoffice-configurator/changelog.md
Labels: Marketplace

#527 chore(docs): update Bucket Storage Support - GCP documentation
  docs/runtime_suite_applications/bucket-storage-support---gcp/10_overview.md
  docs/runtime_suite_applications/bucket-storage-support---gcp/20_configuration.md
  docs/runtime_suite_applications/bucket-storage-support---gcp/_category_.json
  docs/runtime_suite_applications/bucket-storage-support---gcp/changelog.md
Labels: Marketplace

#528 chore(docs): update Bucket Storage Support - S3 documentation
  docs/runtime_suite_applications/bucket-storage-support---s3/10_overview.md
  docs/runtime_suite_applications/bucket-storage-support---s3/20_configuration.md
  docs/runtime_suite_applications/bucket-storage-support---s3/_category_.json
  docs/runtime_suite_applications/bucket-storage-support---s3/changelog.md
Labels: Marketplace

#509 feat(fast-data): Add sv-errors paragraph in indexes page
  docs/fast_data/configuration/indexes.md
Labels: fast-data

#545 chore(docs): update API Portal documentation
  docs/runtime_suite/api-portal/10_overview.md
  docs/runtime_suite/api-portal/20_configuration.md
Labels: Marketplace

#479 chore(docs): update Files Service documentation
  .cspell.json
  docs/runtime_suite/files-service/changelog.md
  docs/runtime_suite/files-service/configuration.mdx
Labels: Marketplace

#551 feat: self hosted users synchronization
  docs/self_hosted/synchronize-users.md
  sidebars.json
Labels: New contents, Self Hosted section

#500 Enhanced project workflow and GitOps deployment strategy
  301redirects.json
  docs/development_suite/company/project-templates.md
  docs/development_suite/deploy/gitops-based/configure-argocd.md
  docs/development_suite/deploy/gitops-based/index.md
  docs/development_suite/deploy/index.md
  docs/development_suite/deploy/overview.md
  docs/development_suite/deploy/pipeline-based/configure-github-actions.md
  docs/development_suite/deploy/pipeline-based/configure-jenkins.md
  docs/development_suite/deploy/pipeline-based/index.md
  docs/development_suite/set-up-infrastructure/enhanced-project-workflow.md
  docs/development_suite/set-up-infrastructure/img/revisions-overview.png
  docs/development_suite/set-up-infrastructure/img/versions-overview.png
  docs/release-notes/mia-platform-v11.mdx
  docs/release-notes/v11.0.0.md
  sidebars.json
Labels: New contents, Project enhancement

#554 chore(docs): update installation-chart documentation
  docs/self_hosted/installation-chart/30_authentication_provider.md
Labels: Marketplace

#553 chore(docs): update Authentication Service documentation
  docs/runtime_suite/authentication-service/30_usage.md
Labels: Marketplace

#529 chore(docs): update Form Service Backend documentation
  docs/runtime_suite/form-service-backend/10_overview.md
  docs/runtime_suite/form-service-backend/60_notifications.md
  docs/runtime_suite/form-service-backend/changelog.md
Labels: Marketplace

#530 chore(docs): update Form Service Frontend documentation
  docs/runtime_suite/form-service-frontend/changelog.md
Labels: Marketplace

#548 chore(docs): update Single View Creator documentation
  docs/runtime_suite/single-view-creator/changelog.md
Labels: Fast Data, Marketplace

#418 Edit git providers docs for Marketplace
  docs/development_suite/set-up-infrastructure/configure-provider.mdx
  docs/development_suite/set-up-infrastructure/img/add-provider-1-marketplace.png
  docs/development_suite/set-up-infrastructure/img/add-provider-2-marketplace.png
  docs/development_suite/set-up-infrastructure/img/add-provider-connection-choice.png
  docs/development_suite/set-up-infrastructure/img/providers-overview-marketplace.png
  docs/development_suite/set-up-infrastructure/img/providers-overview.png
  docs/marketplace/add_to_marketplace/contributing_overview.md
  docs/marketplace/add_to_marketplace/marketplace_items_accessibility.md
  sidebars.json
Labels: Project enhancement

#562 chore(docs): update Files Service documentation
  docs/runtime_suite/files-service/usage.mdx
Labels: Marketplace

#457 add(SJFC-6): create Job from CronJob
  docs/development_suite/clusters-management/clusters-overview-setup.md
  docs/development_suite/identity-and-access-management/console-levels-and-permission-management.md
  docs/development_suite/monitoring/img/cronjobs_burger_menu.png
  docs/development_suite/monitoring/img/cronjobs_describe.png
  docs/development_suite/monitoring/img/cronjobs_list.png
  docs/development_suite/monitoring/img/jobs_list.png
  docs/development_suite/monitoring/resources/cronjobs.md
  docs/development_suite/monitoring/resources/jobs.md
Labels: Project enhancement

#566 chore(docs): update installation-chart documentation
  docs/self_hosted/installation-chart/100_how_to_upgrade.md
  docs/self_hosted/installation-chart/30_authentication_provider.md
Labels: Marketplace

#567 chore(docs): update Swagger Aggregator documentation
  docs/runtime_suite/swagger-aggregator/changelog.md
Labels: Marketplace

#446 chore(docs): update lc39 documentation
  docs/runtime_suite_libraries/lc39/changelog.md
Labels: Marketplace

#455 chore(docs): update Backoffice documentation
  docs/business_suite/backoffice/30_page_layout.md
  docs/business_suite/backoffice/60_components/40_data_manipulation.md
  docs/business_suite/backoffice/60_components/70_misc.md
  docs/business_suite/backoffice/70_events.md
  docs/business_suite/backoffice/changelog.md
Labels: Marketplace

#452 chore(docs): update Single View Trigger Generator documentation
  docs/runtime_suite/single-view-trigger-generator/changelog.md
Labels: Marketplace

#421 refactor: updated Cast Functions page and screenshot
  docs/fast_data/configuration/cast_functions.md
  docs/fast_data/img/er-schema-complete-view.png
  docs/tutorial/fast_data/img/03-page-projections.png
  docs/tutorial/fast_data/img/04-create-projection.png
  docs/tutorial/fast_data/img/05-page-overview-projection.png
  docs/tutorial/fast_data/img/05b-page-overview-projection-kafka.png
  docs/tutorial/fast_data/img/06-create-projection-field.png
  docs/tutorial/fast_data/img/15-create-other-projection.png
  docs/tutorial/fast_data/img/16-other-projection-overview.png
  docs/tutorial/fast_data/img/19-single-view.png
  docs/tutorial/fast_data/img/20-create-single-view.png
  docs/tutorial/fast_data/img/21-single-view-fields.png
  docs/tutorial/fast_data/img/33-attach-SVC.png
Labels: Fast Data

#574 chore(docs): update Authentication Service documentation
  docs/runtime_suite/authentication-service/20_configuration.mdx
  docs/runtime_suite/authentication-service/changelog.md
Labels: Marketplace

#512 chore(docs): update Digital Footprints Analytics documentation
  .cspell.json
  docs/runtime_suite_templates/digital-footprints-analytics/10_overview.md
  docs/runtime_suite_templates/digital-footprints-analytics/20_configuration.md
  docs/runtime_suite_templates/digital-footprints-analytics/_category_.json
Labels: Marketplace

#514 chore(docs): update Faire.ai Insights Platform documentation
  .cspell.json
  docs/runtime_suite/faire.ai-insights-platform/10_overview.md
  docs/runtime_suite/faire.ai-insights-platform/20_configuration.md
  docs/runtime_suite/faire.ai-insights-platform/30_apis.md
  docs/runtime_suite/faire.ai-insights-platform/_category_.json
Labels: Marketplace

#600 chore(docs): update installation-chart documentation
  docs/self_hosted/installation-chart/20_general_settings.md
Labels: Marketplace

#561 chore(docs): update Backoffice Configurator documentation
  docs/business_suite/backoffice-configurator/changelog.md
Labels: Marketplace

#602 chore(docs): update Single View Trigger Generator documentation
  docs/runtime_suite/single-view-trigger-generator/changelog.md
Labels: Fast Data, Marketplace

#576 chore(docs): update HTTP Proxy Manager documentation
  docs/runtime_suite/http-proxy-manager/changelog.md
Labels: Marketplace

#594 chore(docs): update Custom Plugin Lib documentation
  docs/runtime_suite_libraries/custom-plugin-lib/changelog.md
Labels: Marketplace

#595 chore(docs): update lc39 documentation
  docs/runtime_suite_libraries/lc39/changelog.md
Labels: Marketplace

#342 chore(docs): update Kafka HealthChecker documentation
  docs/runtime_suite_libraries/kafka-healthchecker/20_usage.md
Labels: Marketplace
