Repository mia-platform/documentation, pull requests merged in 2023-11, with the labels that each got.

#731 chore(docs): update Files Service documentation
  docs/runtime_suite/files-service/changelog.md
  docs/runtime_suite/files-service/usage.mdx
Labels: Marketplace

#734 fix(fast-data): Two Projection Update messages sent when Primary Key update
  docs/fast_data/configuration/realtime_updater.md
Labels: Fast Data

#702 Add fast data benchmark page on faq section
  docs/fast_data/faq/bootstrapping-fast-data.md
  sidebars.json
Labels: Fast Data

#730 chore(docs): update Custom Plugin Lib documentation
  docs/runtime_suite_libraries/custom-plugin-lib/changelog.md
Labels: Marketplace

#755 remove(JCE-665): beta warning from merge page
  docs/development_suite/api-console/api-design/img/branch-status-unsaved-local-changes-modal.png
  docs/development_suite/api-console/api-design/img/merge-collaboration/keep-current-changes.png
  docs/development_suite/api-console/api-design/img/merge-collaboration/merge-configuration-diff.png
  docs/development_suite/api-console/api-design/merge_collaboration.md
  docs/getting-started/handbooks/project/img/merge-branches-4.png
Labels: v12

#736 feat: rond storage conf from secret
  docs/development_suite/api-console/api-design/authorization.md
  docs/development_suite/api-console/api-design/img/authorization-rbac-storage-from-secret.png
Labels: Design Section, v12

#599 edit/real-time-updater-v8
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarnrc.yml
  docs/fast_data/architecture.md
  docs/fast_data/configuration/config_maps/projection_changes_schema.md
  docs/fast_data/configuration/projection_storer.md
  docs/fast_data/configuration/realtime_updater.md
  docs/fast_data/configuration/single_view_trigger_generator.md
  docs/fast_data/glossary.mdx
  docs/fast_data/img/fastdata-architecture-alternative-event-driven.svg
  docs/fast_data/img/fastdata-architecture-event-driven.svg
  docs/fast_data/img/fastdata-architecture-standard-svpatch.svg
  docs/fast_data/img/fastdata-architecture-standard.svg
  docs/fast_data/img/ps_migration/00_open_git_provider.png
  docs/fast_data/img/ps_migration/01_plugin_marketplace.png
  docs/fast_data/img/ps_migration/02_sor_service.png
  docs/fast_data/img/ps_migration/03_detach_rtu.png
  docs/fast_data/img/ps_migration/04_attach_ps.png
  docs/fast_data/img/ps_migration/05_configure_ps.png
  docs/fast_data/img/ps_migration/06_custom_message_adapter.png
  docs/fast_data/img/svtg-fd-arch.svg
  docs/fast_data/inputs_and_outputs.md
  docs/fast_data/no_code_overview.md
  docs/fast_data/projection_storer.md
  docs/fast_data/single_view_trigger_generator.md
  docs/getting-started/tutorials/fast-data/low-code.mdx
  docs/runtime_suite/csv-connector-plugin/usage.md
  docusaurus.config.js
  sidebars.json
  yarn.lock
Labels: Fast Data, v12

#740 added Enanched Project Workflow project creation doc
  docs/console/project-configuration/create-a-project.mdx
  docs/console/project-configuration/img/create-project-1.png
  docs/console/project-configuration/img/create-project-2-ci-cd-provider.png
Labels: v12

#765 workflow type in project settings and enhanced workflow page update
  docs/console/project-configuration/img/settings-deployment-options.png
  docs/console/project-configuration/img/settings-edit-deployment-options.png
  docs/console/project-configuration/img/settings-edit-runtime-settings.png
  docs/console/project-configuration/img/settings-runtime-settings.png
  docs/console/project-configuration/img/settings-workflow-migration-card.png
  docs/console/project-configuration/img/settings-workflow-migration-modal.png
  docs/console/project-configuration/project-settings.md
  docs/development_suite/api-console/api-design/microservice-monitoring.md
  docs/development_suite/set-up-infrastructure/enhanced-project-workflow.md
Labels: v12

#778 chore(docs): update Ingestion Reloader documentation
  docs/runtime_suite/ingestion-reloader/10_configuration.md
  docs/runtime_suite/ingestion-reloader/_category_.json
  docs/runtime_suite/ingestion-reloader/changelog.md
Labels: Fast Data, Marketplace

#775 docs(fast-data): add projection-storer error codes
  docs/fast_data/troubleshooting/fast_data_error_codes.md
Labels: Fast Data

#768 chore(docs): update Composer documentation
  docs/microfrontend-composer/composer/changelog.md
Labels: Marketplace

#745 chore(docs): update Single View Trigger Generator documentation
  docs/runtime_suite/single-view-trigger-generator/changelog.md
Labels: Fast Data, Marketplace

#724 chore(docs): update CRUD Service documentation
  docs/runtime_suite/crud-service/50_writable_views.md
  docs/runtime_suite/crud-service/changelog.md
Labels: Marketplace

#779 chore(docs): update Ingestion Storer documentation
  docs/runtime_suite/ingestion-storer/_category_.json
  docs/runtime_suite/ingestion-storer/changelog.md
  docs/runtime_suite/ingestion-storer/img/download-rate.png
Labels: Fast Data, Marketplace

#550 project: listeners management documentation page
  .github/PULL_REQUEST_TEMPLATE.md
  docs/development_suite/api-console/api-design/endpoints.md
  docs/development_suite/api-console/api-design/img/endpoint-settings-card-advanced.png
  docs/development_suite/api-console/api-design/img/endpoint-settings-card-documentation.png
  docs/development_suite/api-console/api-design/img/endpoint-settings-card-microservice-gateway.png
  docs/development_suite/api-console/api-design/img/endpoint-settings-card-security.png
  docs/development_suite/api-console/api-design/img/listeners/create-listener.png
  docs/development_suite/api-console/api-design/img/listeners/delete-listener.png
  docs/development_suite/api-console/api-design/img/listeners/edit-listener.png
  docs/development_suite/api-console/api-design/img/listeners/endpoint-configure-listeners.png
  docs/development_suite/api-console/api-design/img/listeners/endpoints-listeners-table.png
  docs/development_suite/api-console/api-design/img/listeners/listeners-api-gateway-ports.png
  docs/development_suite/api-console/api-design/listeners.md
  docs/marketplace/add_to_marketplace/contributing_overview.md
  sidebars.json
Labels: New contents, Project enhancement, Design Section, v12

#701 feat(Fast Data): details on attaching/detaching services
  docs/fast_data/configuration/config_maps/singleViewKey.md
  docs/fast_data/configuration/img/er-schema-selection.png
  docs/fast_data/configuration/img/projection-storer.png
  docs/fast_data/configuration/img/svtg-configuration.png
  docs/fast_data/configuration/img/system-services.png
  docs/fast_data/configuration/img/upsert-delete-strategy.png
  docs/fast_data/configuration/indexes.md
  docs/fast_data/configuration/projection_storer.md
  docs/fast_data/configuration/projections.md
  docs/fast_data/configuration/realtime_updater.md
  docs/fast_data/configuration/single_view_creator.md
  docs/fast_data/configuration/single_view_trigger_generator.md
  docs/fast_data/img/single-view-detail-selection-er-schema.png
Labels: Fast Data, v12

#756 New/devdoc 208 multi lb ingress
  docs/console/project-configuration/manage-runtime-environments/configure-a-new-environment.mdx
  docs/infrastructure/img/gitops-pull-vs-push.png
  docs/paas/traefik.md
Labels: documentation, Console, New contents

#784 docs(fast-data): add explanation for sharing custom functions between different services
  docs/fast_data/configuration/projection_storer.md
Labels: Fast Data, v12

#650 feat: akv provider
  docs/console/company-configuration/providers/configure-provider.mdx
  docs/console/company-configuration/providers/overview.md
  static/img/azure-key-vault.png
Labels: Secret Management Section, Providers Section

#673 chore(docs): update Flow Manager Service documentation
  docs/runtime_suite/flow-manager-service/30_configuration.md
  docs/runtime_suite/flow-manager-service/changelog.md
Labels: Marketplace

#720 chore(docs): update Single View Creator documentation
  docs/runtime_suite/single-view-creator/changelog.md
Labels: Fast Data, Marketplace

#769 chore(docs): update CSV Connector Plugin documentation
  docs/runtime_suite/csv-connector-plugin/usage.md
Labels: Marketplace

#767 chore(docs): update Back Kit documentation
  docs/microfrontend-composer/back-kit/60_components/210_dynamic_form_modal.md
  docs/microfrontend-composer/back-kit/60_components/460_pagination.md
  docs/microfrontend-composer/back-kit/_category_.json
  docs/microfrontend-composer/back-kit/changelog.md
Labels: Marketplace

#633 feat: manage marketplace with miactl
  301redirects.json
  docs/marketplace/add_to_marketplace/change_marketplace_item_visibility.md
  docs/marketplace/add_to_marketplace/contributing_overview.md
  docs/marketplace/add_to_marketplace/declarative_marketplace.md
  docs/marketplace/add_to_marketplace/img/awesome_service.png
  docs/marketplace/add_to_marketplace/img/declarative_delete_mr.png
  docs/marketplace/add_to_marketplace/img/declarative_fix_mr.png
  docs/marketplace/add_to_marketplace/img/declarative_fix_pipeline_log.png
  docs/marketplace/add_to_marketplace/img/declarative_mr.png
  docs/marketplace/add_to_marketplace/img/declarative_pipeline_log.png
  docs/marketplace/add_to_marketplace/img/inventory_system.png
  docs/marketplace/add_to_marketplace/manage_marketplace_items.md
  docs/marketplace/add_to_marketplace/marketplace_items_accessibility.md
  docs/marketplace/compatibility_matrices/mongo_compatibility_matrix.md
  docs/marketplace/overview_marketplace.md
  sidebars.json
Labels: Marketplace Management

#676 chore(docs): update miactl documentation
  docs/cli/miactl/30_commands.md
Labels: Marketplace

#770 release notes: v12 preview
  docs/console/project-configuration/create-a-project.mdx
  docs/console/project-configuration/img/create-project-1-enhanced.png
  docs/console/project-configuration/img/create-project-1.png
  docs/fast_data/configuration/img/fast_data_ie_export_modal.png
  docs/release-notes/img/create-project-enhanced.png
  docs/release-notes/img/extension-api-provider.png
  docs/release-notes/img/listeners.png
  docs/release-notes/img/new-look-and-feel.jpg
  docs/release-notes/img/project-settings.png
  docs/release-notes/img/user-groups.png
  docs/release-notes/img/v12.0.0/mfe-composer-array.png
  docs/release-notes/mia-platform-v12.mdx
  docs/release-notes/v12.0.0.md
Labels: v12

#649 feat: akv configuration page
  docs/console/project-configuration/manage-environment-variables/index.md
  docs/console/project-configuration/manage-environment-variables/manage-environment-variables-with-akv.md
  sidebars.json
  static/img/akv-workflow.png
Labels: Project enhancement, Secret Management Section

#790 chore(docs): update miactl documentation
  docs/cli/miactl/20_setup.md
  docs/cli/miactl/changelog.md
Labels: Marketplace

#735 chore(docs): update Authentication Service documentation
  docs/runtime_suite/authentication-service/20_configuration.mdx
  docs/runtime_suite/authentication-service/30_usage.md
  docs/runtime_suite/authentication-service/changelog.md
Labels: Marketplace

#725 chore(docs): update installation-chart documentation
  docs/self_hosted/installation-chart/100_how_to_upgrade.md
  docs/self_hosted/installation-chart/20_general_settings.md
  docs/self_hosted/installation-chart/30_authentication_provider.md
  docs/self_hosted/installation-chart/90_installation_chart_example.md
Labels: Marketplace, v12

#743 chore(docs): update Files Service documentation
  docs/runtime_suite/files-service/usage.mdx
Labels: Marketplace

#795 chore(docs): update API Portal documentation
  docs/runtime_suite/api-portal/20_configuration.md
  docs/runtime_suite/api-portal/changelog.md
  docs/runtime_suite/api-portal/img/api-documentation-aggregator-creation.png
  docs/runtime_suite/api-portal/img/api-portal-setup_documentation.png
  docs/runtime_suite/api-portal/img/api-portal-setup_microservice-gateway.png
  docs/runtime_suite/api-portal/img/api-portal-setup_routes.png
  docs/runtime_suite/api-portal/img/api-portal-setup_security.png
  docs/runtime_suite/api-portal/img/api-portal_environment-variables.png
Labels: Marketplace

#794 chore(docs): update lc39 documentation
  docs/runtime_suite_libraries/lc39/changelog.md
Labels: Marketplace

#801 chore(docs): update miactl documentation
  docs/cli/miactl/10_overview.md
Labels: Marketplace

#693 docs: authentication architecture
  docs/getting-started/tutorials/architecture/auth/external-idp-internal-session.md
  docs/getting-started/tutorials/architecture/auth/external-idp.md
  docs/getting-started/tutorials/architecture/auth/img/auth-scenario1.png
  docs/getting-started/tutorials/architecture/auth/img/auth-scenario2.png
  docs/getting-started/tutorials/architecture/auth/img/auth-scenario3.png
  docs/getting-started/tutorials/architecture/auth/img/auth-scenario4.png
  docs/getting-started/tutorials/architecture/auth/img/auth-scenario4a.png
  docs/getting-started/tutorials/architecture/auth/img/auth_scenario3_phase1.png
  docs/getting-started/tutorials/architecture/auth/img/auth_scenario3_phase2.png
  docs/getting-started/tutorials/architecture/auth/img/auth_scenario3_phase3.png
  docs/getting-started/tutorials/architecture/auth/introduction.md
  docs/getting-started/tutorials/architecture/auth/multiple-projects.mdx
  docs/getting-started/tutorials/architecture/auth/static-api-key.md
  sidebars.json
Labels: New contents, Tutorial

#799 chore(docs): update Authentication Service documentation
  docs/runtime_suite/authentication-service/30_usage.md
Labels: Marketplace

#816 chore(docs): update Bucket Storage Support - S3 documentation
  docs/runtime_suite_applications/bucket-storage-support---s3/10_overview.md
  docs/runtime_suite_applications/bucket-storage-support---s3/20_configuration.md
  docs/runtime_suite_applications/bucket-storage-support---s3/changelog.md
Labels: Marketplace

#807 chore(docs): update ACL Service documentation
  docs/runtime_suite/acl-service/changelog.md
  docs/runtime_suite/acl-service/overview.md
Labels: Marketplace

#808 chore(docs): update Adaptive Approval Service documentation
  docs/runtime_suite/adaptive-approval-service/10_overview.md
  docs/runtime_suite/adaptive-approval-service/20_how_to_use.md
  docs/runtime_suite/adaptive-approval-service/30_configuration.md
  docs/runtime_suite/adaptive-approval-service/changelog.md
Labels: Marketplace

#809 chore(docs): update API Gateway documentation
  docs/runtime_suite/api-gateway/10_overview.md
  docs/runtime_suite/api-gateway/20_configuration.md
  docs/runtime_suite/api-gateway/changelog.md
Labels: Marketplace

#810 chore(docs): update API Portal documentation
  docs/runtime_suite/api-portal/10_overview.md
  docs/runtime_suite/api-portal/20_configuration.md
  docs/runtime_suite/api-portal/changelog.md
Labels: Marketplace

#813 chore(docs): update Authorization Service documentation
  docs/runtime_suite/authorization-service/10_overview.md
  docs/runtime_suite/authorization-service/20_configuration.md
  docs/runtime_suite/authorization-service/30_usage.md
  docs/runtime_suite/authorization-service/changelog.md
Labels: Marketplace

#812 chore(docs): update Authentication Service documentation
  docs/runtime_suite/authentication-service/10_overview.md
  docs/runtime_suite/authentication-service/20_configuration.mdx
  docs/runtime_suite/authentication-service/30_usage.md
  docs/runtime_suite/authentication-service/changelog.md
Labels: Marketplace

#817 chore(docs): update Chat Service Backend documentation
  docs/runtime_suite/chat-service-backend/10_overview_and_usage.md
  docs/runtime_suite/chat-service-backend/20_configuration.md
  docs/runtime_suite/chat-service-backend/changelog.md
Labels: Marketplace

#818 chore(docs): update Client Credentials documentation
  docs/runtime_suite/client-credentials/10_configuration.md
  docs/runtime_suite/client-credentials/20_usage.md
  docs/runtime_suite/client-credentials/30_jwt_keys.md
  docs/runtime_suite/client-credentials/changelog.md
Labels: Marketplace

#819 chore(docs): update Cron Scheduler documentation
  docs/runtime_suite/cron-scheduler/overview.md
Labels: Marketplace

#820 chore(docs): update CSV Connector documentation
  docs/runtime_suite_applications/csv-connector/changelog.md
  docs/runtime_suite_applications/csv-connector/overview.md
Labels: Marketplace

#821 chore(docs): update CSV Connector Plugin documentation
  docs/runtime_suite/csv-connector-plugin/changelog.md
  docs/runtime_suite/csv-connector-plugin/configuration.md
  docs/runtime_suite/csv-connector-plugin/usage.md
Labels: Marketplace

#822 chore(docs): update Custom Plugin Lib documentation
  docs/runtime_suite_libraries/custom-plugin-lib/apidoc.md
  docs/runtime_suite_libraries/custom-plugin-lib/changelog.md
  docs/runtime_suite_libraries/custom-plugin-lib/custom_service.md
  docs/runtime_suite_libraries/custom-plugin-lib/decorators.md
  docs/runtime_suite_libraries/custom-plugin-lib/http_client.md
  docs/runtime_suite_libraries/custom-plugin-lib/logging.md
  docs/runtime_suite_libraries/custom-plugin-lib/routes.md
  docs/runtime_suite_libraries/custom-plugin-lib/testing.md
Labels: Marketplace

#824 chore(docs): update Doctor Service documentation
  docs/runtime_suite/doctor-service/changelog.md
  docs/runtime_suite/doctor-service/configuration.md
  docs/runtime_suite/doctor-service/usage.md
Labels: Marketplace

#825 chore(docs): update Export Service documentation
  docs/runtime_suite/export-service/10_overview.md
  docs/runtime_suite/export-service/20_usage.md
  docs/runtime_suite/export-service/changelog.md
Labels: Marketplace

#826 chore(docs): update Faire.ai Insights Platform documentation
  docs/runtime_suite/faire.ai-insights-platform/10_overview.md
  docs/runtime_suite/faire.ai-insights-platform/20_configuration.md
  docs/runtime_suite/faire.ai-insights-platform/30_apis.md
Labels: Marketplace

#827 chore(docs): update Files Service documentation
  docs/runtime_suite/files-service/changelog.md
  docs/runtime_suite/files-service/configuration.mdx
  docs/runtime_suite/files-service/usage.mdx
Labels: Marketplace

#828 chore(docs): update Flow Manager Client documentation
  docs/runtime_suite_libraries/flow-manager-client/changelog.md
  docs/runtime_suite_libraries/flow-manager-client/overview.md
  docs/runtime_suite_libraries/flow-manager-client/setup.md
Labels: Marketplace

#829 chore(docs): update Flow Manager Router documentation
  docs/runtime_suite/flow-manager-router/10_overview.md
  docs/runtime_suite/flow-manager-router/20_configuration.md
  docs/runtime_suite/flow-manager-router/changelog.md
Labels: Marketplace

#830 chore(docs): update Flow Manager Service documentation
  docs/runtime_suite/flow-manager-service/10_overview.md
  docs/runtime_suite/flow-manager-service/20_how_it_works.md
  docs/runtime_suite/flow-manager-service/30_configuration.md
  docs/runtime_suite/flow-manager-service/40_model_your_first_flow.md
  docs/runtime_suite/flow-manager-service/50_performance_overview.md
  docs/runtime_suite/flow-manager-service/60_flow_manager_client.md
  docs/runtime_suite/flow-manager-service/changelog.md
Labels: Marketplace

#831 chore(docs): update HTTP Proxy Manager documentation
  docs/runtime_suite/http-proxy-manager/10_overview.md
  docs/runtime_suite/http-proxy-manager/20_how_to_use.md
  docs/runtime_suite/http-proxy-manager/30_configuration.md
  docs/runtime_suite/http-proxy-manager/changelog.md
Labels: Marketplace

#832 chore(docs): update Ingestion Reloader documentation
  docs/runtime_suite/ingestion-reloader/10_configuration.md
  docs/runtime_suite/ingestion-reloader/changelog.md
Labels: Marketplace

#833 chore(docs): update Ingestion Storer documentation
  docs/runtime_suite/ingestion-storer/changelog.md
Labels: Marketplace

#835 chore(docs): update JWT Token Validator documentation
  docs/runtime_suite/jwt-token-validator/10_overview_and_usage.md
  docs/runtime_suite/jwt-token-validator/changelog.md
Labels: Marketplace

#836 chore(docs): update Kafka HealthChecker documentation
  docs/runtime_suite_libraries/kafka-healthchecker/10_overview.md
  docs/runtime_suite_libraries/kafka-healthchecker/20_usage.md
  docs/runtime_suite_libraries/kafka-healthchecker/30_setup.md
  docs/runtime_suite_libraries/kafka-healthchecker/changelog.md
Labels: Marketplace

#837 chore(docs): update Kafka2Rest service documentation
  docs/runtime_suite/kafka2rest-service/01_overview.md
  docs/runtime_suite/kafka2rest-service/02_configuration.md
  docs/runtime_suite/kafka2rest-service/changelog.md
Labels: Marketplace

#838 chore(docs): update lc39 documentation
  docs/runtime_suite_libraries/lc39/changelog.md
  docs/runtime_suite_libraries/lc39/cli-flags.md
  docs/runtime_suite_libraries/lc39/development-affordance.md
  docs/runtime_suite_libraries/lc39/logging.md
  docs/runtime_suite_libraries/lc39/main-entrypoint.md
  docs/runtime_suite_libraries/lc39/service-options.md
Labels: Marketplace

#839 chore(docs): update Mia FHIR Server documentation
  docs/runtime_suite/mia-fhir-server/10_overview_and_usage.md
  docs/runtime_suite/mia-fhir-server/20_configuration.md
  docs/runtime_suite/mia-fhir-server/changelog.md
Labels: Marketplace

#840 chore(docs): update miactl documentation
  docs/cli/miactl/10_overview.md
  docs/cli/miactl/20_setup.md
  docs/cli/miactl/30_commands.md
  docs/cli/miactl/40_examples.md
  docs/cli/miactl/changelog.md
Labels: Marketplace

#841 chore(docs): update Microservice Gateway documentation
  docs/runtime_suite/microservice-gateway/10_overview.md
  docs/runtime_suite/microservice-gateway/20_configuration.md
  docs/runtime_suite/microservice-gateway/30_performance_overview.md
  docs/runtime_suite/microservice-gateway/changelog.md
Labels: Marketplace

#842 chore(docs): update mlp documentation
  docs/runtime_suite_tools/mlp/10_overview.md
  docs/runtime_suite_tools/mlp/20_setup.md
  docs/runtime_suite_tools/mlp/25_options.md
  docs/runtime_suite_tools/mlp/30_interpolate.md
  docs/runtime_suite_tools/mlp/40_generate.md
  docs/runtime_suite_tools/mlp/50_deploy.md
  docs/runtime_suite_tools/mlp/70_hydrate.md
  docs/runtime_suite_tools/mlp/changelog.md
Labels: Marketplace

#843 chore(docs): update Mongo2Kafka documentation
  docs/runtime_suite/mongo2kafka/changelog.md
  docs/runtime_suite/mongo2kafka/configuration.md
Labels: Marketplace

#846 chore(docs): update Payment Gateway Manager documentation
  docs/runtime_suite/payment-gateway-manager/10_overview.md
  docs/runtime_suite/payment-gateway-manager/20_how_it_works.md
  docs/runtime_suite/payment-gateway-manager/21_adyen.md
  docs/runtime_suite/payment-gateway-manager/22_axerve.md
  docs/runtime_suite/payment-gateway-manager/23_braintree.md
  docs/runtime_suite/payment-gateway-manager/24_satispay.md
  docs/runtime_suite/payment-gateway-manager/25_scalapay.md
  docs/runtime_suite/payment-gateway-manager/26_soisy.md
  docs/runtime_suite/payment-gateway-manager/27_stripe.md
  docs/runtime_suite/payment-gateway-manager/28_external.md
  docs/runtime_suite/payment-gateway-manager/30_configuration.md
  docs/runtime_suite/payment-gateway-manager/40_flow_manager_integration.md
  docs/runtime_suite/payment-gateway-manager/50_adaptive_checkout.md
  docs/runtime_suite/payment-gateway-manager/90_v2/91_overview.md
  docs/runtime_suite/payment-gateway-manager/90_v2/92_how_it_works.md
  docs/runtime_suite/payment-gateway-manager/90_v2/93_braintree.md
  docs/runtime_suite/payment-gateway-manager/90_v2/94_applepay.md
  docs/runtime_suite/payment-gateway-manager/90_v2/95_stripe.md
  docs/runtime_suite/payment-gateway-manager/90_v2/96_recurrent_payments.md
  docs/runtime_suite/payment-gateway-manager/90_v2/97_configuration.md
  docs/runtime_suite/payment-gateway-manager/90_v2/98_flow_manager_integration.md
  docs/runtime_suite/payment-gateway-manager/changelog.md
Labels: Marketplace

#847 chore(docs): update Payment Integration Hub documentation
  docs/runtime_suite_applications/payment-integration-hub/10_overview.md
  docs/runtime_suite_applications/payment-integration-hub/20_payment_saga.md
  docs/runtime_suite_applications/payment-integration-hub/30_subscription_saga.md
  docs/runtime_suite_applications/payment-integration-hub/40_backoffice_payment.md
  docs/runtime_suite_applications/payment-integration-hub/50_configuration.md
  docs/runtime_suite_applications/payment-integration-hub/changelog.md
Labels: Marketplace

#848 chore(docs): update PDF Service documentation
  docs/runtime_suite/pdf-service/10_overview.md
  docs/runtime_suite/pdf-service/20_configuration.md
  docs/runtime_suite/pdf-service/30_usage.md
  docs/runtime_suite/pdf-service/40_performance.md
  docs/runtime_suite/pdf-service/changelog.md
Labels: Marketplace

#849 chore(docs): update Pharma E-Commerce Backend documentation
  docs/runtime_suite/pharma-e-commerce-backend/10_overview.md
  docs/runtime_suite/pharma-e-commerce-backend/20_configuration.md
  docs/runtime_suite/pharma-e-commerce-backend/30_usage.md
  docs/runtime_suite/pharma-e-commerce-backend/changelog.md
Labels: Marketplace

#850 chore(docs): update Premium valuation AVM documentation
  docs/runtime_suite_templates/premium-valuation-avm/10_overview.md
  docs/runtime_suite_templates/premium-valuation-avm/15_configuration.md
  docs/runtime_suite_templates/premium-valuation-avm/20_walkthrough.md
  docs/runtime_suite_templates/premium-valuation-avm/changelog.md
Labels: Marketplace

#851 chore(docs): update Proxy Google FHIR documentation
  docs/runtime_suite/proxy-google-fhir/10_overview.md
  docs/runtime_suite/proxy-google-fhir/20_configuration.md
  docs/runtime_suite/proxy-google-fhir/changelog.md
Labels: Marketplace

#852 chore(docs): update Push Notification Manager documentation
  docs/runtime_suite/push-notification-manager/changelog.md
  docs/runtime_suite/push-notification-manager/configuration.md
  docs/runtime_suite/push-notification-manager/usage.md
Labels: Marketplace

#856 chore(docs): update Single View Creator documentation
  docs/runtime_suite/single-view-creator/changelog.md
  docs/runtime_suite/single-view-creator/configuration.md
Labels: Marketplace

#857 chore(docs): update Single View Trigger Generator documentation
  docs/runtime_suite/single-view-trigger-generator/10_configuration.md
  docs/runtime_suite/single-view-trigger-generator/changelog.md
Labels: Marketplace

#858 chore(docs): update SMS Service documentation
  docs/runtime_suite/sms-service/10_overview.md
  docs/runtime_suite/sms-service/20_configuration.md
  docs/runtime_suite/sms-service/30_usage.md
  docs/runtime_suite/sms-service/changelog.md
Labels: Marketplace

#859 chore(docs): update SQL DB Reader documentation
  docs/runtime_suite/sql-db-reader/changelog.md
  docs/runtime_suite/sql-db-reader/configuration_and_usage.md
Labels: Marketplace

#860 chore(docs): update SQL Invoker documentation
  docs/runtime_suite/sql-invoker/configuration_and_usage.md
Labels: Marketplace

#861 chore(docs): update Swagger Aggregator documentation
  docs/runtime_suite/swagger-aggregator/10_overview.md
  docs/runtime_suite/swagger-aggregator/20_configuration.md
  docs/runtime_suite/swagger-aggregator/30_apis.md
  docs/runtime_suite/swagger-aggregator/changelog.md
Labels: Marketplace

#862 chore(docs): update Teleconsultation Service Frontend documentation
  docs/runtime_suite/teleconsultation-service-frontend/10_overview.md
  docs/runtime_suite/teleconsultation-service-frontend/20_configuration.md
  docs/runtime_suite/teleconsultation-service-frontend/30_usage.md
  docs/runtime_suite/teleconsultation-service-frontend/changelog.md
Labels: Marketplace

#863 chore(docs): update Temporary Password Generator documentation
  docs/runtime_suite/temporary-password-generator/10_overview.md
  docs/runtime_suite/temporary-password-generator/20_how_to_use.md
  docs/runtime_suite/temporary-password-generator/30_configuration.md
  docs/runtime_suite/temporary-password-generator/changelog.md
Labels: Marketplace

#864 chore(docs): update Therapy and Monitoring Manager documentation
  docs/runtime_suite/therapy-and-monitoring-manager/10_overview.md
  docs/runtime_suite/therapy-and-monitoring-manager/20_configuration.md
  docs/runtime_suite/therapy-and-monitoring-manager/30_usage.md
  docs/runtime_suite/therapy-and-monitoring-manager/changelog.md
Labels: Marketplace

#853 chore(docs): update Push Notification Sender documentation
  docs/runtime_suite/push-notification-sender/10_overview.md
  docs/runtime_suite/push-notification-sender/20_configuration.md
  docs/runtime_suite/push-notification-sender/changelog.md
Labels: Marketplace

#854 chore(docs): update Rest2Kafka service documentation
  docs/runtime_suite/rest2kafka-service/01_overview.md
  docs/runtime_suite/rest2kafka-service/02_configuration.md
  docs/runtime_suite/rest2kafka-service/changelog.md
Labels: Marketplace

#855 chore(docs): update SES Mail Notification Service documentation
  docs/runtime_suite/ses-mail-notification-service/changelog.md
  docs/runtime_suite/ses-mail-notification-service/configuration.md
  docs/runtime_suite/ses-mail-notification-service/usage.md
Labels: Marketplace

#865 chore(docs): update Timer Service documentation
  docs/runtime_suite/timer-service/10_overview.md
  docs/runtime_suite/timer-service/20_configuration.md
  docs/runtime_suite/timer-service/30_usage.md
  docs/runtime_suite/timer-service/changelog.md
Labels: Marketplace

#866 chore(docs): update Verifiable Credential Generator documentation
  docs/runtime_suite_templates/verifiable-credential-generator/10_overview.md
  docs/runtime_suite_templates/verifiable-credential-generator/20_configuration.md
  docs/runtime_suite_templates/verifiable-credential-generator/changelog.md
Labels: Marketplace

#872 chore(docs): update CRUD Service documentation
  docs/runtime_suite/crud-service/10_overview_and_usage.md
  docs/runtime_suite/crud-service/20_configuration.md
  docs/runtime_suite/crud-service/30_encryption_configuration.md
  docs/runtime_suite/crud-service/40_performance_overview.md
  docs/runtime_suite/crud-service/50_writable_views.md
  docs/runtime_suite/crud-service/60_usage_best_practices.md
  docs/runtime_suite/crud-service/changelog.md
Labels: Marketplace

#873 chore(docs): update Invoice Service documentation
  docs/runtime_suite/invoice-service/10_overview.md
  docs/runtime_suite/invoice-service/20_configuration.md
  docs/runtime_suite/invoice-service/30_usage.md
  docs/runtime_suite/invoice-service/changelog.md
Labels: Marketplace

#874 chore(docs): update Messaging Service documentation
  docs/runtime_suite/messaging-service/10_overview.md
  docs/runtime_suite/messaging-service/20_configuration.md
  docs/runtime_suite/messaging-service/30_usage.md
  docs/runtime_suite/messaging-service/changelog.md
Labels: Marketplace

#876 chore(docs): update Back Kit documentation
  docs/microfrontend-composer/back-kit/30_page_layout.md
  docs/microfrontend-composer/back-kit/40_core_concepts.md
  docs/microfrontend-composer/back-kit/50_actions.md
  docs/microfrontend-composer/back-kit/60_components/100_crud_client.md
  docs/microfrontend-composer/back-kit/60_components/110_crud_export.md
  docs/microfrontend-composer/back-kit/60_components/120_crud_export_client.md
  docs/microfrontend-composer/back-kit/60_components/130_calendar.md
  docs/microfrontend-composer/back-kit/60_components/140_card.md
  docs/microfrontend-composer/back-kit/60_components/150_chip.md
  docs/microfrontend-composer/back-kit/60_components/160_confirmation_modal.md
  docs/microfrontend-composer/back-kit/60_components/170_crud_lookup_client.md
  docs/microfrontend-composer/back-kit/60_components/190_dynamic_form_card.md
  docs/microfrontend-composer/back-kit/60_components/200_dynamic_form_drawer.md
  docs/microfrontend-composer/back-kit/60_components/210_dynamic_form_modal.md
  docs/microfrontend-composer/back-kit/60_components/220_dynamic_title.md
  docs/microfrontend-composer/back-kit/60_components/230_expandable_filters.md
  docs/microfrontend-composer/back-kit/60_components/260_file_picker_drawer.md
  docs/microfrontend-composer/back-kit/60_components/270_file_picker_modal.md
  docs/microfrontend-composer/back-kit/60_components/280_file_service_client.md
  docs/microfrontend-composer/back-kit/60_components/30_antd_theme_manager.md
  docs/microfrontend-composer/back-kit/60_components/320_form_card.md
  docs/microfrontend-composer/back-kit/60_components/330_form_drawer.md
  docs/microfrontend-composer/back-kit/60_components/340_form_modal.md
  docs/microfrontend-composer/back-kit/60_components/360_gallery.md
  docs/microfrontend-composer/back-kit/60_components/380_layout.md
  docs/microfrontend-composer/back-kit/60_components/390_layout_container.md
  docs/microfrontend-composer/back-kit/60_components/400_layout_swap.md
  docs/microfrontend-composer/back-kit/60_components/40_atlas_dashboard.md
  docs/microfrontend-composer/back-kit/60_components/410_list.md
  docs/microfrontend-composer/back-kit/60_components/440_notification_center.md
  docs/microfrontend-composer/back-kit/60_components/450_notifications.md
  docs/microfrontend-composer/back-kit/60_components/490_search_bar.md
  docs/microfrontend-composer/back-kit/60_components/510_table.md
  docs/microfrontend-composer/back-kit/60_components/520_tabs.md
  docs/microfrontend-composer/back-kit/60_components/540_url_parameters_adapter.md
  docs/microfrontend-composer/back-kit/60_components/60_breadcrumbs.md
  docs/microfrontend-composer/back-kit/60_components/70_bulk_actions_button.md
  docs/microfrontend-composer/back-kit/60_components/90_button.md
  docs/microfrontend-composer/back-kit/80_flows/10_file_management.md
  docs/microfrontend-composer/back-kit/80_flows/20_nested_objects.md
  docs/microfrontend-composer/back-kit/80_flows/30_plugin_navigation.md
  docs/microfrontend-composer/back-kit/80_flows/40_lookups.md
Labels: Marketplace

#879 chore(docs): update Timer Service documentation
  docs/runtime_suite/timer-service/changelog.md
Labels: Marketplace

#883 chore(docs): update Composer documentation
  docs/microfrontend-composer/composer/10_structure.md
  docs/microfrontend-composer/composer/20_compose_pages.md
  docs/microfrontend-composer/composer/30_configurator_settings.md
  docs/microfrontend-composer/composer/changelog.md
Labels: marketplace

#890 chore(docs): update Single View Creator documentation
  docs/runtime_suite/single-view-creator/changelog.md
Labels: marketplace

#875 Enhance custom functions section in the pc schema configuration
  docs/fast_data/configuration/config_maps/projection_changes_schema.md
Labels: enhancement, fast-data

#885 DEVDOC-145: Add tips about shared er schema
  docs/fast_data/configuration/realtime_updater.md
  docs/fast_data/configuration/single_view_trigger_generator.md
Labels: documentation, fast-data

#880 DEVDOC220: Update jwt authn section
  docs/development_suite/api-console/advanced-section/api-gateway-envoy/extensions.md
  docs/development_suite/api-console/advanced-section/api-gateway-envoy/jwt-authn.md
Labels: documentation, Design Section

#884 ci(github): add labeler config to automatically label pull-requests
  .github/labeler.yml
Labels: github_actions

#714 feat(fast-data): document the sv-retry mechanism
  docs/fast_data/configuration/cast_functions.md
  docs/fast_data/configuration/projections.md
  docs/fast_data/configuration/single_view_creator.md
  docs/fast_data/configuration/single_views.md
  docs/fast_data/inputs_and_outputs.md
Labels: fast-data

#892 docs(fast-data): introduce sv-update v2 specification in input-output page
  docs/fast_data/inputs_and_outputs.md
Labels: fast-data

#630 chore(docs): update User Manager Service documentation
  docs/runtime_suite/user-manager-service/10_overview.md
  docs/runtime_suite/user-manager-service/20_configuration.md
  docs/runtime_suite/user-manager-service/30_usage.md
  docs/runtime_suite/user-manager-service/changelog.md
Labels: marketplace

#652 chore(docs): update Teleconsultation Service Backend documentation
  docs/runtime_suite/teleconsultation-service-backend/10_overview.md
  docs/runtime_suite/teleconsultation-service-backend/20_configuration.md
  docs/runtime_suite/teleconsultation-service-backend/30_usage.md
  docs/runtime_suite/teleconsultation-service-backend/changelog.md
Labels: marketplace

#707 chore(docs): update O3 DICOM Service documentation
  docs/runtime_suite/o3-dicom-service/10_overview.md
  docs/runtime_suite/o3-dicom-service/20_api_overview.md
  docs/runtime_suite/o3-dicom-service/30_configuration.md
  docs/runtime_suite/o3-dicom-service/changelog.md
Labels: marketplace

#711 chore(docs): update Mia FHIR Adapter documentation
  docs/runtime_suite/mia-fhir-adapter/10_overview_and_usage.md
  docs/runtime_suite/mia-fhir-adapter/20_files_management.md
  docs/runtime_suite/mia-fhir-adapter/30_configuration.md
  docs/runtime_suite/mia-fhir-adapter/changelog.md
Labels: marketplace

#787 chore(docs): update Appointment Manager documentation
  docs/runtime_suite/appointment-manager/10_overview.md
  docs/runtime_suite/appointment-manager/20_configuration.md
  docs/runtime_suite/appointment-manager/30_usage.md
  docs/runtime_suite/appointment-manager/40_performance.md
  docs/runtime_suite/appointment-manager/changelog.md
Labels: marketplace

#888 chore(docs): update Messaging Service documentation
  docs/runtime_suite/messaging-service/20_configuration.md
  docs/runtime_suite/messaging-service/30_usage.md
  docs/runtime_suite/messaging-service/changelog.md
Labels: marketplace

#889 chore(docs): update Integration Test Service documentation
  docs/runtime_suite/integration-test-service/10_overview.md
  docs/runtime_suite/integration-test-service/20_configuration.md
  docs/runtime_suite/integration-test-service/30_usage.md
  docs/runtime_suite/integration-test-service/_category_.json
  docs/runtime_suite/integration-test-service/changelog.md
Labels: marketplace

#899 chore(docs): update Therapy and Monitoring Manager documentation
  docs/runtime_suite/therapy-and-monitoring-manager/10_overview.md
  docs/runtime_suite/therapy-and-monitoring-manager/20_configuration.md
  docs/runtime_suite/therapy-and-monitoring-manager/30_usage.md
  docs/runtime_suite/therapy-and-monitoring-manager/changelog.md
  static/docs_files_to_download/therapy-and-monitoring-manager/integration_tests_with_notification_manager.postman_collection.json
  static/docs_files_to_download/therapy-and-monitoring-manager/integration_tests_with_notification_manager.postman_environment.json
Labels: marketplace

#759 chore(docs): update Scoring Manager documentation
  docs/runtime_suite_applications/scoring-manager/10_overview.md
  docs/runtime_suite_applications/scoring-manager/20_backoffice.md
  docs/runtime_suite_applications/scoring-manager/30_configuration.md
  docs/runtime_suite_applications/scoring-manager/changelog.md
Labels: marketplace

#719 chore(docs): update Identification Manager documentation
  docs/runtime_suite_applications/identification-manager/10_overview.md
  docs/runtime_suite_applications/identification-manager/20_configuration.md
  docs/runtime_suite_applications/identification-manager/changelog.md
Labels: marketplace

#903 chore(docs): update Digital Footprints Analytics documentation
  docs/runtime_suite_templates/digital-footprints-analytics/10_overview.md
  docs/runtime_suite_templates/digital-footprints-analytics/20_configuration.md
Labels: marketplace

#726 chore(docs): update Modefinance Adapter documentation
  docs/runtime_suite_templates/modefinance-adapter/10_overview.md
  docs/runtime_suite_templates/modefinance-adapter/20_configuration.md
  docs/runtime_suite_templates/modefinance-adapter/changelog.md
Labels: marketplace

#905 chore(docs): update Payment Gateway Manager documentation
  docs/runtime_suite/payment-gateway-manager/10_overview.md
  docs/runtime_suite/payment-gateway-manager/20_how_it_works.md
  docs/runtime_suite/payment-gateway-manager/27_stripe.md
  docs/runtime_suite/payment-gateway-manager/30_configuration.md
  docs/runtime_suite/payment-gateway-manager/changelog.md
Labels: marketplace

#904 chore(docs): update Invoice Service documentation
  docs/runtime_suite/invoice-service/changelog.md
Labels: marketplace

#898 chore(docs): update Adaptive Approval Service documentation
  docs/runtime_suite/adaptive-approval-service/20_how_to_use.md
  docs/runtime_suite/adaptive-approval-service/changelog.md
Labels: marketplace

#715 chore(docs): update Faire.ai Adapter documentation
  docs/runtime_suite_templates/faire.ai-adapter/10_overview.md
  docs/runtime_suite_templates/faire.ai-adapter/20_configuration.md
  docs/runtime_suite_templates/faire.ai-adapter/changelog.md
Labels: marketplace

#793 add redirects to the v12 features, pages and other
  301redirects.json
Labels: v12
