Repository mia-platform/documentation, pull requests merged in 2023-10, with the labels that each got.

#643 chore(docs): update Authentication Service documentation
  docs/runtime_suite/authentication-service/20_configuration.mdx
Labels: Marketplace

#618 chore(docs): update Payment Gateway Manager documentation
  docs/runtime_suite/payment-gateway-manager/10_overview.md
  docs/runtime_suite/payment-gateway-manager/20_how_it_works.md
  docs/runtime_suite/payment-gateway-manager/21_adyen.md
  docs/runtime_suite/payment-gateway-manager/22_axerve.md
  docs/runtime_suite/payment-gateway-manager/40_flow_manager_integration.md
  docs/runtime_suite/payment-gateway-manager/90_v2/91_overview.md
  docs/runtime_suite/payment-gateway-manager/90_v2/92_how_it_works.md
  docs/runtime_suite/payment-gateway-manager/90_v2/93_braintree.md
  docs/runtime_suite/payment-gateway-manager/90_v2/94_applepay.md
  docs/runtime_suite/payment-gateway-manager/90_v2/95_stripe.md
  docs/runtime_suite/payment-gateway-manager/90_v2/96_recurrent_payments.md
  docs/runtime_suite/payment-gateway-manager/90_v2/97_configuration.md
  docs/runtime_suite/payment-gateway-manager/90_v2/98_flow_manager_integration.md
Labels: Marketplace

#615 chore(docs): update Payment Integration Hub documentation
  docs/runtime_suite_applications/payment-integration-hub/10_overview.md
  docs/runtime_suite_applications/payment-integration-hub/20_payment_saga.md
  docs/runtime_suite_applications/payment-integration-hub/30_subscription_saga.md
  docs/runtime_suite_applications/payment-integration-hub/40_backoffice_payment.md
  docs/runtime_suite_applications/payment-integration-hub/50_configuration.md
  docs/runtime_suite_applications/payment-integration-hub/img/machine-definition-v3.1.png
Labels: Marketplace

#610 chore(docs): update Secure API Gateway documentation
  docs/runtime_suite_applications/secure-api-gateway/10_overview.md
  docs/runtime_suite_applications/secure-api-gateway/20_configuration.md
  docs/runtime_suite_applications/secure-api-gateway/30_changelog.md
  docs/runtime_suite_applications/secure-api-gateway/_category_.json
Labels: Marketplace

#505 chore(docs): update Invoice Service documentation
  docs/runtime_suite/invoice-service/changelog.md
Labels: Marketplace

#532 chore(docs): update Messaging Service documentation
  docs/runtime_suite/messaging-service/10_overview.md
  docs/runtime_suite/messaging-service/20_configuration.md
  docs/runtime_suite/messaging-service/30_usage.md
  docs/runtime_suite/messaging-service/changelog.md
Labels: Marketplace

#533 chore(docs): update O3 DICOM Service documentation
  docs/runtime_suite/o3-dicom-service/30_configuration.md
  docs/runtime_suite/o3-dicom-service/changelog.md
Labels: Marketplace

#534 chore(docs): update Teleconsultation Service Frontend documentation
  docs/runtime_suite/teleconsultation-service-frontend/10_overview.md
  docs/runtime_suite/teleconsultation-service-frontend/20_configuration.md
  docs/runtime_suite/teleconsultation-service-frontend/30_usage.md
  docs/runtime_suite/teleconsultation-service-frontend/changelog.md
Labels: Marketplace

#540 chore(docs): update Teleconsultation Service Backend documentation
  docs/runtime_suite/teleconsultation-service-backend/10_overview.md
  docs/runtime_suite/teleconsultation-service-backend/20_configuration.md
  docs/runtime_suite/teleconsultation-service-backend/30_usage.md
  docs/runtime_suite/teleconsultation-service-backend/changelog.md
  docs/runtime_suite/teleconsultation-service-backend/img/image.svg
Labels: Marketplace

#541 chore(docs): update Therapy and Monitoring Manager documentation
  docs/runtime_suite/therapy-and-monitoring-manager/changelog.md
Labels: Marketplace

#575 chore(docs): update Form Service Frontend documentation
  docs/runtime_suite/form-service-frontend/changelog.md
Labels: Marketplace

#601 chore(docs): update Appointment Manager documentation
  docs/runtime_suite/appointment-manager/10_overview.md
  docs/runtime_suite/appointment-manager/20_configuration.md
  docs/runtime_suite/appointment-manager/30_usage.md
  docs/runtime_suite/appointment-manager/changelog.md
  static/docs_files_to_download/appointment-manager/integration_tests_basic.postman_collection.json
  static/docs_files_to_download/appointment-manager/integration_tests_basic.postman_environment.json
  static/docs_files_to_download/appointment-manager/integration_tests_notification_manager.postman_collection.json
  static/docs_files_to_download/appointment-manager/integration_tests_notification_manager.postman_environment.json
Labels: Marketplace

#625 chore(docs): update Flow Manager Router documentation
  301redirects.json
  docs/runtime_suite/flow-manager-router/10_overview.md
  docs/runtime_suite/flow-manager-router/20_configuration.md
  docs/runtime_suite/flow-manager-router/_category_.json
  docs/runtime_suite/flow-manager-router/changelog.md
  docs/runtime_suite/identification-router/_category_.json
  docs/runtime_suite_applications/identification-manager/20_configuration.md
Labels: Marketplace

#648 feat: added marketplace item porting page
  docs/marketplace/add_to_marketplace/change_marketplace_item_visibility.md
  docs/marketplace/add_to_marketplace/contributing_overview.md
  sidebars.json
Labels: New contents, Marketplace Management

#659 chore(docs): update API Portal documentation
  docs/runtime_suite/api-portal/changelog.md
Labels: Marketplace

#665 chore(docs): update lc39 documentation
  docs/runtime_suite_libraries/lc39/changelog.md
Labels: Marketplace

#663 chore(docs): update Authentication Service documentation
  docs/runtime_suite/authentication-service/20_configuration.mdx
  docs/runtime_suite/authentication-service/changelog.md
Labels: Marketplace

#664 chore(docs): update Backoffice Configurator documentation
  docs/business_suite/backoffice-configurator/20_structure.md
  docs/business_suite/backoffice-configurator/50_faqs.md
  docs/business_suite/backoffice-configurator/changelog.md
  docs/business_suite/backoffice-configurator/img/structure_layout-acl-component.png
  docs/business_suite/backoffice-configurator/img/structure_layout-acl-property.png
  docs/business_suite/backoffice-configurator/img/structure_layout-right-menu-modal.png
  docs/business_suite/backoffice-configurator/img/structure_layout-right-menu.png
Labels: Marketplace

#644 chore(docs): update Backoffice documentation
  docs/business_suite/backoffice/30_page_layout.md
  docs/business_suite/backoffice/60_components/360_gallery.md
  docs/business_suite/backoffice/60_components/490_search_bar.md
  docs/business_suite/backoffice/80_flows/40_lookups.md
  docs/business_suite/backoffice/changelog.md
  docs/runtime_suite_applications/backoffice/changelog.md
Labels: Marketplace

#629 chore(docs): update Single View Creator documentation
  docs/runtime_suite/single-view-creator/changelog.md
Labels: Marketplace

#612 feat(JSG-236): export and review deploy files
  docs/development_suite/deploy/gitops-based/index.md
  docs/development_suite/deploy/img/export-and-review-files.png
  docs/development_suite/deploy/img/review-configuration-files.png
Labels: Project enhancement, Deploy Section

#623 chore(docs): update Single View Trigger Generator documentation
  docs/runtime_suite/single-view-trigger-generator/changelog.md
Labels: Marketplace

#669 chore(docs): update Client Credentials documentation
  docs/runtime_suite/client-credentials/10_configuration.md
  docs/runtime_suite/client-credentials/30_jwt_keys.md
Labels: Marketplace

#577 chore(docs): update miactl documentation
  .cspell.json
  docs/cli/miactl/10_overview.md
  docs/cli/miactl/20_setup.md
  docs/cli/miactl/30_commands.md
  docs/cli/miactl/40_examples.md
  docs/cli/miactl/changelog.md
Labels: Marketplace

#410 add: user feedback documentation
  docs/development_suite/user-feedback/give-feedback.md
  docs/development_suite/user-feedback/img/feedback-button.png
  docs/development_suite/user-feedback/img/feedback-modal.png
  sidebars.json
Labels: New contents, Project enhancement

#628 chore(docs): update Identification Manager documentation
  docs/runtime_suite_applications/identification-manager/10_overview.md
  docs/runtime_suite_applications/identification-manager/20_configuration.md
Labels: Marketplace

#672 Improve provider documentation
  301redirects.json
  docs/byoi/overview.md
  docs/console/company-configuration/project-default-configuration.mdx
  docs/console/company-configuration/providers/api-reference.md
  docs/console/company-configuration/providers/configure-marketplace-provider.mdx
  docs/console/company-configuration/providers/configure-provider.mdx
  docs/console/company-configuration/providers/img/add-provider-1-marketplace.png
  docs/console/company-configuration/providers/img/add-provider-1a.png
  docs/console/company-configuration/providers/img/add-provider-1b.png
  docs/console/company-configuration/providers/img/add-provider-2-marketplace.png
  docs/console/company-configuration/providers/img/add-provider-2.png
  docs/console/company-configuration/providers/img/add-provider-3.png
  docs/console/company-configuration/providers/img/add-provider-4a.png
  docs/console/company-configuration/providers/img/add-provider-4b.png
  docs/console/company-configuration/providers/img/add-provider-connection-choice.png
  docs/console/company-configuration/providers/img/default-providers.png
  docs/console/company-configuration/providers/img/edit-default-provider.png
  docs/console/company-configuration/providers/img/edit-provider-details.png
  docs/console/company-configuration/providers/img/provider-advanced-certificate.png
  docs/console/company-configuration/providers/img/provider-advanced-proxy.png
  docs/console/company-configuration/providers/img/provider-credentials.png
  docs/console/company-configuration/providers/img/provider-details.png
  docs/console/company-configuration/providers/img/providers-overview-marketplace.png
  docs/console/company-configuration/providers/img/providers-overview.png
  docs/console/company-configuration/providers/img/remove-provider-connection-footer.png
  docs/console/company-configuration/providers/img/remove-provider-connection.png
  docs/console/company-configuration/providers/overview.md
  docs/console/company-configuration/providers/project-configuration.md
  docs/console/project-configuration/create-a-project.mdx
  docs/console/project-configuration/manage-environment-variables/manage-environment-variables-with-vault.md
  docs/development_suite/clusters-management/connect-and-manage-cluster.mdx
  docs/development_suite/company/configuration.mdx
  docs/development_suite/company/img/go-to-company-overview.png
  docs/development_suite/company/overview.md
  docs/development_suite/deploy/pipeline-based/configure-github-actions.md
  docs/development_suite/set-up-infrastructure/configure-provider.mdx
  docs/development_suite/set-up-infrastructure/img/go-to-company-overview.png
  docs/marketplace/add_to_marketplace/marketplace_items_accessibility.md
  docs/release-notes/mia-platform-v11.mdx
  docs/release-notes/v11.2.0.md
  docs/release-notes/v11.6.0.md
  scripts/validate-links.js
  sidebars.json
Labels: documentation, console

#507 refactor(fast-data): Rewrite of Fast Data monitoring
  docs/fast_data/img/dashboards/consumer_groups_1.png
  docs/fast_data/img/dashboards/consumer_groups_2.png
  docs/fast_data/img/dashboards/projection_changes_1.png
  docs/fast_data/img/dashboards/single_view_creator_1.png
  docs/fast_data/img/dashboards/single_view_creator_2.png
  docs/fast_data/img/dashboards/unmapped_dashboard.png
  docs/fast_data/img/monitoring-enable-metrics-toggle.png
  docs/fast_data/monitoring/dashboards/bucket_storage_support.md
  docs/fast_data/monitoring/dashboards/consumer_groups.md
  docs/fast_data/monitoring/dashboards/debezium_cdc.md
  docs/fast_data/monitoring/dashboards/kafka_messages.md
  docs/fast_data/monitoring/dashboards/projection_changes.md
  docs/fast_data/monitoring/dashboards/real_time_updater.md
  docs/fast_data/monitoring/dashboards/single_views.md
  docs/fast_data/monitoring/dashboards/unmapped_fields.md
  docs/fast_data/monitoring/overview.md
  docs/fast_data/troubleshooting/rtu_keeps_restarting_rebalancing.md
  sidebars.json
  static/docs_files_to_download/dashboards/bucket-storage-support.json
  static/docs_files_to_download/dashboards/debezium-cdc.json
  static/docs_files_to_download/dashboards/kafka-messages.json
  static/docs_files_to_download/dashboards/projection-changes.json
  static/docs_files_to_download/dashboards/real-time-updater.json
  static/docs_files_to_download/dashboards/single-views.json
  static/docs_files_to_download/dashboards/unmapped-fields.json
  versioned_docs/version-10.x.x/fast_data/monitoring/dashboards/projection_changes.md
  versioned_docs/version-9.x.x/fast_data/monitoring/dashboards/projection_changes.md
  versioned_docs/version-9.x.x/fast_data/monitoring/overview.md
Labels: Fast Data

#691 chore(docs): update Faire.ai Adapter documentation
  .cspell.json
  docs/runtime_suite_templates/faire.ai-adapter/10_overview.md
  docs/runtime_suite_templates/faire.ai-adapter/20_configuration.md
  docs/runtime_suite_templates/faire.ai-adapter/_category_.json
  docs/runtime_suite_templates/faire.ai-adapter/changelog.md
Labels: Marketplace

#697 chore(docs): update Custom Plugin Lib documentation
  docs/runtime_suite_libraries/custom-plugin-lib/changelog.md
Labels: Marketplace

#712 chore(docs): update Modefinance Adapter documentation
  docs/runtime_suite_templates/modefinance-adapter/10_overview.md
  docs/runtime_suite_templates/modefinance-adapter/20_configuration.md
  docs/runtime_suite_templates/modefinance-adapter/_category_.json
  docs/runtime_suite_templates/modefinance-adapter/changelog.md
Labels: Marketplace

#709 chore(docs): update Adaptive Approval Service documentation
  docs/runtime_suite/adaptive-approval-service/10_overview.md
  docs/runtime_suite/adaptive-approval-service/20_how_to_use.md
  docs/runtime_suite/adaptive-approval-service/30_configuration.md
  docs/runtime_suite/adaptive-approval-service/_category_.json
  docs/runtime_suite/adaptive-approval-service/changelog.md
Labels: Marketplace

#716 chore(docs): update Files Service documentation
  docs/runtime_suite/files-service/changelog.md
Labels: Marketplace

#617 docs(fast-data): review configuration schema of single-view-trigger-generator
  docs/fast_data/configuration/single_view_trigger_generator.md
Labels: Fast Data

#710 chore(docs): update Application Service Adapter documentation
  301redirects.json
  docs/runtime_suite_applications/identification-manager/20_configuration.md
  docs/runtime_suite_templates/application-service-adapter/10_overview.md
  docs/runtime_suite_templates/application-service-adapter/20_configuration.md
  docs/runtime_suite_templates/application-service-adapter/_category_.json
  docs/runtime_suite_templates/application-service-adapter/changelog.md
  docs/runtime_suite_templates/identification-provider-adapter/_category_.json
Labels: Marketplace
