Repository mia-platform/documentation, pull requests merged in 2023-12, with the labels that each got.

#772 chore(docs): update Auth0 Client documentation
  docs/runtime_suite/auth0-client/10_overview_and_usage.md
  docs/runtime_suite/auth0-client/20_configuration.md
  docs/runtime_suite/auth0-client/30_configure_auth0.md
  docs/runtime_suite/auth0-client/40_enable_auth0.md
  docs/runtime_suite/auth0-client/50_usage.md
  docs/runtime_suite/auth0-client/changelog.md
Labels: marketplace

#909 chore(docs): update Integration Tests Service documentation
  docs/runtime_suite/integration-tests-service/10_overview.md
  docs/runtime_suite/integration-tests-service/20_configuration.md
  docs/runtime_suite/integration-tests-service/30_usage.md
  docs/runtime_suite/integration-tests-service/_category_.json
  docs/runtime_suite/integration-tests-service/changelog.md
Labels: marketplace

#936 feat: new probes ui with startup probe support
  docs/console/company-configuration/providers/extensions/orchestrator-generator.mdx
  docs/development_suite/api-console/api-design/img/Runtime-card.png
  docs/development_suite/api-console/api-design/microservice-runtime-resources.md
Labels: enhancement, Design Section

#937 chore(docs): update Files Service documentation
  docs/runtime_suite/files-service/changelog.md
Labels: marketplace

#877 chore(docs): update CRUD Service documentation
  docs/runtime_suite/crud-service/20_configuration.md
  docs/runtime_suite/crud-service/50_writable_views.md
  docs/runtime_suite/crud-service/changelog.md
Labels: marketplace

#953 chore(docs): update Real-Time Updater documentation
  docs/runtime_suite/real-time-updater/changelog.md
Labels: marketplace

#881 Feat(FDSS-16): control plane documentation
  docs/fast_data/configuration/single_view_creator/index.md
  docs/fast_data/img/runtime_management/runtime_management_error_log.png
  docs/fast_data/img/runtime_management/runtime_management_initial_screen.png
  docs/fast_data/img/runtime_management/runtime_management_request_with_parameters.png
  docs/fast_data/runtime_management.mdx
  docs/runtime_suite_applications/control-plane/10_overview.md
  docs/runtime_suite_applications/control-plane/20_configuration.mdx
  docs/runtime_suite_applications/control-plane/_category_.json
  docs/runtime_suite_applications/control-plane/changelog.md
  docs/runtime_suite_applications/control-plane/img/runtime_management_initial_screen.png
  sidebars.json
Labels: fast-data

#961 chore(docs): update Projection Storer documentation
  docs/runtime_suite/projection-storer/changelog.md
Labels: marketplace

#952 chore(docs): update Single View Trigger Generator documentation
  docs/runtime_suite/single-view-trigger-generator/changelog.md
Labels: marketplace

#954 docs(fast-data): review projection storer custom message adapter
  docs/fast_data/configuration/projection_storer.md
  docs/fast_data/faq/fast_data_versioning.md
Labels: fast-data

#882 chore(docs): update Back Kit documentation
  docs/microfrontend-composer/back-kit/30_page_layout.md
  docs/microfrontend-composer/back-kit/50_actions.md
  docs/microfrontend-composer/back-kit/60_components/170_crud_lookup_client.md
  docs/microfrontend-composer/back-kit/60_components/190_dynamic_form_card.md
  docs/microfrontend-composer/back-kit/60_components/200_dynamic_form_drawer.md
  docs/microfrontend-composer/back-kit/60_components/210_dynamic_form_modal.md
  docs/microfrontend-composer/back-kit/60_components/250_file_manager.md
  docs/microfrontend-composer/back-kit/60_components/260_file_picker_drawer.md
  docs/microfrontend-composer/back-kit/60_components/270_file_picker_modal.md
  docs/microfrontend-composer/back-kit/60_components/280_file_service_client.md
  docs/microfrontend-composer/back-kit/60_components/330_form_drawer.md
  docs/microfrontend-composer/back-kit/60_components/340_form_modal.md
  docs/microfrontend-composer/back-kit/60_components/350_form_wizard.md
  docs/microfrontend-composer/back-kit/60_components/380_layout.md
  docs/microfrontend-composer/back-kit/60_components/460_pagination.md
  docs/microfrontend-composer/back-kit/60_components/500_state_adapter.md
  docs/microfrontend-composer/back-kit/60_components/510_table.md
  docs/microfrontend-composer/back-kit/60_components/540_url_parameters_adapter.md
  docs/microfrontend-composer/back-kit/60_components/90_button.md
  docs/microfrontend-composer/back-kit/70_events.md
  docs/microfrontend-composer/back-kit/80_examples/10_file_management.md
  docs/microfrontend-composer/back-kit/80_examples/20_nested_data.md
  docs/microfrontend-composer/back-kit/80_examples/30_plugin_navigation.md
  docs/microfrontend-composer/back-kit/80_examples/40_lookups.md
  docs/microfrontend-composer/back-kit/80_examples/50_data_import_export.md
  docs/microfrontend-composer/back-kit/80_examples/60_data_filtering.md
  docs/microfrontend-composer/back-kit/80_examples/_category_.json
  docs/microfrontend-composer/back-kit/80_examples/img/push-state.png
  docs/microfrontend-composer/back-kit/changelog.md
Labels: marketplace

#950 chore(docs): update Composer documentation
  docs/microfrontend-composer/composer/changelog.md
Labels: marketplace

#921 chore(docs): update Microfrontend Composer Toolkit documentation
  docs/runtime_suite_applications/microfrontend-composer-toolkit/10_overview.md
  docs/runtime_suite_applications/microfrontend-composer-toolkit/20_configuration.md
  docs/runtime_suite_applications/microfrontend-composer-toolkit/changelog.md
Labels: marketplace

#920 chore(docs): update Microfrontend Composer On Prem Toolkit documentation
  docs/runtime_suite_applications/microfrontend-composer-on-prem-toolkit/10_overview.md
  docs/runtime_suite_applications/microfrontend-composer-on-prem-toolkit/20_configuration.md
  docs/runtime_suite_applications/microfrontend-composer-on-prem-toolkit/changelog.md
Labels: marketplace

#783 chore(docs): update Function Service documentation
  docs/runtime_suite/function-service/changelog.md
  docs/runtime_suite/function-service/configuration.md
Labels: marketplace

#671 chore(docs): update Salesforce Streaming API Connector documentation
  docs/runtime_suite_applications/salesforce-streaming-api-connector/10_overview.md
  docs/runtime_suite_applications/salesforce-streaming-api-connector/11_connector_in_depth.md
  docs/runtime_suite_applications/salesforce-streaming-api-connector/12_dlq_in_depth.md
  docs/runtime_suite_applications/salesforce-streaming-api-connector/20_configuration.md
  docs/runtime_suite_applications/salesforce-streaming-api-connector/30_how_to_use.md
  docs/runtime_suite_applications/salesforce-streaming-api-connector/40_monitoring.md
  docs/runtime_suite_applications/salesforce-streaming-api-connector/changelog.md
Labels: marketplace

#634 chore(docs): update Form Service Backend documentation
  docs/runtime_suite/form-service-backend/10_overview.md
  docs/runtime_suite/form-service-backend/20_configuration.md
  docs/runtime_suite/form-service-backend/30_form_assignments_configuration.md
  docs/runtime_suite/form-service-backend/40_submit_urls.md
  docs/runtime_suite/form-service-backend/50_form_visualizer_styling_configuration.md
  docs/runtime_suite/form-service-backend/60_notifications.md
  docs/runtime_suite/form-service-backend/70_performance.md
  docs/runtime_suite/form-service-backend/changelog.md
Labels: marketplace

#908 chore(docs): update Integration Test Service documentation
  docs/runtime_suite/integration-test-service/changelog.md
Labels: marketplace

#951 chore(docs): update Form Service Frontend documentation
  docs/runtime_suite/form-service-frontend/changelog.md
Labels: marketplace

#963 chore(docs): update Chat Service Frontend documentation
  docs/runtime_suite/chat-service-frontend/10_overview.md
  docs/runtime_suite/chat-service-frontend/20_configuration.md
  docs/runtime_suite/chat-service-frontend/30_customization.md
  docs/runtime_suite/chat-service-frontend/changelog.md
Labels: marketplace

#964 chore(docs): update User Manager Service documentation
  docs/runtime_suite/user-manager-service/10_overview.md
  docs/runtime_suite/user-manager-service/30_usage.md
Labels: marketplace

#878 chore(docs): update miactl documentation
  docs/cli/miactl/20_setup.md
  docs/cli/miactl/30_commands.md
  docs/cli/miactl/changelog.md
Labels: marketplace

#946 chore(docs): update Authentication Service documentation
  docs/runtime_suite/authentication-service/30_usage.md
Labels: marketplace
