Repository mia-platform/documentation, pull requests merged in 2023-05, with the labels that each got.

#203 fix: improve private key jwt docs for console login with m2m
  docs/development_suite/identity-and-access-management/service-account-management.md
Labels: iam, console

#210 edit: improved "default services" section in "project templates" doc
  docs/development_suite/company/project-templates.md
Labels: documentation

#169 chore: migrate yarn to v3
  .gitignore
  yarn.lock
Labels: enhancement, question

#229 Added documentation for db2 connector
  .cspell.json
  docs/fast_data/connectors/debezium_cdc.md
Labels: fast-data

#208 docs(fast-data-connectors): review links pointing to the different CD…
  docs/fast_data/connectors/debezium_cdc.md
  docs/fast_data/connectors/overview.md
Labels: documentation, fast-data

#257 chore(docs): update Backoffice documentation
  docs/business_suite/backoffice/10_overview.md
  docs/business_suite/backoffice/30_page_layout.md
  docs/business_suite/backoffice/50_actions.md
  docs/business_suite/backoffice/60_components/50_data_querying.md
  docs/business_suite/backoffice/60_components/60_data_visualization.md
  docs/business_suite/backoffice/60_components/70_misc.md
  docs/business_suite/backoffice/changelog.md
Labels: Marketplace

#280 chore(docs): update Backoffice Configurator documentation
  docs/business_suite/backoffice-configurator/changelog.md
Labels: Marketplace

#281 fix: api-design overview page redirect
  301redirects.json
Labels: bug

#234 chore(docs): update Chat Service Backend documentation
  docs/runtime_suite/chat-service-backend/10_overview_and_usage.md
Labels: Marketplace

#247 chore(docs): update Pharma E-Commerce Backend documentation
  docs/runtime_suite/pharma-e-commerce-backend/10_overview.md
  docs/runtime_suite/pharma-e-commerce-backend/30_usage.md
Labels: Marketplace

#230 chore(docs): update Appointment Manager documentation
  docs/runtime_suite/appointment-manager/10_overview.md
  docs/runtime_suite/appointment-manager/20_configuration.md
  docs/runtime_suite/appointment-manager/30_usage.md
Labels: Marketplace

#274 chore(docs): update User Manager Service documentation
  docs/runtime_suite/user-manager-service/20_configuration.md
  docs/runtime_suite/user-manager-service/30_usage.md
  docs/runtime_suite/user-manager-service/changelog.md
Labels: Marketplace

#251 chore(docs): update Therapy and Monitoring Manager documentation
  docs/runtime_suite/therapy-and-monitoring-manager/10_overview.md
  docs/runtime_suite/therapy-and-monitoring-manager/20_configuration.md
  docs/runtime_suite/therapy-and-monitoring-manager/30_usage.md
  static/docs_files_to_download/therapy-and-monitoring-manager/detections.json
  static/docs_files_to_download/therapy-and-monitoring-manager/monitorings.json
  static/docs_files_to_download/therapy-and-monitoring-manager/therapies.json
Labels: Marketplace

#266 chore(docs): update Identification Router documentation
  docs/runtime_suite/identification-router/10_overview.md
  docs/runtime_suite/identification-router/changelog.md
Labels: Marketplace

#282 chore(docs): update Backoffice Configurator documentation
  docs/business_suite/backoffice-configurator/changelog.md
Labels: Marketplace

#284 chore(docs): update Backoffice Configurator documentation
  docs/business_suite/backoffice-configurator/changelog.md
Labels: Marketplace

#287 chore(docs): update installation-chart documentation
  check-content.js
  docs/self_hosted/installation-chart/.cspell.json
  docs/self_hosted/installation-chart/100_how_to_upgrade.md
  docs/self_hosted/installation-chart/10_overview.md
  docs/self_hosted/installation-chart/20_general_settings.md
  docs/self_hosted/installation-chart/25_service_specific_configurations.md
  docs/self_hosted/installation-chart/30_authentication_provider.md
  docs/self_hosted/installation-chart/40_mongodb_configurations_and_encryption.md
  docs/self_hosted/installation-chart/45_marketplace.md
  docs/self_hosted/installation-chart/50_file_storage.md
  docs/self_hosted/installation-chart/60_email_setup.md
  docs/self_hosted/installation-chart/70_license_management.md
  docs/self_hosted/installation-chart/80_first_user_and_company_creation.md
  docs/self_hosted/installation-chart/90_installation_chart_example.md
  docs/self_hosted/installation-chart/_category_.json
  scripts/validate-links.js
  sidebars.json
Labels: Marketplace

#297 chore(docs): update installation-chart documentation
  docs/self_hosted/installation-chart/20_general_settings.md
Labels: Marketplace

#299 Fix (FDBM-63): Update DB2 Message Adapter: Specify Key in value Field for Ingestion Messages
  docs/fast_data/configuration/realtime_updater/common.md
  docs/fast_data/inputs_and_outputs.md
Labels: documentation, fast-data
