Repository mia-platform/documentation, pull requests merged in 2024-06, with the labels that each got.

#1429 chore(docs): update Projection Storer documentation
  docs/runtime_suite/projection-storer/10_configuration.md
Labels: marketplace

#1385 chore(docs): update installation-chart documentation
  docs/infrastructure/self-hosted/installation-chart/100_how-to-upgrade.md
Labels: marketplace

#1399 chore(docs): update Microfrontend Composer On Prem Toolkit documentation
  docs/runtime_suite_applications/microfrontend-composer-on-prem-toolkit/changelog.md
Labels: marketplace

#1442 chore(docs): update JWT Token Validator documentation
  docs/runtime_suite/jwt-token-validator/changelog.md
Labels: marketplace

#1444 chore(docs): update Microfrontend Composer Toolkit documentation
  docs/runtime_suite_applications/microfrontend-composer-toolkit/changelog.md
Labels: marketplace

#1454 chore(docs): update CRUD Service documentation
  docs/runtime_suite/crud-service/changelog.md
Labels: marketplace, crud-service

#1446 RN 13.0.1 to PROD
  docs/release-notes/v13.0.0.md
  docs/release-notes/v13.0.1.md
  docs/release-notes/versions.md
  sidebars.json
  versioned_sidebars/version-12.x.x-sidebars.json
Labels: release-note

#1464 fix typo in RN v13.0.1
  docs/release-notes/v13.0.1.md
Labels: release-note

#1471 docs: revert history modal button
  docs/development_suite/set-up-infrastructure/enhanced-project-workflow.md
  docs/development_suite/set-up-infrastructure/img/revision-history-revert-changes-button.png
Labels: design-section

#1477 chore(docs): update Microfrontend Composer Toolkit documentation
  docs/runtime_suite_applications/microfrontend-composer-toolkit/changelog.md
Labels: marketplace

#1476 chore(docs): update Microfrontend Composer On Prem Toolkit documentation
  docs/runtime_suite_applications/microfrontend-composer-on-prem-toolkit/changelog.md
Labels: marketplace

#1475 chore(docs): update Back Kit documentation
  docs/microfrontend-composer/back-kit/60_components/200_dynamic_form_drawer.md
  docs/microfrontend-composer/back-kit/60_components/210_dynamic_form_modal.md
  docs/microfrontend-composer/back-kit/changelog.md
Labels: marketplace

#1461 chore(docs): update Composer documentation
  docs/microfrontend-composer/composer/10_structure.md
  docs/microfrontend-composer/composer/changelog.md
  docs/microfrontend-composer/composer/img/structure_first-section.png
  docs/microfrontend-composer/composer/img/structure_layout-left-menu-hidden.png
  docs/microfrontend-composer/composer/img/structure_layout-left-menu-selected.png
  docs/microfrontend-composer/composer/img/structure_layout-preview-interact.png
  docs/microfrontend-composer/composer/img/structure_layout.png
  docs/microfrontend-composer/composer/img/structure_pages.png
  docs/microfrontend-composer/composer/img/structure_settings-error-pages.png
  docs/microfrontend-composer/composer/img/structure_settings-import-maps.png
  docs/microfrontend-composer/composer/img/structure_settings-mount-point.png
  docs/microfrontend-composer/composer/img/structure_settings-shared.png
  docs/microfrontend-composer/composer/img/structure_settings-uris.png
  docs/microfrontend-composer/composer/img/structure_webserver_content-types.png
  docs/microfrontend-composer/composer/img/structure_webserver_entry-point.png
  docs/microfrontend-composer/composer/img/structure_webserver_headers.png
Labels: marketplace

#1474 chore(docs): update API Portal documentation
  docs/runtime_suite/api-portal/changelog.md
Labels: marketplace

#1483 update k8s supported range
  docs/infrastructure/self-hosted/self-hosted-requirements.md
Labels: self-hosted-section

#1478 edit RN v13.0.2 hotfix
  docs/development_suite/api-console/api-design/mongo_views.md
  docs/release-notes/v13.0.2.md
  docs/release-notes/versions.md
  sidebars.json
Labels: release-note

#1466 chore(docs): update Notification Manager Service documentation
  docs/runtime_suite/notification-manager-service/10_overview.md
  docs/runtime_suite/notification-manager-service/20_configuration.md
  docs/runtime_suite/notification-manager-service/30_usage.md
  docs/runtime_suite/notification-manager-service/40_performance.md
  docs/runtime_suite/notification-manager-service/changelog.md
Labels: marketplace

#1428 chore(docs): update lc39 documentation
  docs/runtime_suite_libraries/lc39/changelog.md
Labels: marketplace

#1482 chore(docs): update API Portal documentation
  docs/runtime_suite/api-portal/10_overview.md
  docs/runtime_suite/api-portal/20_configuration.md
  docs/runtime_suite/api-portal/changelog.md
  docs/runtime_suite/api-portal/img/api-documentation-aggregator-creation.png
  docs/runtime_suite/api-portal/img/api-portal-setup_documentation.png
  docs/runtime_suite/api-portal/img/api-portal-setup_microservice-gateway.png
  docs/runtime_suite/api-portal/img/api-portal-setup_routes.png
  docs/runtime_suite/api-portal/img/api-portal-setup_security.png
  docs/runtime_suite/api-portal/img/api-portal.png
  docs/runtime_suite/api-portal/img/api-portal_environment-variables.png
Labels: marketplace

#1487 RN 13.0.3 to Preview
  docs/release-notes/img/compare_changes.png
  docs/release-notes/img/restore-changes.png
  docs/release-notes/v13.0.0.md
  docs/release-notes/v13.0.3.md
  docs/release-notes/versions.md
  sidebars.json
Labels: release-note

#1493 chore(docs): update CRUD Service documentation
  docs/runtime_suite/crud-service/changelog.md
Labels: marketplace, crud-service

#1469 chore(docs): update installation-chart documentation
  docs/infrastructure/self-hosted/installation-chart/.cspell.json
  docs/infrastructure/self-hosted/installation-chart/helm-values/20_general-settings.md
  docs/infrastructure/self-hosted/installation-chart/helm-values/80_whitelabeling.md
Labels: marketplace

#1497 add whitelabeling
  docs/release-notes/v13.0.3.md
Labels: release-note

#1426 chore(docs): update AI RAG Template documentation
  docs/runtime_suite_templates/ai-rag-template/10_overview_and_usage.md
  docs/runtime_suite_templates/ai-rag-template/_category_.json
  docs/runtime_suite_templates/ai-rag-template/changelog.md
Labels: marketplace

#1500 chore(docs): update miactl documentation
  docs/cli/miactl/20_setup.md
  docs/cli/miactl/30_commands.md
  docs/cli/miactl/40_examples.md
  docs/cli/miactl/changelog.md
Labels: marketplace
