Repository mia-platform/documentation, pull requests merged in 2024-07, with the labels that each got.

#1503 chore(docs): update Back Kit documentation
  docs/microfrontend-composer/back-kit/changelog.md
Labels: marketplace

#1506 chore(docs): update Microfrontend Composer On Prem Toolkit documentation
  docs/runtime_suite_applications/microfrontend-composer-on-prem-toolkit/changelog.md
Labels: marketplace

#1504 chore(docs): update CRUD Service documentation
  docs/runtime_suite/crud-service/changelog.md
Labels: marketplace, crud-service

#1492 chore(docs): update API Portal documentation
  docs/runtime_suite/api-portal/10_overview.md
  docs/runtime_suite/api-portal/20_configuration.md
Labels: marketplace

#1511 chore(docs): update Back Kit documentation
  docs/microfrontend-composer/back-kit/60_components/160_confirmation_modal.md
  docs/microfrontend-composer/back-kit/70_events.md
Labels: marketplace

#1411 chore(docs): update Form Service Frontend documentation
  docs/runtime_suite/form-service-frontend/changelog.md
Labels: marketplace

#1507 RN v13.0.4 to preview
  docs/release-notes/stable versions.md
  docs/release-notes/v13.0.1.md
  docs/release-notes/v13.0.3.md
  docs/release-notes/v13.0.4.md
  docs/release-notes/versions.md
  sidebars.json
  versioned_docs/version-12.x.x/release-notes/v12.3.5.md
  versioned_docs/version-12.x.x/release-notes/versions.md
  versioned_sidebars/version-12.x.x-sidebars.json
Labels: release-note

#1536 chore(docs): update Microfrontend Composer Toolkit documentation
  docs/runtime_suite_applications/microfrontend-composer-toolkit/changelog.md
Labels: marketplace

#1535 chore(docs): update Microfrontend Composer On Prem Toolkit documentation
  docs/runtime_suite_applications/microfrontend-composer-on-prem-toolkit/changelog.md
Labels: marketplace

#1530 chore(docs): update API Portal documentation
  docs/runtime_suite/api-portal/changelog.md
Labels: marketplace

#1519 chore(docs): update API Documentation Aggregator documentation
  docs/runtime_suite_applications/api-documentation-aggregator/10_overview.md
  docs/runtime_suite_applications/api-documentation-aggregator/20_configuration.md
  docs/runtime_suite_applications/api-documentation-aggregator/30_faqs.md
  docs/runtime_suite_applications/api-documentation-aggregator/changelog.md
Labels: marketplace

#1539 RN Update v13.0.3 & V13.0.4
  docs/development_suite/deploy/overview.md
  docs/development_suite/set-up-infrastructure/enhanced-project-workflow.md
  docs/release-notes/v13.0.3.md
  docs/release-notes/v13.0.4.md
Labels: release-note

#1533 chore(docs): update Composer documentation
  docs/microfrontend-composer/composer/10_structure.md
  docs/microfrontend-composer/composer/changelog.md
  docs/microfrontend-composer/composer/img/compose-page.png
  docs/microfrontend-composer/composer/img/compose-page_advanced.png
  docs/microfrontend-composer/composer/img/structure_advanced.png
  docs/microfrontend-composer/composer/img/structure_advanced_component-detail.png
  docs/microfrontend-composer/composer/img/structure_advanced_components-explorer.png
  docs/microfrontend-composer/composer/img/structure_first-section.png
  docs/microfrontend-composer/composer/img/structure_layout-left-menu-hidden.png
  docs/microfrontend-composer/composer/img/structure_layout-left-menu-selected.png
  docs/microfrontend-composer/composer/img/structure_layout-preview-interact.png
  docs/microfrontend-composer/composer/img/structure_layout.png
  docs/microfrontend-composer/composer/img/translations-add-new-label.png
  docs/microfrontend-composer/composer/img/translations-configurator.png
  docs/microfrontend-composer/composer/img/translations-delete-label.png
  docs/microfrontend-composer/composer/img/translations-edit-label.png
  docs/microfrontend-composer/composer/img/translations-import.png
  docs/microfrontend-composer/composer/img/translations-manage-languages.png
Labels: marketplace

#1534 chore(docs): update Data Catalog documentation
  docs/runtime_suite_templates/data-catalog/20_configuration.md
  docs/runtime_suite_templates/data-catalog/changelog.md
  static/docs_files_to_download/data-catalog/configuration.schema.json
Labels: marketplace

#1538 RN v13.0.5
  docs/release-notes/img/load-snapshot.png
  docs/release-notes/v13.0.3.md
  docs/release-notes/v13.0.4.md
  docs/release-notes/v13.0.5.md
  docs/release-notes/versions.md
  sidebars.json
Labels: release-note

#1553 chore(docs): update Composer documentation
  docs/microfrontend-composer/composer/10_structure.md
  docs/microfrontend-composer/composer/changelog.md
Labels: marketplace

#1551 chore(docs): update Microfrontend Composer Toolkit documentation
  docs/runtime_suite_applications/microfrontend-composer-toolkit/changelog.md
Labels: marketplace

#1555 change release date in rn v13.0.5 banner
  docs/release-notes/v13.0.5.md
Labels: release-note

#1562 refactor: improved docs for version policy and support
  docs/info/version_policy.md
  docs/release-notes/roadmap.md
  docs/release-notes/stable versions.md
  docs/release-notes/support-policy.md
  docs/release-notes/v13.0.2.md
Labels: release-note

#1567 chore(docs): update installation-chart documentation
  docs/infrastructure/self-hosted/installation-chart/helm-values/80_whitelabeling.md
Labels: marketplace

#1563 WHAT IS FAST DATA page updated
  docs/development_suite/overview-dev-suite.md
  docs/fast_data/img/fastdata-DIH-architecture.png
  docs/fast_data/what_is_fast_data.md
Labels: fast-data

#1558 chore(docs): update SMS Service documentation
  docs/runtime_suite/sms-service/changelog.md
Labels: marketplace

#1549 chore(docs): update Care Kit documentation
  docs/runtime_suite/care-kit/20_components/10_am-calendar.md
  docs/runtime_suite/care-kit/changelog.md
Labels: marketplace

#1494 chore(docs): update O3 DICOM Service documentation
  docs/runtime_suite/o3-dicom-service/changelog.md
Labels: marketplace

#1501 chore(docs): update FHIR Adapter documentation
  docs/runtime_suite/fhir-adapter/changelog.md
Labels: marketplace

#1566 chore(docs): update Composer documentation
  docs/microfrontend-composer/composer/changelog.md
Labels: marketplace

#1557 chore(docs): update miactl documentation
  docs/cli/miactl/20_setup.md
  docs/cli/miactl/30_commands.md
  docs/cli/miactl/40_examples.md
  docs/cli/miactl/changelog.md
Labels: marketplace

#1572 chore(docs): update Single View Trigger Generator documentation
  docs/runtime_suite/single-view-trigger-generator/changelog.md
Labels: marketplace

#1565 chore(docs): update mlp documentation
  301redirects.json
  docs/console/handbooks/traefik-handbook.mdx
  docs/development_suite/deploy/pipeline-based/configure-gitlab-ci.md
  docs/runtime_suite_tools/mlp/10_overview.md
  docs/runtime_suite_tools/mlp/20_setup.md
  docs/runtime_suite_tools/mlp/25_options.md
  docs/runtime_suite_tools/mlp/30_generate.md
  docs/runtime_suite_tools/mlp/30_interpolate.md
  docs/runtime_suite_tools/mlp/40_generate.md
  docs/runtime_suite_tools/mlp/40_hydrate.md
  docs/runtime_suite_tools/mlp/50_deploy.md
  docs/runtime_suite_tools/mlp/50_interpolate.md
  docs/runtime_suite_tools/mlp/70_hydrate.md
  docs/runtime_suite_tools/mlp/changelog.md
Labels: marketplace
