Repository mia-platform/documentation, pull requests merged in 2024-04, with the labels that each got.

#1288 chore(docs): update installation-chart documentation
  docs/infrastructure/self-hosted/installation-chart/helm-values/25_authentication-provider.md
Labels: marketplace

#1273 chore(docs): update Back Kit documentation
  docs/microfrontend-composer/back-kit/60_components/100_crud_client.md
  docs/microfrontend-composer/back-kit/60_components/290_file_service_client.md
  docs/microfrontend-composer/back-kit/60_components/390_layout.md
  docs/microfrontend-composer/back-kit/60_components/470_pagination.md
  docs/microfrontend-composer/back-kit/60_components/480_pdf_viewer.md
  docs/microfrontend-composer/back-kit/60_components/img/bk-layout-fixedSideBar.png
  docs/microfrontend-composer/back-kit/60_components/img/bk-layout-leftMenu.png
  docs/microfrontend-composer/back-kit/60_components/img/bk-layout-overlaySideBar.png
  docs/microfrontend-composer/back-kit/60_components/img/bk-layout-topBar.png
  docs/microfrontend-composer/back-kit/60_components/img/bk-layout.png
  docs/microfrontend-composer/back-kit/60_components/img/bk-pagination-buttonsOnly.png
  docs/microfrontend-composer/back-kit/changelog.md
Labels: marketplace

#1295 chore(docs): update Authentication Service documentation
  docs/runtime_suite/authentication-service/20_configuration.mdx
Labels: marketplace

#1272 chore(docs): update CRUD Service documentation
  docs/runtime_suite/crud-service/20_configuration.md
  docs/runtime_suite/crud-service/changelog.md
Labels: marketplace, crud-service

#1299 edit(IDP-1020): Manage webhooks
  docs/development_suite/webhooks-and-events/img/event-body.png
  docs/development_suite/webhooks-and-events/img/event-history.png
  docs/development_suite/webhooks-and-events/img/webhooks-overview.png
  docs/development_suite/webhooks-and-events/webhooks.md
Labels: webhooks-section

#1301 RN v12.3.1 to prod release
  docs/release-notes/v12.3.1.md
Labels: release-note

#1263 chore(docs): update Microfrontend Composer On Prem Toolkit documentation
  docs/runtime_suite_applications/microfrontend-composer-on-prem-toolkit/changelog.md
Labels: marketplace

#1262 chore(docs): update Microfrontend Composer Toolkit documentation
  docs/runtime_suite_applications/microfrontend-composer-toolkit/changelog.md
Labels: marketplace

#1296 chore(docs): update Care Kit documentation
  docs/runtime_suite/care-kit/20_components/100_ck-availability-modal.md
  docs/runtime_suite/care-kit/20_components/100_ck-import-users-modal.md
  docs/runtime_suite/care-kit/img/ck-availability-modal.png
Labels: marketplace

#1308 chore(docs): update Swagger Aggregator documentation
  docs/runtime_suite/swagger-aggregator/10_overview.md
  docs/runtime_suite/swagger-aggregator/20_configuration.md
  docs/runtime_suite/swagger-aggregator/30_apis.md
  docs/runtime_suite/swagger-aggregator/changelog.md
Labels: marketplace

#1303 new(DEVDOC-169): Deploy with GitLab Runners
  docs/development_suite/deploy/pipeline-based/configure-gitlab-ci.md
  docs/development_suite/deploy/pipeline-based/img/gitlab-ci-provider.png
  docs/development_suite/deploy/pipeline-based/index.md
  sidebars.json
  static/docs_files_to_download/gitlab-ci-mlp-template.yml
Labels: new-contents, deploy-section, providers-section

#1319 chore(docs): update Back Kit documentation
  docs/microfrontend-composer/back-kit/60_components/520_table.md
Labels: marketplace

#1329 RN v12.3.2
  docs/release-notes/v12.3.2.md
  docs/release-notes/versions.md
  sidebars.json
Labels: release-note

#1330 Add info on v12.0.3
  docs/release-notes/v12.0.3.md
Labels: release-note

#1309 chore(docs): update Projection Storer documentation
  docs/runtime_suite/projection-storer/changelog.md
Labels: marketplace

#1201 chore(docs): update Single View Creator documentation
  docs/runtime_suite/single-view-creator/changelog.md
Labels: marketplace

#1307 chore(docs): update Single View Trigger Generator documentation
  docs/runtime_suite/single-view-trigger-generator/changelog.md
Labels: marketplace

#1306 chore(docs): update Real-Time Updater documentation
  docs/runtime_suite/real-time-updater/changelog.md
Labels: marketplace
