Repository mia-platform/documentation, pull requests merged in 2024-02, with the labels that each got.

#1083 docs(data-catalog): introduce new data catalog overview page
  docs/fast_data/configuration/projections.md
  docs/fast_data/data_catalog/overview.md
  docs/fast_data/img/data_catalog_readonly_fields.png
  docs/fast_data/img/data_catalog_systems_view.png
  sidebars.json
Labels: data-catalog

#1100 Edit v12.1.0 for prod release
  docs/release-notes/v12.1.0.md
Labels: release-note

#1096 RN v12.2.0 Preview
  docs/release-notes/img/data_catalog_fields_table.png
  docs/release-notes/v12.1.0.md
  docs/release-notes/v12.2.0.md
  docs/release-notes/versions.md
  sidebars.json
Labels: release-note

#1128 edit(MPE-354): updated telepresence docs
  docs/development_suite/debugging/img/action-debug.png
  docs/development_suite/debugging/img/debug-action.png
  docs/development_suite/debugging/img/debug-view.png
  docs/development_suite/debugging/img/java-intellij.png
  docs/development_suite/debugging/telepresence.md
Labels: documentation, enhancement

#1115 chore(docs): update CRUD Service documentation
  docs/runtime_suite/crud-service/10_overview_and_usage.md
  docs/runtime_suite/crud-service/20_configuration.md
  docs/runtime_suite/crud-service/changelog.md
  docs/runtime_suite/crud-service/guides/10_migration-guide-v7.md
  docs/runtime_suite/crud-service/guides/_category_.yml
Labels: marketplace, crud-service

#1124 chore(docs): update Back Kit documentation
  docs/microfrontend-composer/back-kit/changelog.md
Labels: marketplace

#1086 chore(docs): update miactl documentation
  docs/cli/miactl/20_setup.md
  docs/cli/miactl/30_commands.md
  docs/cli/miactl/changelog.md
Labels: marketplace

#1047 chore(docs): update Messaging Service documentation
  docs/runtime_suite/messaging-service/10_overview.md
  docs/runtime_suite/messaging-service/20_configuration.md
  docs/runtime_suite/messaging-service/30_usage.md
  docs/runtime_suite/messaging-service/changelog.md
Labels: marketplace

#1015 chore(docs): update Mia FHIR Server documentation
  docs/runtime_suite/mia-fhir-server/20_configuration.md
Labels: marketplace

#1135 RN v12.2.0 to prod
  docs/release-notes/v12.2.0.md
Labels: release-note

#1136 Sfontana9 fix/ndjson links
  docs/runtime_suite/crud-service/60_usage_best_practices.md
  docs/runtime_suite/form-service-backend/40_submit_urls.md
  versioned_docs/version-10.x.x/runtime_suite/form-service-backend/submit_urls.md
  versioned_docs/version-11.x.x/runtime_suite/crud-service/60_usage_best_practices.md
  versioned_docs/version-11.x.x/runtime_suite/form-service-backend/40_submit_urls.md
Labels: crud-service

#1131 RN v12.2.1 Preview
  docs/release-notes/img/v12.2.1/svc-marketplace.png
  docs/release-notes/v12.2.1.md
  docs/release-notes/versions.md
  sidebars.json
Labels: release-note

#1137 Update overview.md
  docs/fast_data/data_catalog/overview.md
  docs/release-notes/v12.2.1.md
Labels: release-note

#1155 chore(docs): update Data Catalog documentation
  docs/runtime_suite_templates/data-catalog/changelog.md
Labels: marketplace

#1152 chore(docs): update CRUD Service documentation
  docs/runtime_suite/crud-service/60_usage_best_practices.md
Labels: marketplace, crud-service

#1167 chore(docs): update Real-Time Updater documentation
  docs/runtime_suite/real-time-updater/10_configuration.md
  docs/runtime_suite/real-time-updater/changelog.md
Labels: marketplace

#1169 chore(docs): update Single View Trigger Generator documentation
  docs/runtime_suite/single-view-trigger-generator/changelog.md
Labels: marketplace

#1168 chore(docs): update Single View Creator documentation
  docs/runtime_suite/single-view-creator/changelog.md
Labels: marketplace

#1161 chore(docs): update lc39 documentation
  docs/runtime_suite_libraries/lc39/service-options.md
Labels: marketplace

#1159 chore(docs): update Files Service documentation
  docs/runtime_suite/files-service/changelog.md
Labels: marketplace

#1160 chore(docs): update installation-chart documentation
  docs/infrastructure/self-hosted/installation-chart/100-how-to-upgrade.md
  docs/infrastructure/self-hosted/installation-chart/30-authentication-provider.md
Labels: marketplace

#1151 chore(docs): update Client Credentials documentation
  docs/runtime_suite/client-credentials/changelog.md
Labels: marketplace

#1122 chore(docs): update Auth0 Client documentation
  docs/runtime_suite/auth0-client/20_configuration.md
  docs/runtime_suite/auth0-client/50_usage.md
  docs/runtime_suite/auth0-client/changelog.md
Labels: marketplace

#1156 RN v12.2.1 to prod
  docs/release-notes/v12.2.1.md
Labels: release-note

#1173 chore(docs): update Client Credentials documentation
  docs/runtime_suite/client-credentials/changelog.md
Labels: marketplace

#1172 chore(docs): update Auth0 Client documentation
  docs/runtime_suite/auth0-client/20_configuration.md
  docs/runtime_suite/auth0-client/50_usage.md
Labels: marketplace

#1180 chore(docs): update installation-chart documentation
  docs/infrastructure/self-hosted/installation-chart/80-first-user-and-company-creation.md
Labels: marketplace

#1178 chore(docs): update Auth0 Client documentation
  docs/runtime_suite/auth0-client/changelog.md
Labels: marketplace

#1175 chore(docs): update Client Credentials documentation
  docs/runtime_suite/client-credentials/10_configuration.md
Labels: marketplace

#1174 chore(docs): update Authentication Service documentation
  docs/runtime_suite/authentication-service/20_configuration.mdx
Labels: marketplace

#1012 chore(docs): update Care Kit documentation
  docs/runtime_suite/care-kit/10_overview.md
  docs/runtime_suite/care-kit/20_components/10_am-calendar.md
  docs/runtime_suite/care-kit/20_components/20_ck-form-export.md
  docs/runtime_suite/care-kit/20_components/30_ck-therapy-modal.md
  docs/runtime_suite/care-kit/20_components/40_ck-therapy-select.md
  docs/runtime_suite/care-kit/20_components/50_ck-threshold-modal.md
  docs/runtime_suite/care-kit/20_components/60_ck-add-plan-modal.md
  docs/runtime_suite/care-kit/20_components/70_ck-chart.md
  docs/runtime_suite/care-kit/20_components/80_ck-layout-select.md
  docs/runtime_suite/care-kit/20_components/90_ck-notification-card.md
  docs/runtime_suite/care-kit/30_events.md
  docs/runtime_suite/care-kit/changelog.md
  docs/runtime_suite/care-kit/img/appointment_participants.png
  docs/runtime_suite/care-kit/img/availability_mode_2.png
  docs/runtime_suite/care-kit/img/ck-notification-card.png
  docs/runtime_suite/care-kit/img/immediate_availablity.png
  docs/runtime_suite/care-kit/img/reserve_slot_immediate_availability.png
  docs/runtime_suite/care-kit/img/select_immediat_availability.png
Labels: marketplace

#1188 chore(docs): update Authentication Service documentation
  docs/runtime_suite/authentication-service/20_configuration.mdx
  docs/runtime_suite/authentication-service/30_usage.md
  docs/runtime_suite/authentication-service/changelog.md
Labels: marketplace

#456 chore(docs): update Node.js Mia Care SaMD Template documentation
  docs/runtime_suite_templates/node.js-mia-care-samd-template/10_overview.md
  docs/runtime_suite_templates/node.js-mia-care-samd-template/20_walkthrough.md
  docs/runtime_suite_templates/node.js-mia-care-samd-template/_category_.json
  docs/runtime_suite_templates/node.js-mia-care-samd-template/changelog.md
Labels: marketplace

#1190 chore(docs): update installation-chart documentation
  docs/infrastructure/self-hosted/installation-chart/100-how-to-upgrade.md
Labels: marketplace

#1195 chore(docs): update Client Credentials documentation
  docs/runtime_suite/client-credentials/changelog.md
Labels: marketplace

#1196 chore(docs): update installation-chart documentation
  docs/infrastructure/self-hosted/installation-chart/100-how-to-upgrade.md
  docs/infrastructure/self-hosted/installation-chart/20-general-settings.md
  docs/infrastructure/self-hosted/installation-chart/90-installation-chart-example.md
Labels: marketplace

#1189 chore(docs): update Single View Creator documentation
  docs/runtime_suite/single-view-creator/changelog.md
Labels: marketplace

#1192 import/export FD docs improvement
  docs/fast_data/configuration/import_export.md
Labels: fast-data

#1183 chore(docs): update Single View Trigger Generator documentation
  docs/runtime_suite/single-view-trigger-generator/changelog.md
Labels: marketplace

#1182 chore(docs): update Real-Time Updater documentation
  docs/runtime_suite/real-time-updater/changelog.md
Labels: marketplace
