Repository mia-platform/documentation, pull requests merged in 2024-10, with the labels that each got.

#1682 chore(docs): update Data Catalog documentation
  docs/runtime_suite_templates/data-catalog/10_overview.md
  docs/runtime_suite_templates/data-catalog/20_configuration.md
  docs/runtime_suite_templates/data-catalog/_category_.json
  docs/runtime_suite_templates/data-catalog/changelog.md
  docs/runtime_suite_templates/data-catalog/img/architecture.png
  static/docs_files_to_download/data-catalog/agent.model.schema.json
  static/docs_files_to_download/data-catalog/catalog.model.schema.json
  static/docs_files_to_download/data-catalog/configuration.schema.json
  static/docs_files_to_download/data-catalog/model.shcema.json
Labels: marketplace

#1686 Revert "chore(docs): update Data Catalog documentation"
  docs/runtime_suite_templates/data-catalog/10_overview.md
  docs/runtime_suite_templates/data-catalog/20_configuration.md
  docs/runtime_suite_templates/data-catalog/_category_.json
  docs/runtime_suite_templates/data-catalog/changelog.md
  docs/runtime_suite_templates/data-catalog/img/architecture.png
  static/docs_files_to_download/data-catalog/agent.model.schema.json
  static/docs_files_to_download/data-catalog/catalog.model.schema.json
  static/docs_files_to_download/data-catalog/configuration.schema.json
  static/docs_files_to_download/data-catalog/model.shcema.json
Labels: marketplace

#1685 Edit: updated beta tag for Console Helm Chart
  docs/release-notes/v13.2.0.md
Labels: release-note

#1697 chore(docs): update CRUD Service documentation
  docs/runtime_suite/crud-service/10_overview_and_usage.md
Labels: marketplace, crud-service

#1568 Manage Environment Variables with Azure Key Vault - Add AKV and GKE integration
  docs/console/project-configuration/img/azurePortal-akv-add-role-assignment.png
  docs/console/project-configuration/img/azurePortal-akv-overview.png
  docs/console/project-configuration/img/azurePortal-app-registration-creation.png
  docs/console/project-configuration/img/azurePortal-app-registration-federated-credential-creation.png
  docs/console/project-configuration/img/project-design-environment-variable-from-secret.png
  docs/console/project-configuration/img/providers-akv-client-credentials-certificate.png
  docs/console/project-configuration/img/providers-akv-client-credentials.png
  docs/console/project-configuration/manage-environment-variables/manage-environment-variables-with-akv.md
  docs/console/project-configuration/manage-environment-variables/manage-environment-variables-with-akv.mdx
Labels: secret-management-section

#1705 chore(docs): update CRUD Service documentation
  docs/runtime_suite/crud-service/changelog.md
Labels: marketplace, crud-service

#1708 chore(docs): update API Gateway documentation
  docs/runtime_suite/api-gateway/changelog.md
Labels: marketplace

#1707 chore(docs): update Data Catalog Agent documentation
  docs/runtime_suite_templates/data-catalog-agent/20_configuration.md
Labels: marketplace

#1694 chore(docs): update Microfrontend Composer Toolkit documentation
  docs/runtime_suite_applications/microfrontend-composer-toolkit/changelog.md
Labels: marketplace

#1693 chore(docs): update Microfrontend Composer On Prem Toolkit documentation
  docs/runtime_suite_applications/microfrontend-composer-on-prem-toolkit/changelog.md
Labels: marketplace

#1692 chore(docs): update Back Kit documentation
  docs/microfrontend-composer/back-kit/changelog.md
Labels: marketplace, microfrontend-composer

#1706 set up rn v13.2.1
  docs/release-notes/v13.2.0.md
  docs/release-notes/v13.2.1.md
  docs/release-notes/versions.md
  sidebars.json
Labels: release-note

#1676 chore(docs): update Care Kit documentation
  docs/runtime_suite/care-kit/changelog.md
Labels: marketplace

#1684 chore(docs): update Form Service Backend documentation
  docs/runtime_suite/form-service-backend/20_configuration.md
  docs/runtime_suite/form-service-backend/changelog.md
Labels: marketplace

#1691 chore(docs): update Teleconsultation Service Backend documentation
  docs/runtime_suite/teleconsultation-service-backend/10_overview.md
  docs/runtime_suite/teleconsultation-service-backend/20_configuration.md
  docs/runtime_suite/teleconsultation-service-backend/30_usage.md
  docs/runtime_suite/teleconsultation-service-backend/40_migration.md
  docs/runtime_suite/teleconsultation-service-backend/changelog.md
Labels: marketplace

#1723 release: v13.0.7
  docs/release-notes/v13.0.7.md
  docs/release-notes/versions.md
  sidebars.json
Labels: release-note

#1718 docs(fast-data): describe SSL support in Projection Storer page
  docs/fast_data/configuration/projection_storer.md
  docs/fast_data/faq/fast_data_versioning.md
Labels: documentation, fast-data

#1728 chore(docs): update Projection Storer documentation
  docs/runtime_suite/projection-storer/changelog.md
Labels: marketplace

#1717 chore(docs): update CRUD Service documentation
  docs/runtime_suite/crud-service/20_configuration.md
Labels: marketplace, crud-service

#1727 chore(docs): update Microfrontend Composer Toolkit documentation
  docs/runtime_suite_applications/microfrontend-composer-toolkit/changelog.md
Labels: marketplace

#1726 chore(docs): update Microfrontend Composer On Prem Toolkit documentation
  docs/runtime_suite_applications/microfrontend-composer-on-prem-toolkit/changelog.md
Labels: marketplace

#1725 chore(docs): update Back Kit documentation
  docs/microfrontend-composer/back-kit/40_core_concepts.md
  docs/microfrontend-composer/back-kit/changelog.md
Labels: marketplace, microfrontend-composer

#1656 chore(docs): update Payment Gateway Manager documentation
  docs/runtime_suite/payment-gateway-manager/changelog.md
Labels: marketplace

#1734 docs(fast-data): improve description of castToDate function in projection storer page
  docs/fast_data/configuration/projection_storer.md
Labels: fast-data

#1733 docs(data-catalog): add sync to data-catalog
  301redirects.json
  docs/data_catalog/compatibility_matrix.md
  docs/data_catalog/data_catalog_agent_setup.mdx
  docs/data_catalog/data_catalog_frontend.mdx
  docs/data_catalog/data_catalog_open_lineage.mdx
  docs/data_catalog/database_setup.mdx
  docs/fast_data/runtime_management/compatibility_matrix.md
  docs/fast_data/runtime_management/database_setup.mdx
Labels: fast-data

#1683 chore(docs): update Form Service Frontend documentation
  docs/runtime_suite/form-service-frontend/10_overview.md
Labels: marketplace

#1729 chore(docs): update Teleconsultation Service Backend documentation
  docs/runtime_suite/teleconsultation-service-backend/20_configuration.md
Labels: marketplace

#1731 chore(docs): update Teleconsultation Service Frontend documentation
  docs/runtime_suite/teleconsultation-service-frontend/20_configuration.md
Labels: marketplace

#1711 feat: external link and composer pages extensions docs
  docs/console/company-configuration/extensions.md
  docs/console/company-configuration/img/extension-detail.png
  docs/console/company-configuration/img/extension-placeholder.png
  docs/console/company-configuration/img/extensions/create-extension-modal.png
  docs/console/company-configuration/img/extensions/edit-extension-configuration.png
  docs/console/company-configuration/img/extensions/edit-extension-destination.png
  docs/console/company-configuration/img/extensions/edit-extension-info.png
  docs/console/company-configuration/img/extensions/edit-extension-visibility.png
  docs/console/company-configuration/img/extensions/extension-detail.png
  docs/console/company-configuration/img/extensions/extension-placeholder.png
  docs/console/company-configuration/img/extensions/extensions-table.png
  docs/console/company-configuration/img/extensions/new-extension-preview.png
  docs/console/company-configuration/img/extensions/visibility-creating-extension.png
Labels: extensibility-section

#1742 added chart helm on v13.3.0
  docs/release-notes/v13.3.0.md
  sidebars.json
Labels: release-note

#1749 edit RN v13.0.8
  docs/release-notes/v13.0.8.md
  docs/release-notes/versions.md
  sidebars.json
Labels: release-note
