Repository mia-platform/documentation, pull requests merged in 2024-05, with the labels that each got.

#1335 chore(docs): update Authentication Service documentation
  docs/runtime_suite/authentication-service/20_configuration.mdx
Labels: marketplace

#1347 edit RN v12.4.0 for prod release
  docs/release-notes/v12.4.0.md
Labels: release-note

#1327 chore(docs): update Data Catalog documentation
  docs/runtime_suite_templates/data-catalog/20_configuration.md
  docs/runtime_suite_templates/data-catalog/changelog.md
  static/docs_files_to_download/data-catalog/configuration.schema.json
  static/docs_files_to_download/data-catalog/model.schema.json
Labels: marketplace

#1353 chore(docs): update Back Kit documentation
  docs/microfrontend-composer/back-kit/60_components/110_crud_export.md
  docs/microfrontend-composer/back-kit/60_components/250_export_modal.md
  docs/microfrontend-composer/back-kit/60_components/img/bk-export-modal.png
  docs/microfrontend-composer/back-kit/70_events.md
  docs/microfrontend-composer/back-kit/changelog.md
Labels: marketplace, v13

#341 chore(docs): update Data Analytics documentation
  docs/runtime_suite_applications/data-analytics/10_overview.md
  docs/runtime_suite_applications/data-analytics/20_how_to_use.md
  docs/runtime_suite_applications/data-analytics/changelog.md
Labels: marketplace, v13

#1333 feat: new permission console.root.all.view
  docs/development_suite/identity-and-access-management/console-levels-and-permission-management.md
Labels: v13

#375 chore(docs): update File Bucket documentation
  docs/runtime_suite_applications/file-bucket/10_overview.md
  docs/runtime_suite_applications/file-bucket/_category_.json
  docs/runtime_suite_applications/file-bucket/changelog.md
Labels: marketplace, v13

#1087 chore(docs): update Payment Gateway Manager documentation
  .cspell.json
  docs/runtime_suite/payment-gateway-manager/20_how_it_works.md
  docs/runtime_suite/payment-gateway-manager/30_payment_providers/10_adyen.md
  docs/runtime_suite/payment-gateway-manager/30_payment_providers/20_axerve.md
  docs/runtime_suite/payment-gateway-manager/30_payment_providers/30_braintree.md
  docs/runtime_suite/payment-gateway-manager/30_payment_providers/40_flowpay.md
  docs/runtime_suite/payment-gateway-manager/30_payment_providers/45_fnmpay.md
  docs/runtime_suite/payment-gateway-manager/30_payment_providers/50_nexi.md
  docs/runtime_suite/payment-gateway-manager/30_payment_providers/60_satispay.md
  docs/runtime_suite/payment-gateway-manager/30_payment_providers/70_scalapay.md
  docs/runtime_suite/payment-gateway-manager/30_payment_providers/80_soisy.md
  docs/runtime_suite/payment-gateway-manager/30_payment_providers/90_stripe.md
  docs/runtime_suite/payment-gateway-manager/30_payment_providers/99_external.md
  docs/runtime_suite/payment-gateway-manager/60_configuration.md
  docs/runtime_suite/payment-gateway-manager/80_migration_guide_v3.md
  docs/runtime_suite/payment-gateway-manager/changelog.md
Labels: marketplace, v13

#1324 chore(docs): update Identification Manager documentation
  docs/runtime_suite_applications/identification-manager/changelog.md
Labels: marketplace, v13

#1336 chore(docs): update CRUD Service documentation
  docs/runtime_suite/crud-service/10_overview_and_usage.md
  docs/runtime_suite/crud-service/60_usage_best_practices.md
  docs/runtime_suite/crud-service/changelog.md
Labels: marketplace, crud-service, v13

#1343 chore(docs): update Single View Trigger Generator documentation
  docs/runtime_suite/single-view-trigger-generator/changelog.md
Labels: marketplace, v13

#1352 Updated Flow Manager Configurator docs
  docs/development_suite/api-console/api-design/flow-manager-configurator/how-it-works.md
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/command.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/communication-expanded.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/deep-merge.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/default-scenario.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/event-group.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/event.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/highlight-mode.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/hook.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/initial-event.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/kafka-protocol.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/library-expanded.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/link-service.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/persistency-management.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/readonly-mode.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/side-effect.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/state-group.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/state.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/unlink-service.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/unsupported-version.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/overview.md
  docs/development_suite/api-console/api-design/flow-manager-visualizer.md
  docs/development_suite/api-console/api-design/img/flow-manager/buttons/collapse.png
  docs/development_suite/api-console/api-design/img/flow-manager/buttons/expand.png
  docs/development_suite/api-console/api-design/img/flow-manager/buttons/fullscreenOff.png
  docs/development_suite/api-console/api-design/img/flow-manager/buttons/fullscreenOn.png
  docs/development_suite/api-console/api-design/img/flow-manager/buttons/highlightOff.png
  docs/development_suite/api-console/api-design/img/flow-manager/buttons/highlightOn.png
  docs/development_suite/api-console/api-design/img/flow-manager/buttons/legend.png
  docs/development_suite/api-console/api-design/img/flow-manager/event-transition.png
  docs/development_suite/api-console/api-design/img/flow-manager/event-view-more.gif
  docs/development_suite/api-console/api-design/img/flow-manager/expand-collapse.gif
  docs/development_suite/api-console/api-design/img/flow-manager/full-flow-business-states.png
  docs/development_suite/api-console/api-design/img/flow-manager/highlight.gif
  docs/development_suite/api-console/api-design/img/flow-manager/main-area.png
  docs/development_suite/api-console/api-design/img/flow-manager/state-commands.png
  sidebars.json
Labels: v13

#1356 chore(docs): update Projection Storer documentation
  docs/runtime_suite/projection-storer/changelog.md
Labels: marketplace, v13

#1355 chore(docs): update Flow Manager Service documentation
  301redirects.json
  docs/runtime_suite/export-service/10_overview.md
  docs/runtime_suite/flow-manager-service/10_overview.md
  docs/runtime_suite/flow-manager-service/40_model_your_first_flow.md
  docs/runtime_suite/flow-manager-service/changelog.md
  docs/runtime_suite/flow-manager-service/img/finite-state-machine-business.png
  docs/runtime_suite/flow-manager-service/img/finite-state-machine-commands.png
  docs/runtime_suite/flow-manager-service/img/finite-state-machine-events.png
  docs/runtime_suite/flow-manager-service/img/finite-state-machine-states.png
  docs/runtime_suite/flow-manager-service/img/flow-manager-business-states.png
  docs/runtime_suite/flow-manager-service/img/flow-manager-channels.png
  docs/runtime_suite/flow-manager-service/img/flow-manager-commands.png
  docs/runtime_suite/flow-manager-service/img/flow-manager-events.png
  docs/runtime_suite/flow-manager-service/img/flow-manager-states.png
  docs/runtime_suite/flow-manager-service/img/flow-manager-template.png
Labels: marketplace, v13

#1153 chore(docs): update CSV Connector Plugin documentation
  docs/runtime_suite/csv-connector-plugin/usage.md
Labels: marketplace

#1283 chore(docs): update Kafka2Rest service documentation
  docs/runtime_suite/kafka2rest-service/changelog.md
Labels: marketplace

#1126 chore(docs): update Composer documentation
  docs/microfrontend-composer/composer/20_compose_pages.md
  docs/microfrontend-composer/composer/changelog.md
  docs/microfrontend-composer/composer/img/compose-page_templates_read-only-table-with-nested-fields.png
Labels: marketplace

#1346 chore(docs): update Rest2Kafka service documentation
  docs/runtime_suite/rest2kafka-service/02_configuration.md
  docs/runtime_suite/rest2kafka-service/changelog.md
Labels: marketplace

#1368 chore(docs): update Microfrontend Composer Toolkit documentation
  docs/runtime_suite_applications/microfrontend-composer-toolkit/changelog.md
Labels: marketplace

#1367 chore(docs): update Microfrontend Composer On Prem Toolkit documentation
  docs/runtime_suite_applications/microfrontend-composer-on-prem-toolkit/changelog.md
Labels: marketplace

#1366 chore(docs): update File Bucket documentation
  docs/runtime_suite_applications/file-bucket/10_overview.md
Labels: marketplace

#1364 chore(docs): update CRUD Service documentation
  docs/runtime_suite/crud-service/changelog.md
Labels: marketplace, crud-service

#1322 project: sidecar management documentation
  docs/console/design-your-projects/img/bulk-delete-sidecar.png
  docs/console/design-your-projects/img/create-sidecar.png
  docs/console/design-your-projects/img/delete-last-sidecar.png
  docs/console/design-your-projects/img/edit-sidecar-drawer.png
  docs/console/design-your-projects/img/service-containers.png
  docs/console/design-your-projects/img/sidecars-overview.png
  docs/console/design-your-projects/sidecars.md
  docs/development_suite/api-console/api-design/authorization.md
  docs/development_suite/api-console/api-design/img/microservice-containers/containers-table.png
  docs/development_suite/api-console/api-design/img/microservice-containers/exposing-containers.png
  docs/development_suite/api-console/api-design/img/microservice-containers/rbac-service-sidecar.png
  docs/development_suite/api-console/api-design/img/microservice-containers/sidecar-detail-page.png
  docs/development_suite/api-console/api-design/microservice-containers.md
  docs/development_suite/api-console/api-design/services.md
  sidebars.json
Labels: project-enhancement, design-section, v13

#1375 chore(docs): update Projection Storer documentation
  docs/runtime_suite/projection-storer/changelog.md
Labels: marketplace

#1373 chore(docs): update API Portal documentation
  docs/runtime_suite/api-portal/changelog.md
Labels: marketplace

#1349 chore(docs): update Single View Creator documentation
  docs/runtime_suite/single-view-creator/changelog.md
Labels: marketplace

#1284 chore(docs): update Notification Manager Service documentation
  docs/runtime_suite/notification-manager-service/10_overview.md
  docs/runtime_suite/notification-manager-service/20_configuration.md
  docs/runtime_suite/notification-manager-service/changelog.md
Labels: marketplace

#1328 chore(docs): update User Access Sync documentation
  .cspell.json
  docs/runtime_suite/user-access-sync/10_overview.md
  docs/runtime_suite/user-access-sync/20_events.md
  docs/runtime_suite/user-access-sync/30_configuration.md
  docs/runtime_suite/user-access-sync/90_providers/91_mia_platform.md
  docs/runtime_suite/user-access-sync/90_providers/92_okta.md
  docs/runtime_suite/user-access-sync/90_providers/93_gitlab.md
  docs/runtime_suite/user-access-sync/90_providers/94_github.md
  docs/runtime_suite/user-access-sync/_category_.json
  docs/runtime_suite/user-access-sync/changelog.md
Labels: marketplace, v13

#1354 chore(docs): update Fast Data Control Plane documentation
  301redirects.json
  docs/fast_data/runtime_management/control_plane.mdx
  docs/runtime_suite_applications/control-plane/10_overview.md
  docs/runtime_suite_applications/control-plane/20_configuration.mdx
  docs/runtime_suite_applications/control-plane/_category_.json
  docs/runtime_suite_applications/control-plane/changelog.md
  docs/runtime_suite_applications/control-plane/img/runtime_management_initial_screen.png
  docs/runtime_suite_applications/fast-data-control-plane/10_overview.md
  docs/runtime_suite_applications/fast-data-control-plane/20_configuration.mdx
  docs/runtime_suite_applications/fast-data-control-plane/img/runtime_management_initial_screen.png
  versioned_docs/version-12.x.x/fast_data/runtime_management.mdx
Labels: marketplace, v13

#1377 chore(docs): update API Portal documentation
  docs/runtime_suite/api-portal/20_configuration.md
Labels: marketplace

#1320 project: extensibility documentation
  docs/console/console-extensibility/activation.md
  docs/console/console-extensibility/img/activateExtension.png
  docs/console/console-extensibility/img/backofficeExtensionTutorial.png
  docs/console/console-extensibility/img/deleteExtensionActivation.png
  docs/console/console-extensibility/img/deleteRegisteredExtension.png
  docs/console/console-extensibility/img/editRegisteredExtension.png
  docs/console/console-extensibility/img/menuItemAndCategory.png
  docs/console/console-extensibility/img/projectLocation.png
  docs/console/console-extensibility/img/registrationExample.png
  docs/console/console-extensibility/img/registrationExampleRoutes.png
  docs/console/console-extensibility/img/retrieveExtensionsExample.png
  docs/console/console-extensibility/img/runtimeLocation.png
  docs/console/console-extensibility/img/tenantLocation.png
  docs/console/console-extensibility/locations.md
  docs/console/console-extensibility/overview.md
  docs/console/console-extensibility/registration.md
  docs/console/console-extensibility/tutorial.md
  docs/development_suite/api-console/api-design/endpoints.md
  docs/development_suite/api-console/api-design/img/endpoint-settings-card-advanced.png
  docs/development_suite/identity-and-access-management/console-levels-and-permission-management.md
  sidebars.json
Labels: project-enhancement, v13

#1379 chore(docs): update Fast Data Control Plane documentation
  docs/runtime_suite_applications/fast-data-control-plane/changelog.md
Labels: marketplace

#1380 Add new custom resources documentation
  docs/console/design-your-projects/custom-resources.md
  docs/console/design-your-projects/img/custom-resources/create-from-marketplace.png
  docs/console/design-your-projects/img/custom-resources/create-from-scratch.png
  docs/console/design-your-projects/img/custom-resources/delete.png
  docs/console/design-your-projects/img/custom-resources/update-gateway-custom-resource.png
  sidebars.json
Labels: documentation, console

#1337 chore(docs): update installation-chart documentation
  docs/infrastructure/self-hosted/installation-chart/.cspell.json
  docs/infrastructure/self-hosted/installation-chart/helm-values/10_installation-chart-example.md
  docs/infrastructure/self-hosted/installation-chart/helm-values/30_service-specific-configurations.md
Labels: marketplace, v13

#1313 added first draft of mia-platform v13 doc overview
  docs/release-notes/img/backstage-banner.jpg
  docs/release-notes/img/custom-resources.png
  docs/release-notes/img/data-catalog-architecture.png
  docs/release-notes/img/event-history.png
  docs/release-notes/img/fd-control-plane.gif
  docs/release-notes/img/flow-manager-configurator.png
  docs/release-notes/img/iframe-extensions.png
  docs/release-notes/img/mia-assistant.png
  docs/release-notes/img/project-blueprint.png
  docs/release-notes/img/sidecars.png
  docs/release-notes/mia-platform-v13.mdx
  src/pages/index.js
Labels: release-note, v13

#1290 chore(docs): update miactl documentation
  docs/cli/miactl/30_commands.md
Labels: marketplace

#1383 fix to doc overview page
  docs/release-notes/mia-platform-v13.mdx
Labels: release-note

#1232 feat: udpated screenshots showing Enhanced Workflow icon
  docs/development_suite/set-up-infrastructure/img/revisions-overview.png
  docs/development_suite/set-up-infrastructure/img/settings-advanced-convert-button.png
  docs/development_suite/set-up-infrastructure/img/versions-overview.png
Labels: documentation, project-settings-section

#1387 create company
  docs/release-notes/img/create-company.png
  docs/release-notes/mia-platform-v13.mdx
  docs/release-notes/v13.0.0.md
Labels: release-note

#1397 docs(data-catalog): update details about supported data sources
  docs/fast_data/data_catalog/overview.md
Labels: fast-data

#1402 chore(docs): update CRUD Service documentation
  docs/runtime_suite/crud-service/changelog.md
Labels: marketplace, crud-service

#1391 add: fast data loading section
  301redirects.json
  docs/development_suite/api-console/api-design/endpoints.md
  docs/development_suite/api-console/api-design/mongo_views.md
  docs/fast_data/bucket_storage_support/deployment_guidelines.md
  docs/fast_data/bucket_storage_support/integration.md
  docs/fast_data/bucket_storage_support/overview.md
  docs/fast_data/concepts/architecture.md
  docs/fast_data/concepts/data_loading.mdx
  docs/fast_data/concepts/glossary.mdx
  docs/fast_data/concepts/img/data_loading_initial_load_runtime.png
  docs/fast_data/concepts/img/data_loading_initial_load_runtime_restart_collected.png
  docs/fast_data/concepts/img/fastdata-architecture-alternative-event-driven.svg
  docs/fast_data/concepts/img/fastdata-architecture-bucketstoragesupport.svg
  docs/fast_data/concepts/img/fastdata-architecture-event-driven.svg
  docs/fast_data/concepts/img/fastdata-architecture-standard-svpatch.svg
  docs/fast_data/concepts/img/fastdata-architecture-standard.svg
  docs/fast_data/concepts/img/fastdata-overview-new.png
  docs/fast_data/concepts/inputs_and_outputs.md
  docs/fast_data/concepts/the_basics.md
  docs/fast_data/configuration/cast_functions.md
  docs/fast_data/configuration/config_maps/aggregation.md
  docs/fast_data/configuration/config_maps/erSchema.md
  docs/fast_data/configuration/config_maps/kafka_projection_updates.mdx
  docs/fast_data/configuration/config_maps/projection_changes_schema.md
  docs/fast_data/configuration/import_export.md
  docs/fast_data/configuration/indexes.md
  docs/fast_data/configuration/projection_storer.md
  docs/fast_data/configuration/projections.md
  docs/fast_data/configuration/realtime-updater/advanced-topics.md
  docs/fast_data/configuration/realtime-updater/configuration-files.md
  docs/fast_data/configuration/realtime-updater/realtime-updater.md
  docs/fast_data/configuration/single_view_creator/index.md
  docs/fast_data/configuration/single_view_creator/upsert_delete_strategies.md
  docs/fast_data/configuration/single_view_trigger_generator.mdx
  docs/fast_data/configuration/single_views.md
  docs/fast_data/configuration/strategies.md
  docs/fast_data/connectors/overview.md
  docs/fast_data/faq/architecture_migration.md
  docs/fast_data/faq/bootstrapping_fast_data.md
  docs/fast_data/faq/failure_handling.md
  docs/fast_data/monitoring/overview.md
  docs/fast_data/no_code_overview.md
  docs/fast_data/projection_storer.md
  docs/fast_data/runtime_management/control_plane_frontend.mdx
  docs/fast_data/runtime_management/overview.mdx
  docs/fast_data/single_view_trigger_generator.md
  docs/fast_data/troubleshooting/fast_data_error_codes.md
  docs/fast_data/troubleshooting/rtu_keeps_restarting_rebalancing.md
  docs/fast_data/tutorials/bucket-storage-support.mdx
  docs/fast_data/tutorials/low-code.mdx
  docs/release-notes/mia-platform-v13.mdx
  docs/release-notes/v13.0.0.md
  docs/runtime_suite/projection-storer/10_configuration.md
  docs/runtime_suite/real-time-updater/10_configuration.md
  docs/runtime_suite/single-view-creator/configuration.md
  sidebars.json
Labels: fast-data, release-note

#1400 chore(docs): update Projection Storer documentation
  docs/runtime_suite/projection-storer/changelog.md
Labels: marketplace
