Repository mia-platform/documentation, pull requests merged in 2024-09, with the labels that each got.

#1618 chore(docs): update installation-chart documentation
  docs/infrastructure/self-hosted/installation-chart/helm-values/75_assistant.md
Labels: marketplace

#1617 chore(docs): update CRUD Service documentation
  docs/runtime_suite/crud-service/changelog.md
Labels: marketplace, crud-service

#1456 chore(docs): update Real-Time Updater documentation
  docs/runtime_suite/real-time-updater/changelog.md
Labels: marketplace

#1449 chore(docs): update Projection Storer documentation
  docs/runtime_suite/projection-storer/changelog.md
Labels: marketplace

#1612 chore(docs): update API Documentation Aggregator documentation
  docs/runtime_suite_applications/api-documentation-aggregator/30_faqs.md
Labels: marketplace

#1628 chore(docs): update Flow Manager Service documentation
  docs/runtime_suite/flow-manager-service/30_configuration.md
  docs/runtime_suite/flow-manager-service/changelog.md
Labels: marketplace

#1634 align main to prod. feat: update chart helm in v13.1.0 release note (#1633)
  docs/release-notes/v13.1.0.md
Labels: release-note

#1637 chore(docs): update Fast Data Control Plane documentation
  docs/runtime_suite_applications/fast-data-control-plane/changelog.md
Labels: marketplace

#1636 chore(docs): update Composer documentation
  docs/microfrontend-composer/composer/changelog.md
Labels: marketplace

#1643 chore(docs): update Authentication Service documentation
  docs/runtime_suite/authentication-service/20_configuration.mdx
  docs/runtime_suite/authentication-service/30_usage.md
  docs/runtime_suite/authentication-service/changelog.md
Labels: marketplace

#1647 chore(docs): update Authentication Service documentation
  docs/runtime_suite/authentication-service/changelog.md
Labels: marketplace

#1629 chore(docs): update AI RAG Template documentation
  docs/runtime_suite_templates/ai-rag-template/changelog.md
Labels: marketplace

#1644 chore(docs): update miactl documentation
  docs/cli/miactl/20_setup.md
  docs/cli/miactl/30_commands.md
  docs/cli/miactl/40_examples.md
  docs/cli/miactl/changelog.md
Labels: marketplace

#1642 edit rn 13.1.1
  docs/release-notes/v13.1.0.md
  docs/release-notes/v13.1.1.md
  docs/release-notes/versions.md
  sidebars.json
Labels: release-note

#1616 chore(docs): update Appointment Manager documentation
  docs/runtime_suite/appointment-manager/20_configuration.md
  docs/runtime_suite/appointment-manager/changelog.md
Labels: marketplace

#1619 chore(docs): update Teleconsultation Service Backend documentation
  docs/runtime_suite/teleconsultation-service-backend/20_configuration.md
  docs/runtime_suite/teleconsultation-service-backend/30_usage.md
  docs/runtime_suite/teleconsultation-service-backend/changelog.md
  docs/runtime_suite/teleconsultation-service-backend/img/image.svg
Labels: marketplace

#1625 chore(docs): update O3 DICOM Service documentation
  docs/runtime_suite/o3-dicom-service/changelog.md
Labels: marketplace

#1624 chore(docs): update Care Kit documentation
  docs/runtime_suite/care-kit/20_components/140_ck-timeline-detail.md
  docs/runtime_suite/care-kit/changelog.md
  docs/runtime_suite/care-kit/img/ck-timeline-detail.png
Labels: marketplace

#1664 chore(docs): update Microfrontend Composer Toolkit documentation
  docs/runtime_suite_applications/microfrontend-composer-toolkit/changelog.md
Labels: marketplace

#1663 chore(docs): update Microfrontend Composer On Prem Toolkit documentation
  docs/runtime_suite_applications/microfrontend-composer-on-prem-toolkit/changelog.md
Labels: marketplace

#1660 feat: update rtu dashboard
  301redirects.json
  docs/fast_data/monitoring/dashboards/ingestion_services.md
  docs/fast_data/monitoring/dashboards/real_time_updater.md
  docs/fast_data/monitoring/overview.md
  docs/fast_data/troubleshooting/rtu_keeps_restarting_rebalancing.md
  sidebars.json
  static/docs_files_to_download/dashboards/ingestion-services.json
  versioned_docs/version-11.x.x/fast_data/monitoring/dashboards/real_time_updater.md
  versioned_docs/version-12.x.x/fast_data/monitoring/dashboards/real_time_updater.md
Labels: fast-data

#1668 chore(docs): update CRUD Service documentation
  docs/runtime_suite/crud-service/changelog.md
Labels: marketplace, crud-service

#1648 chore(docs): update Therapy and Monitoring Manager documentation
  docs/runtime_suite/therapy-and-monitoring-manager/10_overview.md
  docs/runtime_suite/therapy-and-monitoring-manager/20_configuration.md
  docs/runtime_suite/therapy-and-monitoring-manager/30_usage.md
  docs/runtime_suite/therapy-and-monitoring-manager/changelog.md
  static/docs_files_to_download/therapy-and-monitoring-manager/detections.json
  static/docs_files_to_download/therapy-and-monitoring-manager/monitorings.json
Labels: marketplace

#1670 chore(docs): update Projection Storer documentation
  docs/runtime_suite/projection-storer/changelog.md
Labels: marketplace

#1657 chore(docs): update Fast Data Control Plane documentation
  docs/runtime_suite_applications/fast-data-control-plane/10_overview.md
Labels: marketplace

#1662 chore(docs): update Data Catalog documentation
  docs/runtime_suite_applications/data-catalog/10_overview.md
  docs/runtime_suite_applications/data-catalog/_category_.json
  docs/runtime_suite_applications/data-catalog/changelog.md
  docs/runtime_suite_templates/data-catalog/20_configuration.md
  docs/runtime_suite_templates/data-catalog/changelog.md
  static/docs_files_to_download/data-catalog/agent.model.schema.json
  static/docs_files_to_download/data-catalog/catalog.model.schema.json
Labels: marketplace

#1650 docs(fast-data): rewrite runtime management documentation for company level
  .eslintrc
  .yarn/releases/yarn-4.1.0.cjs
  .yarn/releases/yarn-4.4.1.cjs
  .yarnrc.yml
  docs/fast_data/configuration/projection_storer.md
  docs/fast_data/configuration/secrets_resolution.md
  docs/fast_data/faq/fast_data_versioning.md
  docs/fast_data/runtime_management/compatibility_matrix.md
  docs/fast_data/runtime_management/control_plane.mdx
  docs/fast_data/runtime_management/control_plane_fabric_bff.mdx
  docs/fast_data/runtime_management/control_plane_frontend.mdx
  docs/fast_data/runtime_management/control_plane_operator.mdx
  docs/fast_data/runtime_management/database_setup.mdx
  docs/fast_data/runtime_management/img/auth_management_policies.png
  docs/fast_data/runtime_management/img/control_plane_arch.svg
  docs/fast_data/runtime_management/img/control_plane_in_console.png
  docs/fast_data/runtime_management/img/control_plane_operator_ports.png
  docs/fast_data/runtime_management/img/control_plane_ports.png
  docs/fast_data/runtime_management/img/create_runtime_view.png
  docs/fast_data/runtime_management/img/delete_runtime_view.png
  docs/fast_data/runtime_management/img/domain_pipeline.png
  docs/fast_data/runtime_management/img/edit_runtime_view.png
  docs/fast_data/runtime_management/img/edit_user_permissions.png
  docs/fast_data/runtime_management/img/endpoint_any_origin.png
  docs/fast_data/runtime_management/img/env_vars_downward_api.png
  docs/fast_data/runtime_management/img/marketplace_runtime_management_app_creation.png
  docs/fast_data/runtime_management/img/marketplace_runtime_management_app_selection.png
  docs/fast_data/runtime_management/img/microfrontend_composer.png
  docs/fast_data/runtime_management/img/microservice_configuration.png
  docs/fast_data/runtime_management/img/pipelines_overview.png
  docs/fast_data/runtime_management/img/rond_enabled_services.png
  docs/fast_data/runtime_management/img/rond_shared_config.png
  docs/fast_data/runtime_management/img/single_view_pipeline.png
  docs/fast_data/runtime_management/img/users_management_ui.png
  docs/fast_data/runtime_management/img/users_web_app.png
  docs/fast_data/runtime_management/overview.mdx
  docs/fast_data/runtime_management/secure_access.md
  docs/fast_data/runtime_management/snippets/fabric_bff_credentials_viewer.mdx
  docs/fast_data/runtime_management/workloads.mdx
  docs/fast_data/snippets/schema_viewer.mdx
  docusaurus.config.js
  package.json
  sidebars.json
  static/schemas/data-fabric-bff.config.schema.json
  static/schemas/data-fabric-control-plane-operator.config.schema.json
  static/schemas/data-fabric-control-plane.config.schema.json
  static/schemas/fast-data-control-plane-client-config.schema.json
  static/schemas/fast-data-control-plane-config.schema.json
Labels: enhancement, fast-data

#1659 docs(data-catalog): rewrite and enrich Data Catalog documentation
  .cspell.json
  301redirects.json
  docs/data_catalog/compatibility_matrix.md
  docs/data_catalog/data_catalog_agent_setup.mdx
  docs/data_catalog/data_catalog_fabric_bff.mdx
  docs/data_catalog/data_catalog_frontend.mdx
  docs/data_catalog/data_catalog_open_lineage.mdx
  docs/data_catalog/database_setup.mdx
  docs/data_catalog/img/advanced_search_filters.png
  docs/data_catalog/img/advanced_section_envoy.png
  docs/data_catalog/img/bulk_actions.png
  docs/data_catalog/img/column_details_page.png
  docs/data_catalog/img/custom_properties_card.png
  docs/data_catalog/img/custom_properties_management_page.png
  docs/data_catalog/img/custom_property_creation.png
  docs/data_catalog/img/custom_property_delete.png
  docs/data_catalog/img/custom_property_edit.png
  docs/data_catalog/img/data_catalog_arch.svg
  docs/data_catalog/img/data_catalog_home.png
  docs/data_catalog/img/data_catalog_in_console.png
  docs/data_catalog/img/edit_user_permissions.png
  docs/data_catalog/img/endpoint_any_origin.png
  docs/data_catalog/img/microfrontend_composer.png
  docs/data_catalog/img/open_lineage_ports.png
  docs/data_catalog/img/remove_unknown_custom_property.png
  docs/data_catalog/img/restore_unknown_custom_property.png
  docs/data_catalog/img/search_context.png
  docs/data_catalog/img/search_results.png
  docs/data_catalog/img/sor_details_page.png
  docs/data_catalog/img/table_details_page.png
  docs/data_catalog/img/unknown_custom_properties_card.png
  docs/data_catalog/img/users_management_ui.png
  docs/data_catalog/overview.mdx
  docs/data_catalog/secure_access.mdx
  docs/fast_data/configuration/projections.md
  docs/fast_data/data_catalog/overview.md
  docs/fast_data/img/data_catalog_readonly_fields.png
  docs/fast_data/img/data_catalog_systems_view.png
  docs/fast_data/what_is_fast_data.md
  docs/release-notes/mia-platform-v13.mdx
  docs/release-notes/v13.0.0.md
  docs/release-notes/v13.0.5.md
  docs/runtime_suite_applications/data-catalog/10_overview.md
  docs/runtime_suite_templates/data-catalog/10_overview.md
  docs/runtime_suite_templates/data-catalog/20_configuration.md
  docs/runtime_suite_templates/data-catalog/_category_.json
  docs/runtime_suite_templates/data-catalog/changelog.md
  docs/runtime_suite_templates/data-catalog/img/architecture.png
  docusaurus.config.js
  sidebars.json
  src/components/SchemaViewer/index.js
  static/docs_files_to_download/data-catalog-agent/model.schema.json
  static/docs_files_to_download/data-catalog/catalog.model.schema.json
  static/docs_files_to_download/data-catalog/configuration.schema.json
  static/schemas/data_fabric/data-catalog-fabric-bff.config.schema.json
  static/schemas/data_fabric/data-catalog-fabric-bff.example.json
  static/schemas/data_fabric/open-lineage.config.schema.json
  static/schemas/data_fabric/open-lineage.example.json
  versioned_docs/version-12.x.x/runtime_suite_templates/data-catalog/20_configuration.md
Labels: fast-data, release-note

#1671 chore(docs): update Fast Data Control Plane Operator documentation
  docs/runtime_suite/fast-data-control-plane-operator/10_overview.md
  docs/runtime_suite/fast-data-control-plane-operator/_category_.json
  docs/runtime_suite/fast-data-control-plane-operator/changelog.md
Labels: marketplace

#1669 set up release notes
  docs/release-notes/img/control_plane_in_console.png
  docs/release-notes/img/data_catalog_home.png
  docs/release-notes/img/versioned-service.png
  docs/release-notes/v13.1.1.md
  docs/release-notes/v13.2.0.md
  docs/release-notes/versions.md
  sidebars.json
Labels: release-note
