Repository mia-platform/documentation, pull requests merged in 2024-11, with the labels that each got.

#1757 Added documentation on components explorer
  docs/microfrontend-composer/external-components/bundling.md
  docs/microfrontend-composer/external-components/manifest.md
  docs/microfrontend-composer/external-components/overview.md
Labels: microfrontend-composer

#1744 chore(docs): update Teleconsultation Service Frontend documentation
  docs/runtime_suite/teleconsultation-service-frontend/changelog.md
Labels: marketplace

#1747 chore(docs): update Messaging Service documentation
  docs/runtime_suite/messaging-service/changelog.md
Labels: marketplace

#1753 chore(docs): update Notification Manager Service documentation
  docs/runtime_suite/notification-manager-service/10_overview.md
  docs/runtime_suite/notification-manager-service/20_configuration.md
  docs/runtime_suite/notification-manager-service/30_usage.md
  docs/runtime_suite/notification-manager-service/changelog.md
Labels: marketplace

#1754 chore(docs): update Teleconsultation Service Backend documentation
  docs/runtime_suite/teleconsultation-service-backend/changelog.md
Labels: marketplace

#1756 chore(docs): update Therapy and Monitoring Manager documentation
  docs/runtime_suite/therapy-and-monitoring-manager/10_overview.md
  docs/runtime_suite/therapy-and-monitoring-manager/20_configuration.md
  docs/runtime_suite/therapy-and-monitoring-manager/30_usage.md
  docs/runtime_suite/therapy-and-monitoring-manager/40_migration.md
  docs/runtime_suite/therapy-and-monitoring-manager/changelog.md
  static/docs_files_to_download/therapy-and-monitoring-manager/detections.json
Labels: marketplace

#1763 chore(docs): update SMS Service documentation
  docs/runtime_suite/sms-service/10_overview.md
Labels: marketplace

#1741 chore(docs): update Care Kit documentation
  docs/runtime_suite/care-kit/20_components/150_ck_roles_and_permissions.md
  docs/runtime_suite/care-kit/changelog.md
  docs/runtime_suite/care-kit/img/ck-roles-and-permissions-modal.png
Labels: marketplace

#1390 chore(docs): update Node.js Mia Care SaMD Template documentation
  docs/runtime_suite_templates/node.js-mia-care-samd-template/10_overview.md
  docs/runtime_suite_templates/node.js-mia-care-samd-template/20_walkthrough.md
  static/docs_files_to_download/node.js-mia-care-samd-template/audit_logs.json
Labels: marketplace

#1746 chore(docs): update Auth0 Client documentation
  docs/runtime_suite/auth0-client/20_configuration.md
  docs/runtime_suite/auth0-client/changelog.md
Labels: marketplace

#1764 chore(docs): update Form Service Frontend documentation
  docs/runtime_suite/form-service-frontend/changelog.md
Labels: marketplace

#1771 chore(docs): update Care Kit documentation
  docs/runtime_suite/care-kit/changelog.md
Labels: marketplace

#1778 chore(docs): update Microfrontend Composer Toolkit documentation
  docs/runtime_suite_applications/microfrontend-composer-toolkit/changelog.md
Labels: marketplace

#1777 chore(docs): update Microfrontend Composer On Prem Toolkit documentation
  docs/runtime_suite_applications/microfrontend-composer-on-prem-toolkit/changelog.md
Labels: marketplace

#1769 chore(docs): update Composer documentation
  docs/microfrontend-composer/composer/10_structure.md
  docs/microfrontend-composer/composer/changelog.md
Labels: marketplace, microfrontend-composer

#1762 chore(docs): update Back Kit documentation
  docs/microfrontend-composer/back-kit/60_components/240_expandable_filters.md
  docs/microfrontend-composer/back-kit/60_components/300_filter_drawer.md
  docs/microfrontend-composer/back-kit/60_components/310_filters_manager.md
  docs/microfrontend-composer/back-kit/changelog.md
Labels: marketplace, microfrontend-composer

#1781 docs(fast-data): add notice of projection-storer bug
  docs/fast_data/configuration/projection_storer.md
  docs/fast_data/faq/fast_data_versioning.md
Labels: fast-data

#1786 chore(docs): update HTTP Proxy Manager documentation
  docs/runtime_suite/http-proxy-manager/30_configuration.md
  docs/runtime_suite/http-proxy-manager/changelog.md
Labels: marketplace

#1779 chore(docs): update Audit Trail documentation
  docs/runtime_suite/audit-trail/10_overview.md
  docs/runtime_suite/audit-trail/20_configuration.md
  docs/runtime_suite/audit-trail/30_security.md
  docs/runtime_suite/audit-trail/changelog.md
  docs/runtime_suite/audit-trail/img/audit-trail-architecture.png
  static/docs_files_to_download/audit-trail/audit_logs.json
Labels: marketplace

#1752 chore(docs): update HTTP Proxy Manager documentation
  docs/runtime_suite/http-proxy-manager/10_overview.md
  docs/runtime_suite/http-proxy-manager/20_how_to_use.md
  docs/runtime_suite/http-proxy-manager/30_configuration.md
  docs/runtime_suite/http-proxy-manager/changelog.md
Labels: marketplace

#1748 chore(docs): update Projection Storer documentation
  docs/runtime_suite/projection-storer/changelog.md
Labels: marketplace

#1791 chore(docs): update installation-chart documentation
  docs/infrastructure/self-hosted/installation-chart/helm-values/20_general-settings.md
Labels: marketplace

#1789 docs: software catalog items management
  301redirects.json
  docs/console/company-configuration/providers/configure-marketplace-provider.mdx
  docs/console/design-your-projects/custom-resources/custom-resources.md
  docs/console/design-your-projects/sidecars.md
  docs/console/project-configuration/kustomize-your-configurations/kustomize-use-cases.md
  docs/development_suite/monitoring/resources/custom-resources.md
  docs/getting-started/faqs.md
  docs/marketplace/add_to_marketplace/change_marketplace_item_visibility.md
  docs/marketplace/add_to_marketplace/create_your_company_marketplace.md
  docs/marketplace/add_to_marketplace/marketplace_items_accessibility.md
  docs/marketplace/examples/mia_examples.md
  docs/marketplace/img/item-version.png
  docs/marketplace/overview_marketplace.md
  docs/marketplace/templates/mia_templates.md
  docs/release-notes/mia-platform-v13.mdx
  docs/release-notes/v13.2.0.md
  docs/software-catalog/catalog-and-marketplace/overview.md
  docs/software-catalog/manage-items/declarative-approach.md
  docs/software-catalog/manage-items/img/declarative_delete_mr.png
  docs/software-catalog/manage-items/img/declarative_fix_mr.png
  docs/software-catalog/manage-items/img/declarative_fix_pipeline_log.png
  docs/software-catalog/manage-items/img/declarative_mr.png
  docs/software-catalog/manage-items/img/declarative_pipeline_log.png
  docs/software-catalog/manage-items/img/inventory_system.png
  docs/software-catalog/manage-items/img/version_list.png
  docs/software-catalog/manage-items/img/versions_notifications.png
  docs/software-catalog/manage-items/mia-ctl/create/create-item-by-type/create_application.md
  docs/software-catalog/manage-items/mia-ctl/create/create-item-by-type/create_infrastructure_resource.md
  docs/software-catalog/manage-items/mia-ctl/create/create-item-by-type/create_plugin.md
  docs/software-catalog/manage-items/mia-ctl/create/create-item-by-type/create_sidecar.md
  docs/software-catalog/manage-items/mia-ctl/create/create-item-by-type/create_template_or_example.md
  docs/software-catalog/manage-items/mia-ctl/create/img/awesome_service.png
  docs/software-catalog/manage-items/mia-ctl/create/overview.md
  docs/software-catalog/manage-items/mia-ctl/delete/overview.md
  docs/software-catalog/manage-items/mia-ctl/overview.md
  docs/software-catalog/manage-items/mia-ctl/update/overview.md
  docs/software-catalog/manage-items/overview.md
  docs/software-catalog/manage-items/software-catalog-ui/create/img/software-catalog-create-item.png
  docs/software-catalog/manage-items/software-catalog-ui/create/img/software-catalog-create-new-version.png
  docs/software-catalog/manage-items/software-catalog-ui/create/img/software-catalog-create-version-from-this.png
  docs/software-catalog/manage-items/software-catalog-ui/create/overview.md
  docs/software-catalog/manage-items/software-catalog-ui/delete/img/delete-version.png
  docs/software-catalog/manage-items/software-catalog-ui/delete/overview.md
  docs/software-catalog/manage-items/software-catalog-ui/img/item-versions.png
  docs/software-catalog/manage-items/software-catalog-ui/img/table-filters.png
  docs/software-catalog/manage-items/software-catalog-ui/img/versions-navigation.png
  docs/software-catalog/manage-items/software-catalog-ui/overview.md
  docs/software-catalog/overview.md
  sidebars.json
Labels: release-note

#1770 doc: configuration saved webhook
  docs/console/company-configuration/events.mdx
Labels: webhooks-section

#1792 rnv13.4.0
  docs/getting-started/faqs.md
  docs/release-notes/img/software-catalog-add-item.png
  docs/release-notes/v13.1.2.md
  docs/release-notes/v13.4.0.md
  docs/release-notes/versions.md
  sidebars.json
Labels: release-note

#1795 fix(Audit Trail): add missing _category_.json
  docs/runtime_suite/audit-trail/_category_.json
Labels: marketplace

#1796 chore(docs): update miactl documentation
  docs/cli/miactl/20_setup.md
  docs/cli/miactl/30_commands.md
  docs/cli/miactl/40_examples.md
  docs/cli/miactl/changelog.md
Labels: marketplace, cli

#1794 chore(docs): update HTTP Proxy Manager documentation
  docs/runtime_suite/http-proxy-manager/30_configuration.md
  docs/runtime_suite/http-proxy-manager/changelog.md
Labels: marketplace

#1809 fix: update chart referenced in v13.4.0
  docs/release-notes/v13.4.0.md
Labels: release-note
