Repository mia-platform/documentation, pull requests merged in 2024-12, with the labels that each got.

#1819 Updated release note
  docs/release-notes/v13.4.0.md
Labels: release-note

#1773 chore(docs): update Notification Manager Service documentation
  docs/runtime_suite/notification-manager-service/changelog.md
Labels: marketplace

#1825 chore(docs): update miactl documentation
  docs/cli/miactl/40_examples.md
Labels: marketplace, cli

#1818 chore(docs): update Microfrontend Composer Toolkit documentation
  docs/runtime_suite_applications/microfrontend-composer-toolkit/changelog.md
Labels: marketplace

#1816 chore(docs): update Back Kit documentation
  docs/microfrontend-composer/back-kit/changelog.md
Labels: marketplace, microfrontend-composer

#1813 chore(docs): update Microfrontend Composer On Prem Toolkit documentation
  docs/runtime_suite_applications/microfrontend-composer-on-prem-toolkit/changelog.md
Labels: marketplace

#1812 chore(docs): update Flow Manager Service documentation
  docs/runtime_suite/flow-manager-service/changelog.md
Labels: marketplace

#1806 chore(docs): update API Portal documentation
  docs/runtime_suite/api-portal/changelog.md
Labels: marketplace

#1805 chore(docs): update Swagger Aggregator documentation
  docs/runtime_suite/swagger-aggregator/20_configuration.md
  docs/runtime_suite/swagger-aggregator/changelog.md
Labels: marketplace

#1831 chore(docs): update Fast Data Control Plane Operator documentation
  docs/runtime_suite/fast-data-control-plane-operator/changelog.md
Labels: marketplace

#1829 chore(docs): update Data Catalog documentation
  docs/runtime_suite_applications/data-catalog/changelog.md
Labels: marketplace

#1830 chore(docs): update Fast Data Control Plane documentation
  docs/runtime_suite_applications/fast-data-control-plane/changelog.md
Labels: marketplace

#1832 chore(docs): update Timer Service documentation
  docs/runtime_suite/timer-service/changelog.md
Labels: marketplace

#1828 chore(docs): update Client Credentials documentation
  docs/runtime_suite/client-credentials/changelog.md
Labels: marketplace

#1827 chore(docs): update Authorization Service documentation
  docs/runtime_suite/authorization-service/changelog.md
Labels: marketplace

#1815 chore(docs): update Chat Service Backend documentation
  docs/runtime_suite/chat-service-backend/changelog.md
Labels: marketplace

#1811 chore(docs): update Data Catalog Agent documentation
  docs/runtime_suite_templates/data-catalog-agent/10_overview.md
Labels: marketplace

#1808 chore(docs): update User Manager Service documentation
  docs/runtime_suite/user-manager-service/20_configuration.md
  docs/runtime_suite/user-manager-service/30_usage.md
  docs/runtime_suite/user-manager-service/changelog.md
Labels: marketplace

#1785 chore(docs): update FHIR Adapter documentation
  docs/runtime_suite/fhir-adapter/10_overview_and_usage.md
  docs/runtime_suite/fhir-adapter/30_configuration.md
Labels: marketplace

#1774 chore(docs): update Therapy and Monitoring Manager documentation
  docs/runtime_suite/therapy-and-monitoring-manager/10_overview.md
  docs/runtime_suite/therapy-and-monitoring-manager/20_configuration.md
  docs/runtime_suite/therapy-and-monitoring-manager/30_usage.md
  docs/runtime_suite/therapy-and-monitoring-manager/40_migration.md
  docs/runtime_suite/therapy-and-monitoring-manager/changelog.md
Labels: marketplace

#1826 rn_v13.5.0
  docs/development_suite/set-up-infrastructure/img/compare-snapshots.png
  docs/development_suite/set-up-infrastructure/img/revision-history-restore-changes-button.png
  docs/development_suite/set-up-infrastructure/img/revision-history.png
  docs/development_suite/set-up-infrastructure/revisions-and-versions.md
  docs/release-notes/img/container_registry.png
  docs/release-notes/img/data-catalog-connections-management.png
  docs/release-notes/img/data-lineage-overview.png
  docs/release-notes/img/edit_catalog.png
  docs/release-notes/v13.4.0.md
  docs/release-notes/v13.5.0.md
  docs/release-notes/versions.md
  sidebars.json
Labels: release-note

#1847 updated chart helm on RN 13.5.0
  docs/release-notes/v13.5.0.md
Labels: release-note

#1848 docs(release-note): update release note of v13.5.0, v13.3.1 and v13.1.3
  docs/release-notes/v13.1.3.md
  docs/release-notes/v13.3.1.md
  docs/release-notes/v13.5.0.md
  docs/release-notes/versions.md
  sidebars.json
Labels: release-note

#1843 chore(docs): update SES Mail Notification Service documentation
  docs/runtime_suite/ses-mail-notification-service/configuration.md
Labels: marketplace

#1842 chore(docs): update Files Service documentation
  docs/runtime_suite/files-service/changelog.md
Labels: marketplace

#1851 chore(docs): update CRUD Service documentation
  docs/runtime_suite/crud-service/changelog.md
Labels: marketplace, crud-service

#1846 chore(docs): update Single View Trigger Generator documentation
  docs/runtime_suite/single-view-trigger-generator/changelog.md
Labels: marketplace

#1836 chore(docs): update Single View Creator documentation
  docs/runtime_suite/single-view-creator/changelog.md
Labels: marketplace

#1835 chore(docs): update Real-Time Updater documentation
  docs/runtime_suite/real-time-updater/changelog.md
Labels: marketplace

#1834 chore(docs): update Projection Storer documentation
  docs/runtime_suite/projection-storer/changelog.md
Labels: marketplace

#1804 chore(docs): update CRUD PostgreSQL documentation
  docs/runtime_suite/crud-postgresql/10_overview.md
  docs/runtime_suite/crud-postgresql/20_configuration.md
  docs/runtime_suite/crud-postgresql/changelog.md
Labels: marketplace

#1780 chore(docs): update JWT Token Validator documentation
  docs/runtime_suite/jwt-token-validator/10_overview_and_usage.md
  docs/runtime_suite/jwt-token-validator/changelog.md
Labels: marketplace

#1844 add(data-catalog): add documentation for TLS custom certificate support on fabric BFF
  docs/data_catalog/compatibility_matrix.md
  docs/data_catalog/data_catalog_fabric_bff.mdx
  docs/fast_data/faq/fast_data_versioning.md
  docs/fast_data/runtime_management/compatibility_matrix.md
  static/schemas/data_fabric/data-catalog-fabric-bff.config.schema.json
Labels: fast-data

#1845 Add CRUD SQL plugin to RN
  docs/release-notes/v13.5.0.md
Labels: release-note

#1860 chore(docs): update Fast Data Control Plane documentation
  docs/runtime_suite_applications/fast-data-control-plane/changelog.md
Labels: marketplace

#1862 chore(docs): update Microfrontend Composer Toolkit documentation
  docs/runtime_suite_applications/microfrontend-composer-toolkit/changelog.md
Labels: marketplace

#1859 chore(docs): update Back Kit documentation
  docs/microfrontend-composer/back-kit/60_components/380_import_modal.md
  docs/microfrontend-composer/back-kit/changelog.md
Labels: marketplace, microfrontend-composer

#1863 chore(docs): update Swagger Aggregator documentation
  docs/runtime_suite/swagger-aggregator/changelog.md
Labels: marketplace

#1867 chore(docs): update CRUD Service documentation
  docs/runtime_suite/crud-service/changelog.md
Labels: marketplace, crud-service

#1864 chore(docs): update AI RAG Template documentation
  docs/runtime_suite_templates/ai-rag-template/10_overview_and_usage.md
  docs/runtime_suite_templates/ai-rag-template/20_apis.md
  docs/runtime_suite_templates/ai-rag-template/changelog.md
Labels: marketplace

#1855 set up RN 13.5.1
  docs/development_suite/api-console/api-design/fine-grained-access-control.md
  docs/fast_data/runtime_management/control_plane_fabric_bff.mdx
  docs/release-notes/img/flow-manager-configurator-new-layout.png
  docs/release-notes/v13.4.0.md
  docs/release-notes/v13.5.0.md
  docs/release-notes/v13.5.1.md
  docs/release-notes/versions.md
  sidebars.json
Labels: fast-data, release-note

#1874 updated chart RN 13.5.1 to prod
  docs/development_suite/api-console/api-design/flow-manager-configurator/how-it-works.md
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/command.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/communication-expanded.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/deep-merge.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/default-scenario.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/event-group.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/event.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/highlight-mode.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/hook.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/initial-event.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/kafka-protocol.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/library-expanded.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/logic-block.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/persistency-management.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/readonly-mode.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/service-configuration.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/service-settings.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/side-effect.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/state-group.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/state.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/img/unlink-service.png
  docs/development_suite/api-console/api-design/flow-manager-configurator/overview.md
  docs/release-notes/v13.5.1.md
Labels: release-note

#1870 chore(docs): update AI RAG Template documentation
  docs/runtime_suite_templates/ai-rag-template/changelog.md
Labels: marketplace
