Repository mia-platform/documentation, pull requests merged in 2024-01, with the labels that each got.

#986 feat: update description of SINGLE_VIEW_PORTFOLIO_ORIGIN
  docs/fast_data/configuration/single_view_creator/index.md
  docs/fast_data/tutorials/low-code.mdx
Labels: fast-data

#1000 ci(dependabot): add groups configuration
  .github/dependabot.yml
Labels: github-actions

#962 ci(labeler): add workflow to run labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: github-actions

#1019 Stable versions docs page
  docs/release-notes/stable versions.md
  sidebars.json
Labels: release-note

#1062 RNv12.0.2 for prod release
  docs/release-notes/v12.0.2.md
Labels: release-note

#1009 RN v12.1.0 for Preview release
  docs/release-notes/img/iam-events-webhook.png
  docs/release-notes/img/projection-duplicate.png
  docs/release-notes/v12.1.0.md
  docs/release-notes/versions.md
  sidebars.json
Labels: release-note

#1036 chore(docs): update CRUD Service documentation
  docs/runtime_suite/crud-service/10_overview_and_usage.md
  docs/runtime_suite/crud-service/60_usage_best_practices.md
  docs/runtime_suite/crud-service/changelog.md
Labels: crud-service

#1025 Mia care R&D updates
  docs/release-notes/v12.1.0.md
Labels: release-note

#1070 Updated RN with merge modal fix
  docs/release-notes/v12.0.2.md
Labels: release-note

#1071 chore(docs): update Fast Data Control Plane documentation
  docs/runtime_suite_applications/fast-data-control-plane/10_overview.md
  docs/runtime_suite_applications/fast-data-control-plane/20_configuration.mdx
  docs/runtime_suite_applications/fast-data-control-plane/_category_.json
  docs/runtime_suite_applications/fast-data-control-plane/changelog.md
  docs/runtime_suite_applications/fast-data-control-plane/img/runtime_management_initial_screen.png
Labels: fast-data

#1080 chore(docs): update CRUD Service documentation
  docs/runtime_suite/crud-service/30_encryption_configuration.md
Labels: crud-service

#1089 removed: project & company user event types from dos and RN
  docs/development_suite/webhooks-and-events/events.mdx
  docs/release-notes/img/iam-events-webhook.png
  docs/release-notes/v12.1.0.md
Labels: release-note

#1097 feat: enhanced project workflow benefits and improved beta message
  .yarn/versions/38ce598b.yml
  docs/console/project-configuration/project-settings.md
  docs/development_suite/set-up-infrastructure/enhanced-project-workflow.md
  docs/release-notes/mia-platform-v12.mdx
Labels: release-note
