Repository mia-platform/documentation, pull requests merged in 2024-08, with the labels that each got.

#1521 chore(docs): update lc39 documentation
  docs/runtime_suite_libraries/lc39/changelog.md
Labels: marketplace

#1578 chore(docs): update Data Catalog documentation
  docs/runtime_suite_templates/data-catalog/changelog.md
Labels: marketplace

#1573 RN v13.0.6 to Preview
  docs/release-notes/v13.0.5.md
  docs/release-notes/v13.0.6.md
  docs/release-notes/versions.md
  sidebars.json
Labels: release-note

#1582 chore(docs): update API Portal documentation
  docs/runtime_suite/api-portal/20_configuration.md
  docs/runtime_suite/api-portal/changelog.md
Labels: marketplace

#1588 chore(docs): update CRUD Service documentation
  docs/runtime_suite/crud-service/20_configuration.md
  docs/runtime_suite/crud-service/changelog.md
Labels: marketplace, crud-service

#1609 chore(docs): update API Documentation Aggregator documentation
  docs/runtime_suite_applications/api-documentation-aggregator/30_FAQs.md
  docs/runtime_suite_applications/api-documentation-aggregator/changelog.md
Labels: marketplace

#1610 chore(docs): update installation-chart documentation
  docs/infrastructure/self-hosted/installation-chart/100_how-to-upgrade.md
Labels: marketplace

#1611 chore(docs): update installation-chart documentation
  docs/infrastructure/self-hosted/installation-chart/helm-values/20_general-settings.md
Labels: marketplace

#1602 chore(docs): update AI RAG Template documentation
  docs/runtime_suite_templates/ai-rag-template/changelog.md
Labels: marketplace

#1575 update roadmap docs page
  docs/release-notes/roadmap.md
Labels: release-note

#1600 Release notes v13.1.0
  docs/release-notes/img/create-extensions-modal.png
  docs/release-notes/v13.0.6.md
  docs/release-notes/v13.1.0.md
  docs/release-notes/versions.md
  sidebars.json
Labels: release-note
