Repository mia-platform/documentation, pull requests merged in 2025-07, with the labels that each got.

#2222 chore(docs): update Mongezium CDC documentation
  .cspell.json
  docs/runtime_suite/mongezium-cdc/10_overview.md
  docs/runtime_suite/mongezium-cdc/20_configuration.md
  docs/runtime_suite/mongezium-cdc/30_usage.md
  docs/runtime_suite/mongezium-cdc/_category_.json
  docs/runtime_suite/mongezium-cdc/changelog.md
  docs/runtime_suite/mongezium-cdc/img/mongezium_init_flow.svg
Labels: marketplace

#2228 fast data read from multiple databases add little changes to code example
  docs/fast_data/configuration/single_view_creator/plugin.md
Labels: fast-data

#2243 chore(docs): update Integration Connector Agent documentation
  docs/runtime_suite/integration-connector-agent/sinks/15_console-catalog.md
Labels: marketplace

#2224 chore(docs): update Back Kit documentation
  docs/microfrontend-composer/back-kit/changelog.md
Labels: marketplace, microfrontend-composer

#2248 feat: refined tutorial doc with tf modules
  docs/console/tutorials/infrastructure-project/img/visualize-infra-composer-extension-add-column-advanced.png
  docs/console/tutorials/infrastructure-project/img/visualize-infra-composer-extension-creation-advanced-tenantid.png
  docs/console/tutorials/infrastructure-project/visualize-infrastructure-project-components-runtime-data-in-console.md
  docs/console/tutorials/infrastructure-project/visualize-infrastructure-project-components-runtime-data-in-console.mdx
Labels: Tutorial
