Repository mia-platform/documentation, pull requests merged in 2025-03, with the labels that each got.

#2022 chore(docs): update Microfrontend Composer Toolkit documentation
  docs/runtime_suite_applications/microfrontend-composer-toolkit/changelog.md
Labels: marketplace

#2021 chore(docs): update Microfrontend Composer On Prem Toolkit documentation
  docs/runtime_suite_applications/microfrontend-composer-on-prem-toolkit/changelog.md
Labels: marketplace

#2020 chore(docs): update Back Kit documentation
  docs/microfrontend-composer/back-kit/changelog.md
Labels: marketplace, microfrontend-composer

#2016 chore(docs): update API Documentation Aggregator documentation
  docs/runtime_suite_applications/api-documentation-aggregator/changelog.md
Labels: marketplace

#2005 chore(docs): update Device Manager documentation
  .cspell.json
  docs/runtime_suite/device-manager/10_overview.md
  docs/runtime_suite/device-manager/20_configuration.md
  docs/runtime_suite/device-manager/30_usage.md
  docs/runtime_suite/device-manager/40_providers.md
  docs/runtime_suite/device-manager/_category_.json
  docs/runtime_suite/device-manager/changelog.md
  docs/runtime_suite/device-manager/img/audit-trail-architecture.png
  docs/runtime_suite/device-manager/img/audit-trail-architecture.svg
  docs/runtime_suite/device-manager/img/logging_operator_flow.png
  static/docs_files_to_download/device-manager/crud_devices.json
  static/docs_files_to_download/device-manager/crud_health_data.json
  static/docs_files_to_download/device-manager/crud_health_data_types.json
Labels: marketplace

#1631 chore(docs): update Kafka2Firebase documentation
  docs/runtime_suite/kafka2firebase/10_overview.md
  docs/runtime_suite/kafka2firebase/20_configuration.md
  docs/runtime_suite/kafka2firebase/changelog.md
Labels: marketplace

#2006 chore(docs): update Nginx API Gateway documentation
  docs/runtime_suite/nginx-api-gateway/10_overview.md
  docs/runtime_suite/nginx-api-gateway/20_configuration.md
  docs/runtime_suite/nginx-api-gateway/_category_.json
  docs/runtime_suite/nginx-api-gateway/changelog.md
  docs/runtime_suite/nginx-api-gateway/img/gateway-architecture.png
Labels: marketplace

#1965 chore(docs): update Files Service documentation
  docs/runtime_suite/files-service/usage.mdx
Labels: marketplace

#1984 chore(docs): update miactl documentation
  docs/cli/miactl/20_setup.md
  docs/cli/miactl/40_examples.md
  docs/cli/miactl/changelog.md
Labels: marketplace, cli

#1983 chore(docs): update AI RAG Template documentation
  docs/runtime_suite_templates/ai-rag-template/10_overview_and_usage.md
  docs/runtime_suite_templates/ai-rag-template/20_apis.md
  docs/runtime_suite_templates/ai-rag-template/changelog.md
Labels: marketplace

#2023 chore(docs): update Swagger Aggregator documentation
  docs/runtime_suite/swagger-aggregator/changelog.md
Labels: marketplace

#2018 set up rn 13.6.2 to preview
  docs/release-notes/v13.6.0.md
  docs/release-notes/v13.6.1.md
  docs/release-notes/v13.6.2.md
  docs/release-notes/versions.md
  sidebars.json
Labels: release-note

#2025 docs from main to prod
  docs/release-notes/v13.6.2.md
Labels: release-note

#2026 added cursor AI to RN and docs
  docs/development_suite/api-console/api-design/services.md
  docs/release-notes/v13.6.2.md
Labels: release-note

#2027 docs to prod for RN update
  docs/development_suite/api-console/api-design/services.md
  docs/release-notes/v13.6.2.md
Labels: release-note

#2040 chore(docs): update installation-chart documentation
  docs/infrastructure/self-hosted/installation-chart/100_how-to-upgrade.md
  docs/infrastructure/self-hosted/installation-chart/helm-values/10_installation-chart-example.md
  docs/infrastructure/self-hosted/installation-chart/helm-values/20_general-settings.md
  docs/infrastructure/self-hosted/installation-chart/helm-values/40_mongodb-configurations-and-encryption.md
  docs/infrastructure/self-hosted/installation-chart/helm-values/45_marketplace.md
Labels: marketplace

#2036 set up rn v13.7.0
  docs/release-notes/img/audit-logs.png
  docs/release-notes/stable versions.md
  docs/release-notes/v13.6.2.md
  docs/release-notes/v13.7.0.md
  docs/release-notes/versions.md
  sidebars.json
Labels: release-note

#2049 chore(docs): update installation-chart documentation
  docs/infrastructure/self-hosted/installation-chart/helm-values/20_general-settings.md
Labels: marketplace

#2043 chore(docs): update mlp documentation
  docs/runtime_suite_tools/mlp/20_setup.md
  docs/runtime_suite_tools/mlp/changelog.md
Labels: marketplace

#2048 chore(docs): update miactl documentation
  docs/cli/miactl/20_setup.md
  docs/cli/miactl/40_examples.md
  docs/cli/miactl/changelog.md
Labels: marketplace, cli

#2042 chore(docs): update Back Kit documentation
  docs/microfrontend-composer/back-kit/80_examples/20_nested_data.md
Labels: marketplace, microfrontend-composer

#2044 chore(docs): update Rest2Kafka service documentation
  docs/runtime_suite/rest2kafka-service/changelog.md
Labels: marketplace

#2062 chore(docs): update User Manager Module documentation
  docs/runtime_suite_applications/user-manager-module/10_overview.md
  docs/runtime_suite_applications/user-manager-module/20_requirements.md
  docs/runtime_suite_applications/user-manager-module/30_configuration.md
  docs/runtime_suite_applications/user-manager-module/40_errors.md
  docs/runtime_suite_applications/user-manager-module/_category_.json
  docs/runtime_suite_applications/user-manager-module/changelog.md
  docs/runtime_suite_applications/user-manager-module/img/umm-high-level-architecture.png
  static/docs_files_to_download/user-manager-module/mlp.yaml
Labels: marketplace

#2061 chore(docs): update Therapy Device Module documentation
  .cspell.json
  docs/runtime_suite_applications/therapy-device-module/10_overview.md
  docs/runtime_suite_applications/therapy-device-module/20_requirements.md
  docs/runtime_suite_applications/therapy-device-module/30_configuration.md
  docs/runtime_suite_applications/therapy-device-module/40_errors.md
  docs/runtime_suite_applications/therapy-device-module/_category_.json
  docs/runtime_suite_applications/therapy-device-module/changelog.md
  docs/runtime_suite_applications/therapy-device-module/img/high-level-architecture.png
  static/docs_files_to_download/therapy-device-module/mlp.yaml
Labels: marketplace

#2060 chore(docs): update Therapy and Monitoring Manager documentation
  docs/runtime_suite/therapy-and-monitoring-manager/20_configuration.md
  docs/runtime_suite/therapy-and-monitoring-manager/30_usage.md
  docs/runtime_suite/therapy-and-monitoring-manager/changelog.md
Labels: marketplace

#2059 chore(docs): update Notification Module documentation
  docs/runtime_suite_applications/notification-module/10_overview.md
  docs/runtime_suite_applications/notification-module/20_requirements.md
  docs/runtime_suite_applications/notification-module/30_configuration.md
  docs/runtime_suite_applications/notification-module/40_errors.md
  docs/runtime_suite_applications/notification-module/_category_.json
  docs/runtime_suite_applications/notification-module/changelog.md
  docs/runtime_suite_applications/notification-module/img/high-level-architecture.png
  static/docs_files_to_download/notification-module/mlp.yaml
  static/docs_files_to_download/notification-module/nm_nm_notification_messages.json
  static/docs_files_to_download/notification-module/notification_messages_pipeline.json
Labels: marketplace

#2058 chore(docs): update O3 DICOM Service documentation
  docs/runtime_suite/o3-dicom-service/20_api_overview.md
  docs/runtime_suite/o3-dicom-service/30_configuration.md
  docs/runtime_suite/o3-dicom-service/changelog.md
Labels: marketplace

#2057 chore(docs): update FHIR Adapter documentation
  docs/runtime_suite/fhir-adapter/changelog.md
Labels: marketplace

#2056 chore(docs): update EHR Module documentation
  docs/runtime_suite_applications/ehr-module/10_overview.md
  docs/runtime_suite_applications/ehr-module/20_requirements.md
  docs/runtime_suite_applications/ehr-module/30_configuration.md
  docs/runtime_suite_applications/ehr-module/_category_.json
  docs/runtime_suite_applications/ehr-module/changelog.md
  static/docs_files_to_download/ehr-module/mlp.yaml
Labels: marketplace

#2055 chore(docs): update Booking Module documentation
  docs/runtime_suite_applications/booking-module/10_overview.md
  docs/runtime_suite_applications/booking-module/20_requirements.md
  docs/runtime_suite_applications/booking-module/30_configuration.md
  docs/runtime_suite_applications/booking-module/_category_.json
  docs/runtime_suite_applications/booking-module/changelog.md
  static/docs_files_to_download/booking-module/mlp.yaml
Labels: marketplace
