Repository mia-platform/documentation, pull requests merged in 2025-06, with the labels that each got.

#2163 chore(docs): update MCP Server documentation
  docs/mcp/mcp-server/20_setup.md
Labels: marketplace

#2166 added redirect for audit trails
  301redirects.json
Labels: documentation

#2172 chore(docs): update Flow Manager Service documentation
  docs/runtime_suite/flow-manager-service/30_configuration.md
Labels: marketplace

#2176 chore(docs): update Flow Manager Service documentation
  docs/runtime_suite/flow-manager-service/changelog.md
Labels: marketplace

#2174 chore(docs): update Microfrontend Composer Toolkit documentation
  docs/runtime_suite_applications/microfrontend-composer-toolkit/changelog.md
Labels: marketplace

#2173 chore(docs): update Microfrontend Composer On Prem Toolkit documentation
  docs/runtime_suite_applications/microfrontend-composer-on-prem-toolkit/changelog.md
Labels: marketplace

#2137 chore(docs): update Back Kit documentation
  docs/microfrontend-composer/back-kit/60_components/460_notifications.md
  docs/microfrontend-composer/back-kit/changelog.md
Labels: marketplace, microfrontend-composer

#2187 chore(docs): update miactl documentation
  docs/cli/miactl/20_setup.md
  docs/cli/miactl/40_examples.md
  docs/cli/miactl/changelog.md
Labels: marketplace, cli
