Repository mia-platform/documentation, pull requests merged in 2025-05, with the labels that each got.

#2117 Mia Care Marketplace Updates for v14 release notes
  docs/release-notes/mia-platform-v14.mdx
  docs/release-notes/v14.0.0.mdx
Labels: release-note

#2122 chore(docs): update Composer documentation
  docs/microfrontend-composer/composer/changelog.md
Labels: marketplace, microfrontend-composer

#2121 chore(docs): update Back Kit documentation
  docs/microfrontend-composer/back-kit/changelog.md
Labels: marketplace, microfrontend-composer

#2120 chore(docs): update API Documentation Aggregator documentation
  docs/runtime_suite_applications/api-documentation-aggregator/changelog.md
Labels: marketplace

#2110 chore(docs): update API Portal documentation
  docs/runtime_suite/api-portal/changelog.md
Labels: marketplace

#2127 edit release notes typos
  docs/release-notes/img/infrastructure-project-selection.png
Labels: release-note

#2129 update comp rn
  docs/release-notes/v14.0.0.mdx
Labels: release-note

#2130 fixed screenshots in v14.0.0 RN
  docs/release-notes/img/migration-process.png
Labels: release-note

#2126 chore(docs): update miactl documentation
  docs/cli/miactl/30_commands.md
Labels: marketplace, cli

#2134 feat: refactor "libraries" category of "runtime components" section
  docs/console/tutorials/configure-marketplace-components/create-a-custom-microservice.mdx
  docs/development_suite/api-console/api-design/custom_microservice_get_started.md
  docs/development_suite/api-console/api-design/decorators.md
  docs/development_suite/api-console/api-design/plugin_baas_4.md
  docs/development_suite/api-console/api-design/proxy.md
  docs/fast_data/configuration/single_view_creator/template.md
  docs/getting-started/faqs.md
  docs/libraries/create-new-library.md
  docs/libraries/mia-service-libraries.md
  docs/marketplace/templates/mia_templates.md
  docs/runtime_suite/form-service-backend/20_configuration.md
  docs/runtime_suite/form-service-backend/30_form_assignments_configuration.md
  docs/runtime_suite_libraries/kafka2rest/10_overview.md
  docs/runtime_suite_libraries/kafka2rest/_category_.json
  docs/runtime_suite_libraries/rest2kafka/10_overview.md
  docs/runtime_suite_libraries/rest2kafka/_category_.json
  docs/runtime_suite_templates/node.js-template/20_walkthrough.md
  docs/runtime_suite_templates/premium-valuation-avm/20_walkthrough.md
  sidebars.json
Labels: fast-data, marketplace

#2136 chore(docs): update API Portal documentation
  docs/runtime_suite/api-portal/changelog.md
Labels: marketplace

#2135 chore(docs): update API Documentation Aggregator documentation
  docs/runtime_suite_applications/api-documentation-aggregator/10_overview.md
  docs/runtime_suite_applications/api-documentation-aggregator/20_configuration.md
  docs/runtime_suite_applications/api-documentation-aggregator/30_faqs.md
  docs/runtime_suite_applications/api-documentation-aggregator/changelog.md
Labels: marketplace

#2139 chore(docs): update Swagger Aggregator documentation
  docs/runtime_suite/swagger-aggregator/changelog.md
Labels: marketplace

#2145 removed preview banner to v14 RN
  docs/release-notes/v14.0.0.mdx
  docusaurus.config.js
  src/pages/index.js
Labels: release-note

#2151 chore(docs): update Device Manager documentation
  .cspell.json
  docs/runtime_suite/device-manager/10_overview.md
  docs/runtime_suite/device-manager/20_configuration.md
  docs/runtime_suite/device-manager/img/audit-trail-architecture.png
  docs/runtime_suite/device-manager/img/audit-trail-architecture.svg
  docs/runtime_suite/device-manager/img/data-acquisition-flow.mermaid
  docs/runtime_suite/device-manager/img/data-acquisition-flow.png
  docs/runtime_suite/device-manager/img/logging_operator_flow.png
  static/docs_files_to_download/device-manager/crud_health_data.json
Labels: marketplace
