Repository mia-platform/documentation, pull requests merged in 2025-08, with the labels that each got.

#2258 chore(docs): update CRUD Service documentation
  docs/runtime_suite/crud-service/changelog.md
Labels: marketplace, crud-service

#2250 chore(docs): update Swagger Aggregator documentation
  docs/runtime_suite/swagger-aggregator/changelog.md
Labels: marketplace

#2275 feat: Software Catalog ITDs doc
  docs/software-catalog/basic-concepts/05_items-data-structure.md
  docs/software-catalog/basic-concepts/10_items-types.md
  docs/software-catalog/basic-concepts/20_items-versioning.md
  docs/software-catalog/basic-concepts/40_items-visibility.md
  docs/software-catalog/items-management/img/software-catalog-create-itd.png
  docs/software-catalog/items-management/img/software-catalog-delete-itd.png
  docs/software-catalog/items-management/img/software-catalog-edit-itd.png
  docs/software-catalog/items-management/img/software-catalog-itd-list.png
  docs/software-catalog/items-management/miactl.md
  docs/software-catalog/items-management/overview.md
  docs/software-catalog/items-management/ui.md
  docs/software-catalog/items-manifest/application.md
  docs/software-catalog/items-manifest/example.md
  docs/software-catalog/items-manifest/extension.md
  docs/software-catalog/items-manifest/infrastructure-component-runtime.md
  docs/software-catalog/items-manifest/infrastructure-resource.md
  docs/software-catalog/items-manifest/overview.md
  docs/software-catalog/items-manifest/plugin.md
  docs/software-catalog/items-manifest/proxy.md
  docs/software-catalog/items-manifest/sidecar.md
  docs/software-catalog/items-manifest/template.md
  package.json
  sidebars.json
  static/docs_files_to_download/software-catalog/software-catalog-api-documentation.json
  yarn.lock
Labels: software-catalog
