Repository mia-platform/documentation, pull requests merged in 2025-01, with the labels that each got.

#1887 rn: for gitlab fix breaking backporting on v13.1 and v13.3
  docs/release-notes/v13.1.0.md
  docs/release-notes/v13.1.1.md
  docs/release-notes/v13.1.2.md
  docs/release-notes/v13.1.3.md
  docs/release-notes/v13.1.4.md
  docs/release-notes/v13.3.0.md
  docs/release-notes/v13.3.1.md
  docs/release-notes/v13.3.2.md
  docs/release-notes/v13.5.0.md
  docs/release-notes/versions.md
  sidebars.json
Labels: release-note

#1884 chore(docs): update Ingestion Storer documentation
  docs/runtime_suite/ingestion-storer/changelog.md
Labels: marketplace

#1880 rename crud-sql plugin
  docs/release-notes/v13.5.0.md
  docs/runtime_suite/crud-postgresql/_category_.json
  docs/runtime_suite/crud-sql/10_overview.md
  docs/runtime_suite/crud-sql/20_configuration.md
  docs/runtime_suite/crud-sql/30_how_to_use.md
  docs/runtime_suite/crud-sql/40_performance_overview.md
  docs/runtime_suite/crud-sql/_category_.json
  docs/runtime_suite/crud-sql/changelog.md
  docs/runtime_suite_templates/crud-sql-template/10_overview.md
  docs/runtime_suite_templates/crud-sql-template/20_configuration.md
Labels: marketplace, release-note

#1886 chore(docs): update Ingestion Reloader documentation
  docs/runtime_suite/ingestion-reloader/changelog.md
Labels: marketplace

#1890 chore(docs): update Microfrontend Composer On Prem Toolkit documentation
  docs/runtime_suite_applications/microfrontend-composer-on-prem-toolkit/changelog.md
Labels: marketplace

#1889 chore(docs): update Back Kit documentation
  docs/microfrontend-composer/back-kit/60_components/520_table.md
Labels: marketplace, microfrontend-composer

#1892 setup release notes
  docs/release-notes/stable versions.md
  docs/release-notes/v13.3.3.md
  docs/release-notes/v13.5.1.md
  docs/release-notes/v13.5.2.md
  docs/release-notes/versions.md
  sidebars.json
Labels: release-note

#1658 chore(docs): update mlp documentation
  docs/runtime_suite_tools/mlp/20_setup.md
  docs/runtime_suite_tools/mlp/changelog.md
Labels: marketplace

#1926 align prod to main
  docs/release-notes/v13.3.3.md
  docs/release-notes/v13.3.4.md
  docs/release-notes/v13.5.2.md
  docs/release-notes/versions.md
  sidebars.json
Labels: release-note

#1930 chore(docs): update Auth0 Client documentation
  docs/runtime_suite/auth0-client/20_configuration.md
  docs/runtime_suite/auth0-client/50_usage.md
  docs/runtime_suite/auth0-client/changelog.md
Labels: marketplace

#1939 align rn v13.3.5 from prod to main
  docs/release-notes/v13.3.5.md
  docs/release-notes/versions.md
  sidebars.json
Labels: release-note

#1924 feat: add maxBatchSize config to both RTU and SVTG pages
  docs/fast_data/configuration/realtime-updater/realtime-updater.md
  docs/fast_data/configuration/single_view_creator/index.md
  docs/fast_data/configuration/single_view_trigger_generator.mdx
  static/schemas/fast-data-event-store-config.schema.json
Labels: fast-data

#1928 chore(docs): update Projection Storer documentation
  docs/runtime_suite/projection-storer/changelog.md
Labels: marketplace

#1912 chore(docs): update Single View Trigger Generator documentation
  docs/runtime_suite/single-view-trigger-generator/changelog.md
Labels: marketplace

#1911 chore(docs): update Single View Creator documentation
  docs/runtime_suite/single-view-creator/changelog.md
Labels: marketplace

#1910 chore(docs): update Real-Time Updater documentation
  docs/runtime_suite/real-time-updater/changelog.md
Labels: marketplace

#1877 chore(docs): update Fast Data Control Plane documentation
  docs/runtime_suite_applications/fast-data-control-plane/changelog.md
Labels: marketplace

#1946 chore(docs): update CSV Connector Plugin documentation
  docs/runtime_suite/csv-connector-plugin/configuration.md
Labels: marketplace

#1941 chore(docs): update Auth0 Client documentation
  docs/runtime_suite/auth0-client/changelog.md
Labels: marketplace

#1933 chore(docs): update Pharma Ecommerce Backend documentation
  docs/runtime_suite/pharma-ecommerce-backend/10_overview.md
Labels: marketplace

#1931 chore(docs): update Integration Tests Service documentation
  docs/runtime_suite/integration-tests-service/10_overview.md
Labels: marketplace

#1927 chore(docs): update Teleconsultation Service Frontend documentation
  docs/runtime_suite/teleconsultation-service-frontend/changelog.md
Labels: marketplace

#1923 chore(docs): update Scoring Manager documentation
  docs/runtime_suite_applications/scoring-manager/30_configuration.md
Labels: marketplace

#1915 chore(docs): update Temporary Password Generator documentation
  docs/runtime_suite/temporary-password-generator/10_overview.md
Labels: marketplace

#1914 chore(docs): update SQL DB Reader documentation
  docs/runtime_suite/sql-db-reader/configuration_and_usage.md
Labels: marketplace

#1913 chore(docs): update SQL Invoker documentation
  docs/runtime_suite/sql-invoker/configuration_and_usage.md
Labels: marketplace

#1909 chore(docs): update MongoDB Reader documentation
  docs/runtime_suite/mongodb-reader/10_configuration.md
Labels: marketplace

#1908 chore(docs): update Mongo2Kafka documentation
  docs/runtime_suite/mongo2kafka/configuration.md
Labels: marketplace

#1907 chore(docs): update File Bucket documentation
  docs/runtime_suite_applications/file-bucket/10_overview.md
Labels: marketplace

#1904 chore(docs): update Cron Scheduler documentation
  docs/runtime_suite/cron-scheduler/overview.md
Labels: marketplace

#1901 chore(docs): update Back Kit documentation
  docs/microfrontend-composer/back-kit/changelog.md
Labels: marketplace, microfrontend-composer

#1885 chore(docs): update Form Service Backend documentation
  docs/runtime_suite/form-service-backend/10_overview.md
  docs/runtime_suite/form-service-backend/changelog.md
Labels: marketplace

#1883 chore(docs): update Form Service Frontend documentation
  docs/runtime_suite/form-service-frontend/10_overview.md
  docs/runtime_suite/form-service-frontend/changelog.md
Labels: marketplace

#1868 chore(docs): update Notification Manager Service documentation
  docs/runtime_suite/notification-manager-service/20_configuration.md
  docs/runtime_suite/notification-manager-service/30_usage.md
  docs/runtime_suite/notification-manager-service/changelog.md
Labels: marketplace

#1579 chore(docs): update Mia FHIR Adapter documentation
  docs/runtime_suite/mia-fhir-adapter/10_overview_and_usage.md
  docs/runtime_suite/mia-fhir-adapter/20_files_management.md
  docs/runtime_suite/mia-fhir-adapter/30_configuration.md
  docs/runtime_suite/mia-fhir-adapter/_category_.json
  docs/runtime_suite/mia-fhir-adapter/changelog.md
  docs/runtime_suite/mia-fhir-adapter/img/mapping-procedure-schema.png
  docs/runtime_suite/mia-fhir-adapter/img/translation-example-schema.png
Labels: marketplace

#1945 chore(docs): update Care Kit documentation
  docs/runtime_suite/care-kit/changelog.md
Labels: marketplace

#1950 chore(docs): update mlp documentation
  docs/runtime_suite_tools/mlp/20_setup.md
  docs/runtime_suite_tools/mlp/changelog.md
Labels: marketplace

#1850 chore(docs): update miactl documentation
  docs/cli/miactl/20_setup.md
Labels: marketplace, cli

#1949 chore(docs): update Fast Data Control Plane Operator documentation
  docs/runtime_suite/fast-data-control-plane-operator/changelog.md
Labels: marketplace
