Repository mia-platform/documentation, pull requests merged in 2025-02, with the labels that each got.

#1959 chore(docs): update Microfrontend Composer Toolkit documentation
  docs/runtime_suite_applications/microfrontend-composer-toolkit/changelog.md
Labels: marketplace

#1958 chore(docs): update Microfrontend Composer On Prem Toolkit documentation
  docs/runtime_suite_applications/microfrontend-composer-on-prem-toolkit/changelog.md
Labels: marketplace

#1956 chore(docs): update Back Kit documentation
  docs/microfrontend-composer/back-kit/changelog.md
Labels: marketplace, microfrontend-composer

#1955 chore(docs): update CSV Connector documentation
  docs/runtime_suite_applications/csv-connector/overview.md
Labels: marketplace

#1953 chore(docs): update CRUD SQL documentation
  docs/runtime_suite/crud-sql/30_how_to_use.md
Labels: marketplace

#1944 chore(docs): update AI RAG Template documentation
  docs/runtime_suite_templates/ai-rag-template/changelog.md
Labels: marketplace

#1942 chore(docs): update Data Catalog documentation
  docs/runtime_suite_applications/data-catalog/changelog.md
Labels: marketplace

#1957 chore(docs): update Fast Data Control Plane documentation
  docs/runtime_suite_applications/fast-data-control-plane/changelog.md
Labels: marketplace

#1969 chore(docs): update Single View Trigger Generator documentation
  docs/runtime_suite/single-view-trigger-generator/changelog.md
Labels: marketplace

#1967 chore(docs): update Real-Time Updater documentation
  docs/runtime_suite/real-time-updater/changelog.md
Labels: marketplace

#1966 chore(docs): update Projection Storer documentation
  docs/runtime_suite/projection-storer/changelog.md
Labels: marketplace

#1940 Edit/data fabric open lineage migration
  docs/data_catalog/compatibility_matrix.md
  docs/data_catalog/data_catalog_fabric_bff.mdx
  docs/data_catalog/data_catalog_open_lineage.mdx
  docs/data_catalog/secure_access.mdx
  docs/development_suite/api-console/api-design/endpoints.md
  docs/fast_data/configuration/projections.md
  docs/fast_data/runtime_management/compatibility_matrix.md
  docs/fast_data/runtime_management/control_plane.mdx
  docs/fast_data/runtime_management/control_plane_fabric_bff.mdx
  docs/fast_data/runtime_management/control_plane_frontend.mdx
  docs/fast_data/runtime_management/control_plane_operator.mdx
  docs/fast_data/runtime_management/secure_access.md
  docs/fast_data/runtime_management/snippets/fabric_bff_credentials_viewer.mdx
  docs/fast_data/runtime_management/workloads.mdx
  static/schemas/fast-data-control-plane-client-config.schema.json
Labels: fast-data

#1971 docs(fast-data): update compatibility-matrix of runtime management
  docs/fast_data/runtime_management/compatibility_matrix.md
Labels: fast-data

#1970 chore(docs): update installation-chart documentation
  docs/infrastructure/self-hosted/installation-chart/100_how-to-upgrade.md
  docs/infrastructure/self-hosted/installation-chart/helm-values/30_service-specific-configurations.md
Labels: marketplace

#1981 added import kubernetes via miactl feature
  docs/release-notes/v13.6.0.md
Labels: release-note

#1991 Revert "chore(docs): update API Documentation Aggregator documentation"
  docs/runtime_suite_applications/api-documentation-aggregator/30_faqs.md
Labels: marketplace

#1992 chore(docs): update API Documentation Aggregator documentation
  docs/runtime_suite_applications/api-documentation-aggregator/30_faqs.md
  docs/runtime_suite_applications/api-documentation-aggregator/changelog.md
Labels: marketplace

#2001 chore(docs): update API Documentation Aggregator documentation
  docs/runtime_suite_applications/api-documentation-aggregator/30_faqs.md
Labels: marketplace

#1977 chore(docs): update Swagger Aggregator documentation
  docs/runtime_suite/swagger-aggregator/10_overview.md
  docs/runtime_suite/swagger-aggregator/20_configuration.md
  docs/runtime_suite/swagger-aggregator/30_apis.md
  docs/runtime_suite/swagger-aggregator/changelog.md
Labels: marketplace

#2003 chore(docs): update API Portal documentation
  docs/runtime_suite/api-portal/20_configuration.md
Labels: marketplace

#1993 set up rn v13.6.1
  docs/release-notes/v13.6.0.md
  docs/release-notes/v13.6.1.md
  docs/release-notes/versions.md
  sidebars.json
Labels: release-note

#2007 removed improvement miactl on RN v13.6.1
  docs/release-notes/v13.6.1.md
Labels: release-note

#1974 chore(docs): update FHIR Adapter documentation
  docs/runtime_suite/fhir-adapter/changelog.md
Labels: marketplace

#2014 updated: docs to change the stable version
  docs/release-notes/v13.6.0.md
Labels: release-note

#2015 update: 13.6.1 release note with chart helm to v13.10.1
  docs/release-notes/v13.6.1.md
Labels: release-note
