Repository mia-platform/documentation, pull requests merged in 2025-09, with the labels that each got.

#2253 chore(docs): update miactl documentation
  .cspell.json
  docs/cli/miactl/20_setup.md
  docs/cli/miactl/30_commands.md
  docs/cli/miactl/40_examples.md
  docs/cli/miactl/changelog.md
Labels: marketplace, cli

#2268 chore(docs): update MCP Server documentation
  docs/mcp/mcp-server/20_setup.md
Labels: marketplace

#2315 setup RN 14.2.1
  docs/release-notes/img/microservice-table.png
  docs/release-notes/stable versions.md
  docs/release-notes/v14.2.0.md
  docs/release-notes/v14.2.1.md
  docs/release-notes/versions.md
  sidebars.json
Labels: release-note

#2318 add gantt chart
  docs/info/version_policy.md
  docs/release-notes/stable-versions.md
  docs/release-notes/support-policy.md
  src/components/Gantt/index.js
  src/components/Gantt/styles.module.css
  src/config/homepage.json
  src/config/stable-versions.json
  src/pages/index.js
Labels: release-note

#2324 New/rn and versions
  CONTRIBUTING.md
  docs/release-notes/roadmap.md
  docs/release-notes/stable-versions.md
  docs/release-notes/v14.0.0.mdx
  src/components/Accordion/FeatureItem.js
  src/components/Accordion/FeatureList.js
  src/components/Accordion/featureItem.module.css
  src/components/Accordion/featureList.module.css
  src/components/Accordion/index.js
  src/components/Accordion/styles.module.css
  src/components/Gantt/index.js
  src/config/examples/roadmap.json
  src/config/examples/stable-versions.json
  src/config/examples/versions.json
  src/config/release-notes/release-note-v14-0-0.json
  src/config/roadmap.json
  src/config/stable-versions-gantt.json
  src/config/stable-versions-table.json
Labels: release-note
